<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Оповещение</h1>
    <p>Оставлена заявка на покупку тура в отель <%=@hotel%> c <%=@depart_date%> по <%=@arrive_date%></p>
    <br>
    <p>Можете связаться с нами по телефону 8-800-500-53-16 или по email jujava@mail.ru</p>
    <br>
    <p>C уважением, администрация poedemvtur.herokuapp.com</p>
  </body>
</html>