.country{
  overflow-x:hidden;
  .container{
    @media (min-width: 920px){
      width:970px;
    }
  }
  &-header{
    background:url(../img/country-header-bg.jpg) top center no-repeat;
    background-size:cover;
    color:$white;
    &-top{
      padding:36px 0 10px;
      background:rgba(0,0,0,0.36);
      .hotel-name,
      .hotel-breadcrumbs{
        color:$white;
      }
      .hotel-name{
        font-size:36px;
        @media (max-width:$tablet){
          font-size:30px;
        }
      }
      .hotel-breadcrumbs{
        .sep,a{
          color:$white;
        }
        .sep{
          margin:0 15px 0 5px;
        }
      }
      hr{
        @include opacity(0.25);
        margin:27px 0;
        @media (max-width:$tablet){
          margin-bottom:10px;
        }
      }
    }
    .hotel-search--container{
      margin:0;
      background:none;
    }
    &-search{
      background:rgba(0,0,0,0.36);
      .hotel-search--form{
        background:transparent;
        padding:0 0 42px;
        position:relative;
        z-index: 2;
      }
      .hotel-search--date{
        position: relative;
        z-index: 1;
      }
      .hotel-search--date .roundtour-date--wrapper{
        background:rgba(0,0,0,0.74);
      }
      .hotel-search--date .roundtour-date--top{
        background:rgba(0,0,0,0.46);
      }
      .hotel-search--date .roundtour-date--days{
        padding:35px 0 20px;
      }
    }
  }
  &-part-header{
    font-family: $font-museo;
    font-size:30px;
    text-transform: uppercase;
    font-weight:300;
    line-height:120%;
    margin:15px 0 5px;
    @media (max-width:$tablet){
      font-size:24px;
      text-align: center;
    }
    @media (max-width:$mobile){
      font-size:18px;
    }
  }
  &-part-desc{
    color:#8e8e8e;
    font-family: $font-roboto;
    font-size:16px;
    margin:0 0 10px;
    line-height:120%;
    font-weight:normal;
    @media (max-width:$tablet){
      font-size:12px;
      text-align: center;
    }
  }
  &-chart{
    background:$white;
    padding:20px 0;
    @media (max-width:$tablet){
      padding:10px;
    }
    .country-part-desc{
      display: inline-block;
      width:100%;
      line-height:23px;
    }
    &-prev,&-next{
      display:none;
      width:21px;
      height:21px;
      font-size:16px;
      border:1px solid #d7d7d7;
      color:#d7d7d7;
      @include border-radius(50%);
      text-align: center;
      line-height: 17px;
      @media (max-width:$mobile){
        display: inline-block;
      }
    }
    &-prev{
      float:left;
    }
    &-next{
      float:right;
    }
    &-slider{
      width:100%;
      overflow: hidden;
    }
    &-list{
      margin:39px 0 15px;
      @media (max-width:$mobile){
        width:calc(300% + 28px);
        @include transition(all 1s ease);
        &_slide2{
          @include transform(translateX(calc(-33% - 7px)));
        }
        &_slide3{
          @include transform(translateX(calc(-66% - 14px)));
        }
      }
      .row{
        margin-left:-7px;
        margin-right:-7px;
      }
      .col-xs-1{
        padding-right:0;
        @media (max-width:$tablet){
          padding:0 7px;
        }
      }
      a{
        display: block;
        text-align: center;
        text-decoration: none;
        color:#828282;
        @include transition(color .3s ease);
      }
      .line{
        display: block;
        width:100%;
        height:208px;
        position: relative;
      }
      .percent{
        display: block;
        width:100%;
        position: absolute;
        bottom:0;
        left:0;
        background:$yellow;
        @include transition(background 1s ease);
      }
      .text{
        display: block;
        @include border-radius(10px);
        border:1px solid transparent;
        line-height: 140%;
        font-family: $font-roboto;
        font-weight:700;
        font-size: 16px;
        margin-top:18px;
        @include transition(border-color .5s ease, color .3s ease);
        @media (max-width:$tablet){
          font-size:12px;
          margin-top:10px;
        }
      }
      a:hover,&_active{
        color:#1f1f1f;
        .text{
          color:#1f1f1f;
          border-color:#aeaeae;
        }
      }
      &_active{
        .percent{
          background:#363635;
        }
      }
    }
  }
  &-resorts{
    padding:32px 0 0;
    @media (max-width:$tablet){
      padding-top:10px;
    }
    &_popular{
      background:url('../img/country-resorts-bg_popular.jpg') top center repeat #f4cd23;
      background-size:contain;
      padding-bottom:32px;
      @media (max-width:$tablet){
        padding-bottom:10px;
      }
    }
    &-list{
      margin:17px 0 20px -30px;
      width:calc(100% + 60px);
      @media (max-width:$mobile){
        margin-top:0;
        margin-bottom:0;
      }
    }
    &-item{
      border:1px solid transparent;
      border-bottom-color:#d1d1d1;
      margin-top:-1px;
      @include transition(border .3s ease);
      &:hover{
        border-color:#d1d1d1 !important;
        & + div{
          border-bottom-color:transparent;
        }
      }
      &:last-child{
        border-bottom-color:transparent;
      }
      &_popular{
        border-bottom-color:#d2b01e;
        &:last-child{
          border-bottom-color:#d2b01e;
        }
        &:hover{
          border-color:transparent !important;
          border-bottom-color:#d2b01e !important;
        }
        .country-resorts-item-header{
          color:$color-dark;
        }
      }
      a{
        display: block;
        text-decoration: none;
        padding:30px;
        @include transition(background .3s ease);
      }
      &-img{
        padding-right:20px;
        width:270px;
        float:left;
        img{
          max-width:100%;
          height:auto;
          @media (max-width:$mobile){
            width:100%;
          }
        }
        @media (max-width:$mobile){
          width:100%;
          padding-right:inherit;
          float:none;
          margin:15px 0 0;
        }
      }
      &-content{
        overflow: hidden;
      }
      &-header{
        margin:0;
        font-family: $font-museo;
        font-weight:900;
        color:$yellow;
        text-decoration: underline;
        font-size:22px;
        text-transform: uppercase;
        display: block;
        @include transition(color .3s ease);
        overflow: hidden;
        max-height:50px;
        &:hover{
          text-decoration: none;
        }
      }
      &-country{
        margin:5px 0;
        font-family: $font-museo;
        color:#927915;
        font-size:12px;
      }
      &-info{
        margin:-4px 0 0;
        padding:0;
        font-size:14px;
        font-family: $font-roboto;
        color:$color-dark;
        line-height: 140%;
        @media (max-width:$tablet){
          margin:20px 0 0 5px;
        }
        &--item{
          list-style-type: none;
          position:relative;
          padding-left:28px;
          margin:1px 0;
          &::before{
            content:'';
            position: absolute;
            left:-2px;
            top:3px;
          }
          &_weather::before{
            @extend .icons-country-resorts_weather;
            left:-3px;
          }
          &_water::before{
            @extend .icons-country-resorts_water;
            left:-1px;
          }
          &_beach::before{
            @extend .icons-country-resorts_beach;
            top:7px;
          }
        }
        .strong{
          font-weight: 900;
        }
      }
      &-buttons{
        margin:24px 0 0;
        @media (max-width:$tablet){
          margin:0;
        }
        @media (max-width:$mobile){
          margin:20px 0 0;
        }
        .btn{
          border:none;
          border-bottom:3px solid transparent;
          font-family: $font-roboto;
          font-size:18px;
          font-weight: 700;
          line-height:25px;
          @include border-radius(2px);
          color:$white;
          margin-right:33px;
          @include transition(all .3s ease);
          outline:none;
          &:active{
            @include transform(translateY(3px));
            outline:none;
          }
          @media (max-width:$tablet){
            margin-right:0;
          }
          @media (max-width:$mobile){
            width:100%;
          }
        }
      }
      &-price.btn{
        background:#bb5b2b;
        border-color:#95441c;
        font-size:23px;
        text-transform: uppercase;
        min-width:167px;

      }
      &-price_learn.btn{
        font-size:18px;
      }
      &-aboutbtn.btn{
        background:#323232;
        border-color:#1b1b1b;
        min-width:144px;
        @include opacity(0);
        @include transition(all .3s ease);
        @media (max-width:$mobile){
          display: none;
        }
      }
      a:hover{
        background:$white;
        .country-resorts-item{
          &-header{
            color:#bb5b2b;
          }
          &-price{
            background:$blue;
            border-color:#035cb4;
            &:hover{
              background:#0265c7;
              border-color:#044e98;
            }
          }
          &-aboutbtn{
            @include opacity(1);
            &:hover{
              background:#232323;
              border-color:#0e0e0e;
            }
          }
        }
      }
    }
    &-button{
      text-align: center;
      margin:40px 0 15px;
      @media (max-width:$tablet){
        margin:30px 0 20px;
      }
    }
    &-showmore{
      font-size:15px;
      font-family: $font-museo;
      font-weight:900;
      text-transform: uppercase;
      color:$color-dark;
      border:1px solid #bc9e1b;
      min-width:190px;
      line-height:26px;
      @include transition(all .3s ease);
      &:hover{
        background:#bc9e1b;
      }
    }
  }
  &-info{
    &-header{
      color:$yellow;
      text-transform: uppercase;
      font-size:30px;
      line-height: 120%;
      font-family: $font-museo;
      font-weight:900;
      margin-bottom:35px;
      @media (max-width:$tablet){
        margin:20px 0;
      }
      @media (max-width:$mobile){
        background:#000;
        font-size:18px;
        width:calc(100% + 30px);
        margin:0 0 20px -15px;
        padding:15px;
      }
    }
    &-text{
      font-size:14px;
      font-family: $font-roboto;
      line-height: 120%;
      p{
        margin-bottom:19px;
        text-align: justify;
      }
      h6{
        font-size:14px;
        font-weight:900;
        margin-bottom:19px;
      }
    }
    &-main{
      display: inline-block;
      max-width:240px;
      width:100%;
      text-align: left;
      @media (max-width:$tablet){
        max-width:100%;
        text-align: center;
      }
    }
    &-hotels{
      margin:7px 0 55px;
      position: relative;
      @include border-radius(50%);
      border:1px solid $yellow;
      padding:12px;
      display: inline-block;
      text-align: center;
      @media (max-width:$tablet){
        width:100%;
        background:$yellow;
        @include border-radius(0);
        text-align: center;
        padding:12px 12px 5px;
        margin:20px 0;
      }
      a{
        &:hover{
          .country-info-hotels{
            &-location{
              span{
                @include animation(location 1s infinite);
              }
            }
          }
        }
      }
      @include keyframes(location){
        0%{
          @include transform(translateY(0));
        }
        25%{
          @include transform(translateY(-4px));
        }
        50%{
          @include transform(translateY(0));
        }
        75%{
          @include transform(translateY(-4px));
        }
        100%{
          @include transform(translateY(0));
        }
      }
      &-numbers{
        position: absolute;
        top:80px;
        left:0;
        width:100%;
        font-size:65px;
        font-weight:900;
        font-family: $font-museo;
        color:$white;
        line-height: 80%;
        @media (max-width:$tablet){
          position: static;
          color:#393939;
          font-weight:700;
          font-size:24px;
          display: inline;
        }
        .name{
          display: none;
          @media (max-width:$tablet){
            display: inline;
          }
        }
        span{
          font-weight:300;
          font-size:27px;
          display: block;
          line-height: 100%;
          @media (max-width:$tablet){
            font-size: inherit;
            font-weight: inherit;
            display:inline;
          }
        }
      }
      &-location{
        position: absolute;
        display: inline-block;
        width:78px;
        height:78px;
        @include border-radius(50%);
        background:$yellow;
        text-align: center;
        line-height: 78px;
        right:-15px;
        top:0;
        @include transition(all .3s ease);
        @media (max-width:$tablet){
          position: relative;
          right:0;
          top:-5px;
          width:auto;
          height:auto;
          @include border-radius(0);
          background:transparent;
          line-height: 100%;
          display: inline;
          margin-right:35px;
        }
        span{
          vertical-align: middle;
        }
        .icon-black{
          display: none;
        }
        @media (max-width:$tablet){
          .icon-white{
            display: none;
          }
          .icon-black{
            display: inline-block;
          }
        }
      }
    }
    &-select{
      margin-bottom:10px;
      .form-control{
        font-family: $font-museo;
        font-size:24px;
        font-weight:700;
        height:43px;
        margin-bottom:6px;
        @include border-radius(0);
        color:#2c2b2b;
      }
    }
    &-weather{
      font-family: $font-roboto;
      span{
        display: block;
        position: relative;
      }
      .day{
        color:$yellow;
        font-size:44px;
        font-weight:700;
        padding-left:55px;
        &::before{
          content:'';
          position: absolute;
          left:0;
          top:12px;
          @extend .icons-country-info-weather-day;
        }
      }
      .night{
        color:#444444;
        font-size:26px;
        font-weight:300;
        padding-left:35px;
        margin:5px 0;
        &::before{
          content:'';
          position: absolute;
          left:4px;
          top:7px;
          @extend .icons-country-info-weather-night;
        }
      }
    }
  }
  &-photo{
    margin:27px 0;
    @media (max-width:$tablet){
      margin:0;
    }
    &-slider{
      .slick-list{
        margin:0 -2px;
      }
      .item{
        margin:0 2px;
        overflow: hidden;
        position: relative;
        &::before{
          content:'';
          display: block;
          margin-top:100%;
        }
        @media (max-width:$tablet){
          height:177px;
        }
        &:hover{
          .country-photo-zoom{
            background:rgba(0,0,0,0.3);
            .fa{
              margin-top:96px;
              @include opacity(1);
            }
          }
        }
        a{
          position: absolute;
          display: block;
          left:0;
          top:0;
        }
      }
      .slick-arrow{
        position: absolute;
        top:50%;
        display:inline-block;
        background:#060606;
        width:53px;
        height:61px;
        border:none;
        text-align: center;
        margin-top:-36px;
        z-index:2;
        line-height: 50px;
        outline:none;
        @include transition(all .3s ease);
        span{
          vertical-align: middle;
        }
      }
      .slick-prev{
        left:-26px;
        &:hover{
          @include transform(translateX(-10px));
        }
      }
      .slick-next{
        right:-26px;
        &:hover{
          @include transform(translateX(10px));
        }
      }
      img{
        width:auto;
        height:auto;
        min-width:100%;
        max-width:200%;
        min-height: 100%;
        max-height:200%;
      }
    }
    &-zoom{
      position: absolute;
      display: inline-block;
      left:0;
      top:0;
      font-size:30px;
      color:$white;
      background:transparent;
      @include transition(background .3s ease);
      width:100%;
      height:100%;
      text-align: center;
      .fa{
        margin-top:-20px;
        @include opacity(0);
        @include transition(all .3s ease);
      }
    }
  }
  &-video{
    margin:45px 0 40px;
    @media (max-width:$tablet){
      margin:15px 0;
      .container{
        width:100%;
        padding:0;
      }
    }
    &-link{
      display: table;
      overflow: hidden;
      background:url('../img/country-video-bg.jpg') top center no-repeat;
      height:468px;
      text-align: center;
      @include box-sizing;
      color:$white;
      font-family: $font-roboto;
      width:100%;
      &:hover{
        color:$white;
        text-decoration: none;
        .country-video{
          &-name{
            @include transform(translateY(-35px));
          }
          &-helptext{
            @include transform(translateY(-35px));
          }
          &-icon{
            @include transform(scale(1.2,1.2));
          }
        }
      }
    }
    &-content{
      display: table-cell;
      vertical-align: middle;
    }
    &-name{
      font-size:48px;
      font-weight: normal;
      margin:0;
      @include transition(all .3s ease);
    }
    &-helptext{
      font-size:24px;
      font-weight:100;
      margin:0;
      @include transition(all .3s ease);
    }
    &-icon{
      font-size:32px;
      border:6px solid $white;
      @include border-radius(50%);
      display: inline-block;
      width:80px;
      height:80px;
      @include box-sizing;
      line-height: 67px;
      margin:25px 0;
      @include transition(all .3s ease);
      .fa{
        margin-left:5px;
      }
    }
  }
  &-resorts-links{
    padding-bottom:59px;
    @media (max-width:$mobile){
      padding:0 0 30px;
    }
    .country-part-header{
      @media (max-width:$tablet){
        text-align: left;
      }
      @media (max-width:$mobile){
        width: calc(100% + 30px);
        margin: 0 0 0 -15px;
        padding:15px;
        background:$yellow;
        text-align: center;
      }
    }
    &-list{

    }
    &-menu{
      margin:28px 0;
      padding:0;
      li{
        list-style-type: none;
        font-size:16px;
        font-family:$font-roboto;
        color:#c2c2c2;
        line-height: 120%;
        margin:10px 0;
        font-weight:700;
        @media (max-width:$tablet){
          font-size:18px;
        }
      }
      a{
        border-bottom:1px solid #476cad;
        color:#476cad;
        margin-right:15px;
        @include transition(color .3s ease, border-color .3s ease);
        &:hover{
          text-decoration: none;
          border-color:transparent;
          color:$color-dark;
        }
      }
    }
  }
  &-notfound{
    background:url('../img/country-notfound-bg.jpg') center bottom repeat-x $yellow;
    background-size: cover;
    padding:30px 0 87px;
    color:#282828;
    position: relative;
    &--tour{
      padding:7% 10% !important;
      height:303px;
      @media (max-width:$tablet){
        height:309px;
      }
    }
    &--sub{
      background:#ffffff;
      &::before,
      &::after{
        content:'';
        display: block;
        height:9px;
        width:100%;
        position: absolute;
        left:0;
        z-index:2;
        background:url('../img/form-notfound-sub-bg_h.png') right top repeat-x #fff;
      }
      &::before{
        top:0;
      }
      &::after{
        bottom:0;
      }
    }
    &__line{
      display: block;
      height:100%;
      width:9px;
      position: absolute;
      top:0;
      z-index:1;
      background:url('../img/form-notfound-sub-bg_v.png') left bottom repeat-y#fff;
      &--left{
        left:0;
      }
      &--right{
        right: 0;
      }
    }
    @media (max-width:$tablet){
      padding:15px 0 60px;
    }
    &-header{
      margin:0;
      font-family:$font-museo;
      font-weight:100;
      font-size:50px;
      line-height: 120%;
      strong{
        font-weight:700;
      }
      @media (max-width:$tablet){
        font-size:36px;
        margin-top:8px;
      }
      @media (max-width:$mobile){
        line-height:90%;
        strong{
          display: block;
        }
      }
      &--tour{
        font-size:46px;
        line-height:90%;
        @media (min-width:$wide){
          font-size:42px;
        }
        @media (max-width:$mobile){
          font-size:42px;
        }
        @media (min-width:$mobileM) and (max-width:$tablet){
          strong{
            display: inline;
          }
        }
        @media (max-width:$tablet){
          br{
            display: none;
          }
        }
      }

    }
    &-text{
      font-family: $font-roboto;
      font-weight:300;
      font-size:18px;
      line-height: 120%;
      margin:10px 0;
      &--tour{
        font-size:16px;
        margin:1.5em 0;
        @media (min-width:$wide){
          font-size: 14px;
        }
      }
      @media(max-width:$tablet){
        font-size:13px;
        line-height:140%;
      }
    }
    &-form{
      margin:14px 0;
      @include border-radius(2px);
      overflow: hidden;
      background:$white;
      @include transition(background .3s ease);
      &--tour{
        max-width:300px;
      }
      &--sub{
        border:1px solid #cfcfcf;
      }
      &_submit{
        background:transparent;
        border-color:transparent;
      }
      @media (max-width:$mobile){
        margin:25px 0 14px;
      }
      .form-control{
        @include border-radius(0);
        width:84%;
        float:left;
        height:43px;
        font-size:16px;
        padding:5px 10px;
        box-shadow: none;
        border:none;
        outline:none;
        @media (max-width:$tablet){
          font-size:12px;
          height:34px;
        }
      }
      .form-send{
        width:16%;
        float:right;
        background:#000;
        color:$white;
        height:43px;
        font-size: 16px;
        @include border-radius(2px);
        outline:none;
        position: relative;
        &--yellow{
          background:#f3c81a;
          color:#000;
        }
        .text1{

        }
        .text2{
          position: absolute;
          left:14px;
          top:9px;
          display: none;
        }
        @media (max-width:$tablet){
          height:34px;
          font-size:12px;
        }
      }
    }
    &-call{
      font-family: $font-roboto;
      font-size:18px;
      @include transition(all .5s ease);
      &.success{
        font-size:16px;
        margin-top:-47px;
        @media (max-width:$tablet){
          font-size:inherit;
          margin-top:-41px;
        }
      }
      .text2{
        display: none;
      }
      @media (max-width:$tablet){
        font-size:13px;
      }
    }
  }
  &-map{
    width:100%;
    height:100%;
    position: relative;
    z-index: 1;
    &-wrapper{
      width:100%;
    }
    &-close{
      position: absolute;
      display: inline-block;
      top:0;
      right:0;
      background:rgba(0,0,0,0.7);
      color:$white;
      z-index:2;
      border:none;
      padding:15px;
      line-height: 100%;
      outline: none !important;
      @include transition(background .3s ease);
      &:hover{
        background:rgba(0,0,0,0.85);
      }
    }
  }
}
.ymaps-layers-pane {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}