.body-main{
  margin-bottom:0 !important;
  #all-header{
    padding-top:14px;
    background:rgba(0,0,0,0.61);
    height:80px;
    .header-link{
      margin-top:15px;
    }
    &.fixed-theme{
      border-bottom:none;
      color:#fff;
      height:auto;
      .header-link{
        margin-top:0;
        &:after{
          background:#fff;
        }

      }
      #logo{
        a:before,a:after{
          background:#fff;
        }

      }

    }

  }
  #login-link{
    top:20px;
    &.fixed-theme{
      color:#fff;
      top:5px;
      circle{
        stroke:#fff;
      }

    }

  }
  #nav-toggle{
    top:29px;
    &.fixed-theme{
      color:#fff;
      top:15px;
      *{
        background:#fff;
      }

    }
  }
  .footer-container{
    margin-top:-287px;
  }

  footer{
    background:rgba(20,20,20,0.94);

    .nav-footer{
      li{
        border-bottom:none;
      }

    }
    .copyright{
      p{
        font-family: 'Museo Sans';
        font-weight:300;
      }

    }

  }

  footer.fixed{
    position: absolute;
    left:auto;
    right:auto;
    width:100%;
    visibility: visible;
  }

}
.footer-main-top{
  position: absolute;
  bottom:100%;
  width:100%;
  left:0;
  img{
    width:100%;
    height:auto;
    display: block;
  }

}

.header-main-bg{
  width:100%;
  height:80px;
  background:rgba(0,0,0,0.61);
  position: absolute;
  left:0;
  top:0;
  z-index:1;
}

.main-slider{
  width:100%;
  position:relative;
  .slide{
    height:100%;
    background-position: center center;
    background-size:cover;
    position: relative;
    //display: none;
    height:1366px;

  }
  .slick-dots{
    position: absolute;
    top:200px;
    right:50%;
    margin:0 -585px 0 0;
    z-index:3;
    padding:0;
    li{
      list-style-type: none;
      //border:1px solid transparent;
      padding:10px;
      @include border-radius(50%);
      margin:5px 0;
      cursor:pointer;
      position: relative;
      overflow: hidden;
      &:after{
        content:'';
        display: block;
        width:100%;
        height:100%;
        border:1px solid transparent;
        top:-100%;
        left:0;
        position: absolute;
        @include border-radius(50%);
        @include transition(all .3s ease);
      }

    }
    .slick-active{
      //border-color:#fff;
      &:after{
        top:0;
        border-color:#fff;
      }

    }

    button{
      text-indent:-9999px;
      @include border-radius(50%);
      width:8px;
      height:8px;
      background:#fff;
      box-shadow:none;
      border:none;
      position: relative;
      display: block;
      padding:0;
      outline:none;
    }

  }

}
.hidden{
  @include opacity(0);
  display: none;
}

.slide-content{
  background:url(../img/main-lines.png) center center repeat;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
}

.slide-text{
  color:#fff;
  margin:165px 0 0 -15px;
  font-size:50px;
  font-family: 'helveticaneuecyr';
  font-weight:500;
  line-height:120%;
}

.main-content{
  position: absolute;
  width:100%;
  top:80px;
  left:0;
  z-index:2;
  .container{

  }

}
.main-roundtour{
  //@include linear-gradient(#f39f1a,#f3c81a);
  margin:70px 0 0;
  //overflow: hidden;
  //@include transform(skewY(5deg));
  color:#212121;
  font-family: 'helveticaneuecyr';
  //@include border-radius(5px);
  position:relative;
  z-index:4;
  //height:500px;
  h2{
    text-align:center;
    font-weight:700;
  }
  &:before{
    content:'';
    height:100%;
    width:100%;
    top:0;
    left:0;
    display:block;
    @include linear-gradient(#f39f1a,#f3c81a);
    @include transform(skewY(5deg));
    @include border-radius(5px);
    position: absolute;
    z-index:1;
  }
  &:after{
    content:'';
    height:100%;
    width:100%;
    top:0;
    left:0;
    display: block;
    position: absolute;
    z-index:2;
    background:url(../img/roundtour-bg.png);
  }

}
.main-roundtour-content{
  //@include transform(skewY(-5deg));
  height:100%;
  padding:10px 40px 65px;
}
.main-roundtour-text{
  position: relative;
  z-index:3;
}

.roundtour-radio{
  display: inline-block;
  margin:0;
  padding:0;
  width:100%;
  height:30px;
  li{
    float:left;
    width:50%;
    list-style-type:none;
  }
  .custom-radio{
    float:left;
    margin-right:10px;
  }
  label{
    font-size:16px;
    font-weight:normal;
    line-height:28px;
    cursor:pointer;
  }

}
.custom-radio{
  & {
    -webkit-appearance: none; /* remove default */
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin: 10px;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #fff;
    background-image: -webkit-radial-gradient( hsla(0,0%,13%,1) 0%, hsla(0,0%,13%,1) 15%, hsla(200,100%,60%,.0) 28%, hsla(200,100%,30%,0) 70% );
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1),
      -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none !important;

  }
  &:checked {
    -webkit-transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1),
    /*-webkit-transform .25s cubic-bezier(0, 0, .2, 1);*/
  }
  &:active {
    //-webkit-transform: scale(1.2);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
  }



  /* The up/down direction logic */

  &,
  &:active {
    background-position: 0 18px;
  }
  &:checked {
    background-position: 0 0;
  }
  &:checked ~ &,
  &:checked ~ &:active {
    background-position: 0 -18px;
  }
}
.custom-radio1{
  display: none;
  & + label{
    position: relative;
    overflow: hidden;
  }
  & + label:before{
    content:'';
    display: inline-block;
    background:#fff;
    width:18px;
    height:18px;
    @include border-radius(50%);
    border:6px solid #fff;
    margin:0 10px -3px 0;
    @include transition(all .3s ease);
  }
  &:checked + label:before{
    //background:#000;
  }
  & + label:after{
    content:'';
    width:6px;
    height:6px;
    position: absolute;
    left:6px;
    top:-10px;
    @include border-radius(50%);
    background:#000;
    display: inline-block;
    @include transition(all .3s ease);
    box-shadow:0 0 1px rgba(0,0,0,0.3);
    @include opacity(0);
  }

  &:checked + label:after{
    @include opacity(1);
    top:10px;
  }

}

.roundtour-city{
  font-size:16px;
  line-height:100%;
  margin:10px 0 15px;
  position:relative;
  a{
    text-decoration:none;
    color:#a73107;
    border-bottom:1px dotted #a73107;
    @include transition(border .3s ease);
    &:hover{
      border-bottom-color:transparent;
    }

  }

}
.roundtour-city--submenu{
  position: absolute;
  left:112px;
  top:-12px;
  background:#f2f2f2;
  box-shadow:0 0 5px rgba(0,0,0,0.16);
  z-index:3;
  font-family: 'helveticaneuecyr';
  display: none;
}
.roundtour-city--search{
  border:none;
  @include border-radius(0);
  font-family: 'helveticaneuecyr';
  font-size:16px;
  font-weight:500;
  color:#212121;
  box-shadow:none !important;
  height:40px;
  line-height:40px;
  padding:0 15px;
  @include input-placeholder{
    color:#212121;
  }

}
.roundtour-city--close{
  position: absolute;
  display: inline-block;
  right:15px;
  top:13px;
  border:none !important;
}

.roundtour-city--wrapper{
  height:200px;
  overflow: auto;
}
.roundtour-city--list{
  margin:0 20px 0 0;
  padding:0;
  font-weight:300;
  li{
    list-style-type:none;
    padding:10px 15px;
    cursor:pointer;
    &:hover{
      background:#f5c448;
    }

  }

}
.roundtour-place--container{
  position: relative;
}

.roundtour-place{
  display: block;
  background:#fff;
  @include border-radius(5px);
  font-size:18px;
  color:#121212;
  text-decoration:none;
  padding:9px 12px;
  @include box-sizing;
  height:43px;
  .icon{
    float:left;
    margin:4px 15px 0 0;
  }
  &:hover{
    text-decoration:none;
    color:#121212;
  }
  .text{
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

}
.roundtour-place--submenu{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  background:#f2f2f2;
  @include border-radius(3px);
  overflow: hidden;
  z-index:3;
  display: none;
}
.roundtour-place--search{
  border:none;
  @include border-radius(0);
  box-shadow:none !important;
  height:43px;
  line-height:43px;
  font-weight:500;
  font-size:18px;
  color:#121212;
  padding:0 15px 0 40px;
  @include input-placeholder{
    color:#121212;
  }

}
.roundtour-place--searchicon{
  position: absolute;
  display: inline-block;
  left:12px;
  top:13px;
}

.roundtour-place--wrapper{
  height:auto;
  max-height:300px;
}
.roundtour-place--list{
  padding:0;
  margin:0 20px 0 0;
  li{
    list-style-type:none;
    overflow: hidden;
    padding:10px 15px;
    cursor:pointer;
    &:hover{
      background:#f5c448;
      color:#fff !important;
      .roundtour-place--country{
        color:#fff;
      }

    }

  }

}
.roundtour-place--icon{
  float:left;
  width:15px;
  text-align:center;
  margin-right:11px;
}
.roundtour-place--info{
  font-family: 'helveticaneuecyr';
  float:left;
  font-weight:300;
  max-width:140px;
  @media (min-width:1200px){
    max-width:220px;
  }
}
.roundtour-place--curort{
  margin:0;
  font-weight:300;
}
.roundtour-place--country{
  color:#a49e9e;
  font-size:12px;
  line-height:90%;
}

.roundtour-place--img{
  float:right;
}

.roundtour-date{
  display: block;
  background:#fff;
  @include border-radius(5px);
  font-size:14px;
  color:#121212 !important;
  text-decoration:none !important;
  padding:9px 12px;
  @include box-sizing;
  height:43px;
  .icon{
    float:left;
    margin:2px 15px 0 0;
  }
  &:hover{
    text-decoration:none;
    color:#121212;
  }
  .text{
    display: block;
    overflow: hidden;
    padding-top:3px;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

}
.form-roundtour{
  .form-group{
    margin-bottom:10px;
  }

}
.roundtour-people{
  display: inline-block;
  width:100%;
  padding:5px 0;
}
.roundtour-people--active{
  float:left;
  border:1px solid #fff;
  @include border-radius(5px);
  padding:7px 15px;
  @include box-sizing;
  height:53px;
}
.roundtour-people--adults{
  float:left;
  margin:0;
  padding:0;
  li{
    float:left;
    list-style-type: none;
    position: relative;
    text-align:center;
    margin:0 2px;
    position: relative;
    &:first-of-type{
      &:hover{
        span{
          margin-top:0 !important;
        }

      }

      .roundtour-people--remove{
        display: none;
      }

    }

    &:hover{
      .roundtour-people--remove{
        @include opacity(1);
      }
      span{
        margin-top:7px;
      }

    }
    span{
      @include transition(margin .3s ease);
    }

  }

}
.roundtour-people--remove{
  color:#fff;
  text-decoration:none;
  font-size:10px;
  display: block;
  position: absolute;
  width:100%;
  text-align:center;
  top:-5px;
  @include opacity(0);
  &:hover{
    text-decoration:none;
    color:#fff;
  }

}

.roundtour-people--childrens{
  float:right;
  margin:0 0 0 20px;
  padding:0;
  li{
    float:left;
    list-style-type:none;
    text-align:center;
    margin:0 2px;
    position: relative;
    &:hover{
      .roundtour-people--remove{
        @include opacity(1);
      }
      span{
        margin-top:7px;
      }

    }
    span{
      @include transition(margin .3s ease);
    }
  }

}
.roundtour-people--year{
  font-size:9px;
  line-height:100%;
  color:#fff;
  text-align:center;
}
.roundtour-people--addadults{
  border:1px solid #cb6f10;
  @include border-radius(5px);
  @include box-sizing;
  margin-left:10px;
  height:53px;
  text-align:center;
  display: inline-block;
  line-height:53px;
  vertical-align: middle;
  color:#cb6f10;
  font-size:20px;
  padding:0 10px;
  @include transition(opacity .3s ease);
  .text{
    float:left;
    margin:20px 10px 0 0;
    @include opacity(.52);
    @include transition(all .3s ease);
  }
  .icon{
    float:right;
    margin-top:10px;
    @include opacity(.52);
    @include transition(all .3s ease);
  }
  &:hover{
    border-color:#a73107;
    .text,.icon{
      @include opacity(1);
    }

  }

}
.roundtour-people--addchildrens-wrapper{
  display: inline-block;
  position: relative;
}

.roundtour-people--addchildrens{
  border:1px solid #cb6f10;
  @include border-radius(5px);
  @include box-sizing;
  margin-left:10px;
  height:53px;
  text-align:center;
  display: inline-block;
  line-height:53px;
  vertical-align: middle;
  color:#cb6f10;
  font-size:20px;
  padding:0 10px;
  @include transition(opacity .3s ease);
  .text{
    float:left;
    margin:20px 10px 0 0;
    @include opacity(.52);
    @include transition(all .3s ease);
  }
  .icon{
    float:right;
    margin-top:14px;
    @include opacity(.52);
    @include transition(all .3s ease);
  }
  &:hover{
    border-color:#a73107;
    .text,.icon{
      @include opacity(1);
    }

  }
  &.active{
    background:#f2f2f2;
    @include border-radius(5px 5px 0 0);
    .text,.icon{
      @include opacity(1);
    }
  }

}
.roundtour-people--years{
  width:100px;
  position: absolute;
  background:#f2f2f2;
  @include border-radius(3px);
  top:100%;
  left:0;
  z-index:3;
  height:150px;
  display:none;
  ul{
    margin:0 20px 0 0;
    padding:0;
  }

  li{
    color:#212121;
    list-style-type: none;
    cursor:pointer;
    padding:5px;
    &:hover{
      color:#fff;
      background:#f5c448;
    }

  }

}

.roundtour-button{
  .btn{
    font-size:16px;
    font-weight:700;
    font-family: 'helveticaneuecyr';
    padding:10px;
    line-height:23px;
    .icon{
      margin-left:20px;
      display: inline-block;
      position: relative;
      bottom:-4px;
    }

  }

}
.roundtour-price--wrapper{
  height:70px;
  margin:15px 0;
}

.roundtour-price{

}

//slider-price

.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 1px;
    top: 52px;
    background:#000;
}
    .irs-line-left {
        height: 1px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 1px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 1px;
        background-position: 100% -30px;
    }

.irs-bar {
    height: 12px; top: 25px;
    background-position: 0 -60px;
}
    .irs-bar-edge {
        top: 25px;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    //background:#252525;
    @include border-radius(50%);
    //width:29px;
    //height:29px;
    //border:2px solid #f3a91a;
    top:36px;
    cursor:pointer;
    @extend .icons-slider;
}
.irs-slider.state_hover, .irs-slider:hover {

}

.irs-min, .irs-max {
    display: none;
}

.irs-from, .irs-to, .irs-single {
    background:#252525;
    @include border-radius(3px);
    font-size:18px;
    color:#f3c81a;
    font-weight:400;
    line-height:100%;
    padding:5px 10px;
    .fa{
      margin-left:5px;
      font-size:16px;
    }

}
.irs-from:after, .irs-to:after, .irs-single:after {
    position: absolute; display: block; content: "";
    bottom: -12px; left: 50%;
    width: 0; height: 0;
    margin-left: -6px;
    overflow: hidden;
    border: 6px solid transparent;
    border-top-color: #252525;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}

.irs-disabled {
}

//slider price end

.main-offer-wrapper{
  position: relative;
  margin-top:450px;
  margin-left:-15px;
  z-index:1;
}
.main-offer-slider{
  background:rgba(0,0,0,0.41);
  @include border-radius(5px);
  padding:10px 10px 5px;
  .slick-arrow{
    position: absolute;
    top:50%;
    margin-top:-46px;
    background-color:transparent;
    cursor:pointer;
    border:none;
    text-indent:-9999px;
    outline:none;
  }
  .slick-prev{
    @extend .icons-arrow-leftbig_white;
    right:100%;
    margin-right:20px;
  }
  .slick-next{
    @extend .icons-arrow-rightbig_white;
    left:100%;
    margin-left:20px;
  }

  .slide{
    outline:none;
  }

}
.ready-offer{
  margin:5px 5px 10px;
  position: relative;
  @include border-radius(4px);
  box-shadow:0 0 5px rgba(0,0,0,0.28);
  overflow: hidden;
  display: block;
  @include transition(all .3s ease);
  &:hover{
    .ready-offer--img{
      img{
        @include transform(scale(1.1));
      }

    }

  }

}
.ready-offer--img{
  width:100%;
  @include border-radius(5px);
  overflow:hidden;
  @include transition(all .3s ease);
  img{
    @include transition(all .3s ease);
    width:100%;
    height:auto;
    display: block;
  }

}
.ready-offer--content{
  position: absolute;
  top:0;
  color:#fff;
  width:100%;
  height:100%;
  font-family: 'helveticaneuecyr';
}
.ready-offer--sale{
  position: absolute;
  right:-30px;
  top:-10px;
  font-size:13px;
  font-weight:500;
  background:#f3be1a;
  padding:20px 0 2px;
  color:#0d0d0d;
  @include transform(rotate(45deg));
  @include box-sizing;
  text-align:center;
  width:80px;
}
.ready-offer--title{
  font-size:18px;
  font-weight:700;
  text-shadow:0 1px 5px rgba(0,0,0,0.5);
  margin:20px 10px 5px 20px;
}
.ready-offer--price{
  display: inline-block;
  margin-left:20px;
  font-size:18px;
  line-height:100%;
  font-weight:700;
  padding:3px 10px;
  @include border-radius(3px);
  background:#212121;
  .fa{
    font-size:16px;
  }

}
.ready-offer--price_red{
  background:#dd2220;
}
.ready-offer--price_green{
  background:#438206;
}
.ready-offer--price_pink{
  background:#d62c81;
}
.ready-offer--price_dark{
  background:#212121;
}
.ready-offer--price_blue{
  background:#254888;
}
.ready-offer--price_orange{
  background:#dd4d20;
}
.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}

.roundtour-date--wrapper{
  background:rgba(0,0,0,0.81);
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:3;
  height:1366px;
  margin-top:-80px;
  display: none;
  @include opacity(0);
  @media screen and (max-width:1440px){
    height:1093px;
  }

}
.roundtour-date--content{
  position: relative;
  top:80px;
  padding:80px 0 0;
  font-family: 'helveticaneuecyr';
  h4{
    color:#f6d965;
    font-size:18px;
    font-weight:300;
    margin:20px 0;
  }
  hr{
    border:none;
    border-top:1px dotted #515558;
    width:106%;
    margin:20px 0 50px;
    display: block;
  }

}
.roundtour-date--close{
  position: absolute;
  left:100%;
  top:60px;
  margin:0 0 0 20px;
  @include transition(opacity .3s ease);
  @include opacity(0.8);
  &:hover{
    @include opacity(1);
  }

}

.roundtour-date--night{
  overflow: hidden;
  margin:0 0 0 -11px;
  padding:0;
  width:110%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  li{
    float:left;
    list-style-type:none;
    font-size:16px;
    color:#cdcdcd;
    font-weight:300;
    width:32px;
    height:32px;
    line-height:29px;
    text-align:center;
    cursor:pointer;
    @include box-sizing;
    @include border-radius(32px);
    border:2px solid transparent;
    @include transition(all .3s ease);
    padding:0 5px;
    &:last-of-type{
      width:auto;
    }
    &.hover,
    &:hover{
      border-color:#e4e4e4;
    }

  }
  .active{
    background:#f3c81a !important;
    border-color:#f3c81a !important;
    color:#141414;
    font-weight:700;
  }
  .noborder{
    @include border-radius(0);
  }
  .first{
    @include border-radius(32px 0 0 32px);
  }

  .last{
    @include border-radius(0 32px 32px 0);
  }

}
.roundtour-date--month{
  height:282px;
}

.datepickerViewDays{
  @include transition(all .3s ease);
}
.datepickerSelected{
  a{
    background:#f3c81a !important;
    color:#141414 !important;
    font-weight:700 !important;
  }

}


.prev-month,
.next-month{
  @include opacity(0.3);
  @include transition(opacity .3s ease);
  text-decoration:none;
  &:hover{
    @include opacity(1);
  }
  span{
    display: none;
  }

}

.prev-month{
 @extend .icons-arrow-left_border;
}
.next-month{
 @extend .icons-arrow-right_border;
}
.roundtour-date--save{
  border-color:#313131;
}




