.hotel-header{
  padding:47px 0 27px;
}
.hotel-name{
  color:#383838;
}
.hotel-name{
  margin:0 0 5px;
  line-height:100%;
}
.hotel-breadcrumbs{
  overflow: hidden;
  margin:0;
  padding:0;
  font-family: 'Roboto';
  font-size:14px;
  color:#5a5a5a;
  li{
    float:left;
    margin-right:10px;
    list-style-type:none;
  }
  a{
    color:#5a5a5a;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
    }

  }
  .sep{
    color:#adadad;
  }

}
.hotel-rating{
  display:block;
  margin-bottom:10px;
}
.hotel-rating--star{
  display: inline-block;
  position: relative;
  top:-3px;
}
.hotel-rating--number{
  font-family: 'Roboto';
  color:#363636;
  font-size:24px;
  line-height:120%;
  margin-left:20px;
}
.btn-yellow{
  color:#737059;
  font-size:13px;
  line-height:100%;
  font-family: 'Roboto';
  font-weight:900;
  background:#ede6aa;
  @include border-radius(3px);
}
.hotel-addcomment{
  text-transform: uppercase;
  padding:10px 25px;
}
.hotel-slider{
  padding-bottom:55px;
  .slick-dots{
    text-align:center;
    position:absolute;
    bottom:10px;
    left:0;
    width:100%;
    margin-bottom:0;
    padding:0;
    li{
      display: inline;
      margin:0 4px;
    }
    button{
      background:#d2d2d2;
      @include border-radius(50%);
      width:10px;
      height:10px;
      display: inline-block;
      text-indent:-9999px;
      box-shadow:none;
      padding:0;
      border:none;
    }
    .slick-active button,
    button:hover{
      background:#858585;
    }

  }
  .slick-arrow{
    position: absolute;
    bottom:16px;
    text-indent:-9999px;
    box-shadow:none;
    border:none;
    background-color:transparent;
    outline:none;
    cursor:pointer;
    z-index:2;
  }
  .slick-prev{
    right:50%;
  }

  .slick-next{
    left:50%;
  }

}

.hotel-slide{
  margin:0 2px;
  a{
    display: block;
    position:relative;
    overflow:hidden;
    &:hover{
      .hotel-slide--zoom{
        @include opacity(1);
        top:15px;
      }

    }

  }
  // new style slide
  img{
    min-width: 100%;
    width:auto;
    height:100%;
  }

}
.hotel-slide--zoom{
  position: absolute;
  display: inline-block;
  left:15px;
  top:-15px;
  @include opacity(0);
  @include transition(all .3s ease);
}

.hotel-info--item{
  overflow: hidden;
  padding:20px 0;
}
.hotel-info--img{
  float:left;
  width:50px;
  margin-right:25px;
}
.hotel-info--content{
  overflow: hidden;
  font-size:12px;
  font-family: 'Roboto';
  p{
    margin-bottom:15px;
  }

}
.hotel-info--header{
  font-family: 'Roboto';
  font-weight:700;
  color:#363636;
  margin:2px 0 15px;
}

//search-hotel
.search-hotel--header{
  .x-text{
    color:#c77750;
  }

}
.search-hotel--filter{
  display: inline-block;
  @include box-sizing;
  width:100%;
  border:3px solid #448869;
  padding:15px 30px 20px;
  margin-bottom:15px;
  .x-input-dd{
    color:#95a5b4;
    font-size:16px;
    font-family: 'Museo Sans';
    font-weight:700;
    margin-top:10px;
  }
  .input-group.date{
    margin-bottom:5px;
  }

  .form-control{
    color:#4f4f4f;
    font-weight:900;
    font-size:18px;
    font-family: 'Museo Sans';
    height:40px;
    line-height:40px;
    padding-left:15px;
    padding-right:15px;
    border-right:none;
    box-shadow:none !important;
    border-color:#dadada !important;
  }
  .input-group-addon{
    background:none;
    border-left:none;
    font-size:24px;
    color:#939393;
    &:hover{
      color:#4f4f4f;
    }

  }
  .count-input{
    margin-left:0;
    margin-bottom:0;
    @include border-radius(4px);
    overflow: hidden;
    height:40px;
    width:120px;
    color:#4f4f4f;
    font-weight:900;
    font-size:18px;
    font-family: 'Museo Sans';
    input{
      width:48px;
    }
    .plus,
    .minus{
      width:35px;
      font-size:30px;
      line-height:35px;
    }

  }
  .x-input-check{
    color:#939393;
    font-size:16px;
    font-family: 'Museo Sans';
    font-weight:500;
  }
  .btn-green{
    margin-top:33px;
  }

}
.search-hotel--titlefield{
  color:#95a5b4;
  font-family: 'Museo Sans';
  font-weight: 900;
  margin:0;
  margin-bottom:15px;
}
.search-hotel--children{
  margin-top:43px;
}
#hotel-tours-info.hotel-tours-info{
  line-height:100%;
  font-size:13px;
  min-height:32px;
  padding-top:5px;
}
.hotel-hr{
  border:none;
  width:100%;
  display: block;
  height:4px;
  background:#727272;
  margin-bottom:15px;
}
.hotel-table--header{
  color:#ababab;
  font-family: 'Roboto';
  font-weight:700;
  padding-top:20px;
  padding-bottom:20px;
}
.hotel-table{
  margin-bottom:30px;
  .btn-orange{
    min-width:120px;
    float:right;
  }

}
.hotel-comment--item{
  overflow: hidden;
  margin:20px 0 40px;
  font-family: 'Roboto';
}
.hotel-comment--author{
  margin:0;
  color:#965738;
  font-weight:500;
}
.hotel-comment--date{
  font-weight:500;
  color:#434343;
  font-size:12px;
  display: block;
  margin-bottom:10px;
}
.hotel-comment--rating{
  font-size:16px;
  color:#4a4a4a;
  font-weight:700;
}
.hotel-comment--text{
  color:#585858;
  font-size:13px;
  max-height:50px;
  overflow: hidden;
  text-overflow:ellipsis;
  p{
    margin-bottom:15px;
  }

}
.hotel-comment--fulllink{
  font-size:13px;
  text-decoration:underline;
  color:#178a87;
  &:hover{
    text-decoration:none;
  }

}
#hotel .container{
  position: relative;
  z-index:2;
}

.block-hotel-comments{
  background:url(../img/block-hotel-comments.jpg) bottom center no-repeat;
  background-size:cover;
  margin-top:-35px;
  padding-top:30px;
  position: relative;
  z-index:1;
  .container{
    background:transparent !important;
    margin-bottom:0 !important;
  }
  h3{
    margin:40px 0;
    color:#3b3b3b;
    font-family: 'Museo Sans';
    font-weight:500;
  }

}
.block-hotel-comments--item{
  font-family: 'Roboto';
  margin-bottom:60px;
}
.block-hotel-comments--header{
  font-size:18px;
}
.block-hotel-comments--author{
  font-weight:700;
  color:#2a2a2a;
  margin-right:30px;
}
.block-hotel-comments--rating{
  font-weight:500;
  color:#965738;
}
.block-hotel-comments--place{
  font-size:11px;
  color:#4d4d4d;
}
.block-hotel-comments--content{
  margin:20px 0;
  font-weight:300;
  font-size:13px;
  max-height:53px;
  overflow: hidden;
  text-overflow:ellipsis;
}
.block-hotel-comments--fulllink{
  font-weight:500;
  text-decoration:underline;
  color:#296462;
  &:hover{
    text-decoration:none;
  }

}

.hotel-bottom{
  background:#fff;
  padding:40px 0 30px;
}
.hotel-photos{
  margin-bottom:70px;
  overflow:hidden;
  a{
    display: inline-block;
    width:12.3%;
    float:left;
    margin-right:.22%;
    &:nth-child(8n){
      margin-right:0;
    }
  }


  img{
    max-width:100%;
    height:auto;
  }

}
.hotel-beside{
  color:#3b3b3b;
  margin-bottom:30px;
  h3{
    font-weight:500;
    margin:0;
    font-family: 'Museo Sans';
    margin-bottom:20px;
  }

}
.hotel-beside--list{
  margin:0;
  padding:0;
  li{
    list-style-type: none;
    margin:7px 0;
    font-size:16px;
    font-weight:300;
  }
  a{
    color:#3b3b3b;
    text-decoration:underline;
    &:hover{
      text-decoration:none;
    }

  }

}
#hotel-comment{
  width:360px;
}

.hotel-addcomment-bar{
  padding:20px 5%;
  h3{
    font-size:26px;
    margin:0px 0 20px;
    font-weight:900;
    text-transform: none;
  }

}
.hotel-addcomment-form{
  .form-control{
    border:1px solid #c4c4c4;
    @include border-radius(0);
    color:#646464;

    padding:0 15px;
    box-shadow:none;
    @include input-placeholder{
      color:#878787;
    }
    &:focus{
      box-shadow:none;
    }

  }
  textarea.form-control{
    padding-top:10px;
    padding-bottom:10px;
    @include input-placeholder{
      font-style:italic;
    }
  }
  select.form-control{
    @include input-placeholder{
      font-style:italic;
    }
  }

  select.form-control,
  input.form-control{
    height:40px;
    line-height:40px;
    font-size:18px;
    font-weight:700;
  }
  .input-group-addon{
    background:#fff;
    border-left:none;
    @include border-radius(0);
    font-size:20px;
    color:#7a7a7a;
  }
  .date{
    .form-control{
      border-right:none;
    }

  }
  .input-group--checkboxs{
    width:100%;
    overflow: hidden;
    margin:15px 0;
    padding:0;
    li{
      float:left;
      width:50%;
      list-style-type:none;
      font-size:17px;
      color:#8d8d8d;
      font-weight:700;
      font-family: 'Roboto';
    }
  }
  h4{
    color:#494949;
    font-weight:500;
    font-family: 'Roboto';
  }
  .x-input-dd{
    font-size:18px;
    font-family: 'Roboto';
    font-weight:700;
    color:#965738;
    sub{
      display: block;
      line-height:100%;
      height:100%;
      width:100%;
      overflow: visible;
    }

  }

}
.hotel-addcomment-photos{
  overflow: hidden;
}
.hotel-addcomment-item{
  float:left;
  width:31.3%;
  margin-bottom:3%;
  &:nth-child(3n+2){
    margin-left:3%;
    margin-right:3%;
  }

}

.hotel-addcomment-photo{
  width:100%;
  height:53px;
  border:1px dotted #a7a39a;
  @include border-radius(5px);
  @include box-sizing;
  text-align:center;
  cursor:pointer;
  position: relative;
  overflow: hidden;
  span{
    display: block;
    background:url(../img/camera.png) center 5px no-repeat;
    padding-top: 28px;
    font-size:10px;
    color:#44413d;
    font-family: 'Roboto';
    line-height:100%;
  }
  input{
    @include opacity(0);
    position: absolute;
    display: block;
    width:100%;
    height:100% !important;
    left:0;
    top:0;
    cursor: pointer !important;
  }
  img{
    width:auto;
    height:auto;
    min-width:100%;
    min-height:100%;
    max-width:200%;
    max-height:200%;
  }

}
.hotel-addcomment-photo--remove{
  position: absolute;
  top:0;
  left:0;
  display: none;
  color:#fff;
  text-decoration: none;
  z-index:10;
  text-align: center;
  font-size:24px;
  line-height:53px;
  width:100%;
  background:rgba(0,0,0,0.7);
}
.hotel-addcomment-addphoto{
  font-size:10px;
  color:#965738;
  border-bottom:1px dotted #965738;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom:10px;
  &:hover,
  &:focus{
    text-decoration:none;
    border-color:transparent;
    color:#965738;
  }

}
.hotel-addcomment-btn{
  .btn{
    color:#fff;
    font-size:16px;
    font-family: 'Roboto';
  }

}
@media (min-width:1200px) and (max-width: 1439px){
  #tour-filtered{
    width:970px;
    .container{
      width:970px
    }
  }
  .tour-column{
    text-align: right;
    &:nth-child(even){
      text-align: left
    }
  }
}

.tour-block{
  max-width:480px !important;
  display: inline-block;
  width:100%;
  text-align: left;
}
.tour-block-new{
  margin-bottom:20px;
}

.tour-header{
  min-height:42px;
  h2{
    height:40px;
    @media (max-width:$mobile){
      height: auto;
    }
  }
  h2,a{
    color:#292929;
    font-size:18px;
    font-weight:900;
    margin:0;
    position: relative;
    width:100%;
    a{
      display: block;
      width:100%;
      background:#fff;
      overflow: hidden;
      top:0;
      left:0;
      height:40px;
      @media screen and (max-width:767px){
        height:auto;
      }
      @include transition(all .3s ease);
      &:hover{
        text-decoration: none;

      }
    }

  }

}
.tour-rating{
  text-align:right;
}
.tour-rating--star{
  display: inline-block;
}
.tour-rating--num{
  color:#e4a332;
  font-size:16px;
  font-weight:500;
  line-height:100%;
  font-family: 'Roboto';
  float:right;
  margin-top:2px;
  margin-left:5px;
  display:inline-block;
}
.tour-desc{
  color:#434343;
  font-size:13px;
  margin-bottom:10px;
  &--before-form{
    @media (min-width:$mobileM) and (max-width:$tablet){
      height:55px;
    }
  }
}
.tour-footer{
  border:1px solid #cecece;
  border-top:none;
  padding:5px 0 15px;
  overflow: hidden;
  background:#fff;
}
.tour-eat{
  font-size:13px;
  margin-top:10px;
  span{
    color:#158a87;
    display: block;
  }

}
.tour-commentlink{
  color:#e39f2c;
  font-size:13px;
  text-decoration:underline;
  display: inline-block;
  margin-bottom:5px;
  &:hover{
    color:#e39f2c;
    text-decoration:none;
  }

}
.tour-price{
  background:#158a87;
  @include border-radius(5px);
  color:#fff;
  font-size:22px;
  line-height:100%;
  font-weight:900;
  padding:5px 10px;
  text-align:center;
  display: inline-block;
  text-decoration: none;
  &:hover{
    color:#fff;
    text-decoration: none;
  }
}
.hotel-options-list{
  margin:40px 0 0;
}
.thumb .like-left{
  right:auto;
  left:20px;
}
.tour-block-new{

}
.roboto{
  font-family: 'Roboto';
}
.roboto-light{
  @extend .roboto;
  font-weight:300;
}

@import "responsive";

