.tour-page{
	padding-top:22px;
	.container{
		@media (min-width:992px) and (max-width:1439px){
			width:970px;
		}
	}
	&--title{
		color:$color-dark;
		font-size:30px;
		font-family:$font-museo;
		font-weight:900;
		line-height:120%;
		text-transform: uppercase;
		margin:10px 0 0;
	}
	&--location{
		margin:2px 0;
		font-size:14px;
		line-height: 120%;
		font-family: $font-roboto;
	}
	&--rating{
		display: inline-block;
		.stars{
			margin:0;
			padding:0;
			display: inline-block;
			float:left;
			li{
				float:left;
				list-style-type: none;
				font-size:16px;
				color:#f7e187;
				margin:0 2px 0 5px;
				@include transition(color .3s ease);
			}

		}
		.number{
			color:#626262;
			font-family: $font-roboto;
			font-size:19px;
			line-height: 100%;
			margin:0 10px;
			display: inline-block;
		}
		&:hover{
			.stars li{
				color:#f99f12;
			}
		}
	}
	&--infoafter{
		margin-top:15px;
		margin-bottom:15px;
	}
	&--stages{
		margin:0;
		padding:0;
		overflow: hidden;
		li{
			float:left;
			list-style-type: none;
		}

	}
	&--stage{
		display: inline-block;
		width:31px;
		height:31px;
		@include box-sizing;
		border:1px solid #e0d8c5;
		@include border-radius(31px);
		text-align: center;
		line-height:31px;
		color:#cdc6b2;
		font-family: $font-museo;
		font-size:14px;
		background:#fff;
		margin-right:18px;
		position: relative;
		&:last-child{
			margin-right:0;

		}
		&:before{
			content:'';
			width:18px;
			height:1px;
			background:#e0d8c5;
			display: inline-block;
			position: absolute;
			right:100%;
			top:50%;
			margin:-1px 1px 0 0;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
	}
	&--stage_current{
		width:auto;
		background:#ebe5d6;
		border-color:#ebe5d6;
		color:#8f8c83;
		font-weight:700;
		padding:0 20px;
	}
	&--stage_success{
		border-color:#6abd97;
		&:after{
			content:'';
			display: inline-block;
			@extend .icons-tour-stage_success;

		}
	}
	&-price{
		margin:15px 0;
		font-family:$font-roboto;
		display: inline-block;
		width:100%;
		&--header{
			font-size:14px;
			color:#7694b0;
			margin-bottom:5px;
		}
		&--info{
			overflow: hidden;
			width:100%;
			&-content{
				float:left;
				max-width:350px;
				width:100%;
				margin-right:18px;
			}
			&-button{
				overflow: hidden;
				padding-top:7px;
			}
		}
		.price{
			font-size:61px;
			color:#7694b0;
			font-weight:700;
			line-height: 100%;
			display: inline-block;
			margin-bottom:10px;
			.fa{
				font-size:56px;
				float:right;
				margin:6px 0 0 13px;
			}
		}
	}
	&--textincludes{
		position: relative;
		color:#9f977f;
		font-size:14px;
		line-height:120%;
		padding-left:55px;
		margin:5px 0 0;
		min-height:39px;
		&:before{
			content:'';
			display: inline-block;
			background:url('../img/hotel-tours-info.png');
			width:32px;
			height:32px;
			position: absolute;
			left:0;
			top:0;
		}
	}
	&-buy{
		font-family: $font-museo;
		font-size:18px;
		font-weight:900;
		text-transform: uppercase;
		padding:12px 26px 10px;
	}
	&-slider{
		margin:10px 0 -150px 12px;
		.slide{
			border:none;
			height:145px;
		}
		a{
			display: block;
			border:2px solid #fff;
			overflow: hidden;
			width:100%;
			height:100%;
		}
		img{
			height:100%;
			min-width:100%;
			display: block;
		}
		.slick-arrow{
			display: inline-block;
			position: absolute;
			right:100%;
			top:122px;
			text-indent: -9999px;
			background-color:transparent;
			border:none;
			cursor:pointer;
			margin-right:33px;
			outline: none;
			@include transition(opacity .3s ease);
			&:hover{
				@include opacity(0.7);
			}
		}
		.slick-prev{
			@extend .icons-arrow-up_grey;
		}
		.slick-next{
			@extend .icons-arrow-down_grey;
			top:222px;
		}
	}
	&-partheader{
		font-size:18px;
		font-weight:900;
		color:#434343;
		font-family:$font-museo;
		text-transform: uppercase;
		line-height:120%;
		margin:16px 0 27px;
	}
	&-includes{
		&--header{
			background:#3e5870;
			.tab-header{
				margin:0 0 -6px;
				padding:0;
				font-family:$font-museo;
				font-weight:900;
				font-size:15px;
				display: inline-block;
				width:100%;
				li{
					float:left;
					list-style-type: none;
					position: relative;
					margin:0;
				}
				a{
					display: inline-block;
					text-align: center;
					text-decoration: none;
					color:#7b93aa;
					text-transform: uppercase;
					padding:15px 39px;
					@include box-sizing;
					height:115px;
					@include transition(background,color .3s ease);
					&:hover{
						color:#fff;
						.icon{
							@include opacity(0.69)
						}
					}
				}
				.icon{
					line-height:40px;
					margin-bottom:15px;
					@include transition(opacity .3s ease);
					@include opacity(0.29);
					span{
						vertical-align: bottom;
					}
				}
				.icon-lg{
					display: none;
				}
				.text{
					display: block;
					line-height:120%;
				}
				&--active{
					a{
						background:#2f465b;
						color:#fff;
						cursor: default;
					}
					.icon{
						@include opacity(0.69);
					}
					&:before{
						content:'';
						display: block;
						position: absolute;
						top:100%;
						right:0;
						width:50%;
						height:20px;
						background:#2f465b;
						z-index:5;
						margin-top:-14px;
						@include transform(skewY(-10deg));
					}
					&:after{
						content:'';
						display: block;
						position: absolute;
						top:100%;
						left:0;
						width:50%;
						height:20px;
						background:#2f465b;
						z-index:5;
						margin-top:-14px;
						@include transform(skewY(10deg));
					}
				}
			}
		}
		&--content{
			background:#f1eac8;
			padding:35px 0 26px;
			font-family:$font-roboto;
			min-height:170px;
			.tab-item:not(:first-child){
				display: none;
			}
			h5{
				font-size:15px;
				font-weight:normal;
				line-height:120%;
			}

		}
		&-air{
			&--list{
				margin:0;
				padding:0 0 0 2%;
				li{
					list-style-type: none;
					overflow: hidden;
					margin:10px 0;
				}
				.icon{
					float:left;
					margin-right:12px;
				}
				.content{
					overflow: hidden;
				}
				h5{
					margin:0 0 5px;
					font-weight:700;
				}
				p{
					margin:0;
					line-height:120%;
					font-weight:300;
				}
			}
		}
	}
	&-more{
		padding:25px 0 60px;
		background:#fff;
		&-checkboxs{
			overflow: hidden;
			margin:0 0 42px;
			padding:0;
			li{
				float: left;
				width:50%;
				list-style-type: none;
				color:#448869;
				font-size:18px;
				font-weight:700;
				font-family: $font-roboto;
			}
		}
	}
	&_2{
		padding-top:0;
		background: url('../img/promo-item-bg.jpg');
		position: relative;
		&:before{
			content:'';
			display: block;
			position: absolute;
			top:0;
			height:100%;
			width:100%;
			right:50%;
			margin-right:-225px;
			@media (max-width:1199px){
				margin-right:-160px;
			}
			@media (max-width:991px){
				margin-right:0;
				right:0;
			}
			background:#fff;
		}
		.container{
			@media (min-width:1200px){
				width:1170px;
			}
		}
		.xs-nopadding{
			@media (max-width:767px){
				padding:0;
			}
		}
		&-container{
			margin:0 20px;
			padding:22px 0;
			@media screen and (max-width:767px){
				margin:0;
				padding:0;
			}
		}
		&-info{
			margin-top:20px;
			.tour-page--rating{
				margin-top:4px;
			}
			@media (max-width:767px){
				margin-top:20px;
				margin-bottom:30px;
			}
		}
		&-price{
			display: inline-block;
			max-width:230px;
			width:100%;
			margin-top:100px;
			position: relative;
			&_fixed{
				position: fixed;
				top:50px;
			}
			.tour-page-buy{
				width:100%;
				font-size:17px !important;
			}
			&:before{
				content:'';
				width:107%;
				padding:0 10px;
				background:#d2c9b6;
				height:12px;
				@include border-radius(10px);
				display: block;
				position: absolute;
				top:0;
				left:-3%;
				z-index:1;
				margin-top:-5px;
			}
			&--info{
				position:relative;
				z-index:2;
				background:#fff;
				@include border-radius(5px 0 0 0);
				text-align: left;
				padding:10px 20px;
				margin-bottom:35px;
				&:after{
					content: '';
					display: block;
					width:100%;
					height:5px;
					background:url('../img/tour-info_after.png') center center repeat-x;
					position: absolute;
					top:100%;
					left:0;
				}
				h5{
					text-align: center;
					font-size:18px;
					font-weight:900;
					color:#494e4c;
					font-family:$font-roboto;
					margin-bottom:20px;
				}
			}
			&--list{
				margin:0 0 35px;
				padding:0;
				li{
					list-style-type: none;
					overflow: hidden;
					margin:10px 0;
					.icon{
						float:left;
						width:20px;
						text-align: center;
						margin-right:10px;
						padding-top:5px;
					}
					.content{
						overflow: hidden;
						font-size:12px;
						font-family: $font-roboto;
						color:#616365;
						line-height:130%;
					}
				}
			}
			&--price{
				display: inline-block;
				width:100%;
				position: relative;
				padding-left:30px;
				color:#616365;
				font-weight:700;
				font-size:12px;
				font-family: $font-roboto;
				line-height:22px;
				margin-bottom:15px;
				&:before{
					content:'';
					@extend .icons-tour-money;
					position: absolute;
					left:0;
					top:50%;
					margin-top:-7px;
				}
				span{
					float:right;
					font-size:22px;
				}
			}

		}

	}
}
.custom-checkbox_big{
	display: table;
	width:100%;
	min-height:35px;
	input{
		display: none;
	}
	span{
		position: relative;
		padding:0 0 0 50px;
		// height:35px;
		cursor: pointer;
		line-height:120%;
		@include box-sizing;
		display: table-cell;
		width:100%;
		vertical-align: middle;
		&:before{
			content:'';
			position: absolute;
			left:0;
			top:0;
			width:35px;
			height:35px;
			border:1px solid #448869;
			display: inline-block;
			@include box-sizing;
			@include border-radius(5px);
			background:url('../img/custom-checkbox_big.png') center -200% no-repeat #fff;
			@include transition(background .3s ease);
		}
	}
	input:checked + span:before{
		background-position: center center;
	}
}
.custom-checkbox_grey{
	input{
		display: none;
	}
	span{
		display: inline-block;
		width:25px;
		height:25px;
		border:1px solid #bababa;
		@include border-radius(3px);
		cursor: pointer;
		background:url('../img/check_grey.png') -200% center no-repeat #fff;
		@include transition(background .3s ease);
		float:left;
		margin-right:20px;
	}
	input:checked + span{
		background-position: center center;
	}
	div{
		overflow: hidden;
		font-size:12px;
		line-height: 120%;
		color:#919191;
		font-weight:400;
		a{
			font-weight:700;
			color:#919191;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.form-tourpage{
	padding-top:50px;
	@media (max-width:991px){
		padding-top:0;
		.tour-page-buy{
			margin:40px 0 30px;
		}
	}
	fieldset{
	}

	&--header{
		background:#f1eac8;
		font-family:$font-roboto;
		font-size:18px;
		font-weight:700;
		margin:0;
		height:46px;
		position: relative;
		@include box-sizing;
		padding:12px 0;
		line-height:120%;
		color:#8f8a72;
		@media (max-width:767px){
			margin-right:-15px;
		}
		&:before{
			content:'';
			width:2000px;
			right:100%;
			height: 100%;
			display: block;
			position: absolute;
			background:#f1eac8;
			top:0;
			top:0;
		}
		&_hide{
			.form-tourpage--header-toggle{
				@include transform(rotate(180deg));
			}
		}
		&-toggle{
			position: absolute;
			top:0;
			right:0;
			display: inline-block;
			height:100%;
			background:#e6dfbe;
			width:45px;
			text-align: center;
			@include box-sizing;
			padding-top:10px;
			@include transition(transform .3s ease);
		}
	}
	.inputs-container{
		padding:20px 0;
		@media (max-width:767px){
			padding:5px 0;
			> span{
				display: block;
				color:#8c8973;
				font-family:$font-roboto;
				font-size:14px;
				margin-bottom:15px;
			}
		}
	}
	.form-group{
		margin-top:10px;
		margin-bottom:18px;
	}
	.control-label{
		font-family: $font-roboto;
		color:#919191;
		font-size:15px;
		line-height: 27px;
	}
	.form-control{
		border-color:#dddddd;
		@include border-radius(0);
		height:32px;
		line-height:32px;
		padding:0 10px;
		@include input-placeholder{
			color:#c2c2c2;
		}
	}
}
@media (min-width:1440px){
	.tour-page{
		&--title{
			font-size:36px;
			margin-top:13px;
		}
		&--location{
			font-size:17px;
		}
		&--rating{
			.stars{
				li{
					font-size:20px;
				}
			}
			.number{
				font-size:23px;
				margin:0 17px;
			}
		}
		&--infoafter{
			margin-top:20px;
		}
		&--stages{

		}
		&--stage{
			font-size:17px;
			width:36px;
			height:36px;
			line-height:36px;
			@include border-radius(36px);
			margin-right:20px;
			&:before{
				width:20px;
			}
			&_current{
				width:auto;
				padding:0 26px;
			}
		}
		&-price{
			margin:24px 0;
			&--header{
				font-size:17px;
			}
			&--info{
				&-content{
					max-width:425px;
				}
			}
			.price{
				font-size:73px;
				margin-bottom:13px;
				.fa{
					font-size:65px;
					margin-left:20px;
				}
			}
		}
		&--textincludes{
			padding-left:68px;
			font-size:17px;
		}
		&-buy{
			font-size:22px;
			padding:16px 30px 12px;
		}
		&-slider{
			.slick-arrow{
				top:152px;
				margin-right:43px;
			}
			.slick-next{
				top:274px;
			}
		}
		&-partheader{
			margin:0 0 27px;
			font-size:22px;
		}
		&-includes{
			&--header{
				.tab-header{
					font-size:18px;
					a{
						height:138px;
						padding:15px 46px;
					}
					.icon{
						line-height:50px;
						margin-bottom:19px;
					}
					.icon-md{
						display: none;
					}
					.icon-lg{
						display: block;
					}
				}
			}
			&--content{
				padding:46px 0 17px;
				h5{
					font-size:18px;
				}
				p{
					font-size:17px;
				}
			}
			&-air{
				&--list{
					li{
						margin:10px 0 15px;
					}
					.icon{
						margin-right:17px;
					}
				}
			}
		}
		&-more{
			padding:57px 0 60px;
			&-checkboxs{
				margin-top:33px;
				li{
					font-size:22px;
				}
			}
		}
	}
	.custom-checkbox_big{
		span{
			padding-left:63px;
			line-height:40px;
			height:40px;
			&:before{
				width:40px;
				height:40px;
				@include border-radius(7px);
			}
		}
	}
}
@media (max-width:991px){
	.tour-page{
		&--rating{
			margin:17px 0 36px;
		}
		&-price{
			&--info{
				&-content{
					max-width:285px;
				}
			}
		}
		&-partheader{
			margin:30px 0;
		}
		&-more{
			padding:10px 0;
			&-checkboxs{
				margin-bottom:15px;
				li{
					float:none;
					width:100%;
					margin:10px 0;
				}
			}
		}
	}
}
@media (max-width:767px){
	.tour-page{
		padding:0;
		&--title{
			font-size:24px;
			margin:15px 0;
		}
		&--location{
			font-size:12px;
			margin:0;
		}
		&--rating{
			display: block;
			text-align: left;
			margin:7px 0;
			.stars{
				li{
					margin: 0 5px 0 0;
					font-size:14px;
				}
			}
			.number{
				font-size:16px;
			}
		}
		&--infoafter{
			margin-top:0;
			margin-bottom:0;
		}
		&--stages{

		}
		&--stage{
			font-size:12px;
			font-family:$font-roboto;
			width:28px;
			height:28px;
			line-height:26px;
			margin-right:15px;
			&:before{
				width:15px;
			}
			&_current{
				padding: 0 15px;
				width:auto;
				font-weight:500;
			}
		}
		&-price{
			&--header{
				font-weight:400;
			}
			.price{
				font-size:48px;
				.fa{
					font-size:42px;
				}
			}
		}
		&--textincludes{
			font-size:13px;
			&:before{
				top:6px;
			}
		}
		&-partheader{
			margin:15px 0;
		}
		&-includesxs{
			&--item{
				border-bottom:1px solid #fff;
				overflow: hidden;

			}
			&--header{
				background:#a7bede;
				padding:15px;
				display: block;
				color:#fff;
				line-height:100%;
				font-size:16px;
				font-family: $font-roboto;
				&:hover{
					text-decoration: none;
					color:#fff;
				}
				.icon{
					float: right;
					font-size:18px;
					@include transition(transform .3s ease);
				}
				.fa{
					&:before{
						content:'\f107';
					}
				}
			}
			&--content{
				margin-bottom:10px;
				background:#f1eac8;
				@include transition(all .3s ease);
				display: none;
				@include opacity(0);
			}
			&--heading{
				font-family:$font-roboto;
				margin:20px 0;
				font-size:15px;
				font-weight:400;
			}
			&--item_active{
				.tour-page-includesxs--header{
					.icon{
						@include transform(rotate(180deg));
					}
				}
				.tour-page-includesxs--content{
					display: block;
					@include opacity(1);
				}
			}
		}
		&-includes{
			&-air{
				&--list{
					li{
						margin-bottom:25px;
					}
					p{
						font-size:14px;
					}
				}
			}
		}
		&-more{
			&-checkboxs{
				margin-bottom:0;
			}
		}
		&-price{
			&--info{
				&-content{
					float:none;
					max-width:100%;
				}
				&-button{
					overflow: visible;
					margin-top:15px;
				}
			}
		}
		&-buy{
			display: block;
			width:100%;
		}
	}
	.custom-checkbox_big{
		span{
			font-size:16px;
		}
	}
}