/* line 1, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-item {
  font-family: 'Roboto',sans-serif;
}

/* line 4, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-item .date {
  font-size: 12px;
  color: #8b8b8b;
  padding: 3px 0 10px;
}

/* line 9, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-item .content {
  margin: 30px 0 45px;
}

/* line 12, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-item .back {
  display: block;
  background: url(/assets/blog-back-bg-8c0fab390f800dabf46642f43f0856bd714d372140c054a06e4eff3d12511666.gif) center no-repeat;
  width: 141px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-size: 11px;
  font-weight: 700;
  color: #1e918c;
}

/* line 23, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-item .back:hover {
  text-decoration: none;
}

/* line 27, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.similar {
  margin-bottom: 20px;
}

/* line 30, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.similar h3 {
  margin: 0 15px 20px;
}

/* line 33, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item {
  display: block;
  width: 300px;
  max-width: 100%;
  margin: 0 auto 10px;
}

/* line 39, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item .blog-item-thumb {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 225px;
}

/* line 46, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item .blog-item-thumb img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 130%;
  max-height: 130%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  -webkit-transition: transform .2s ease;
  -moz-transition: transform .2s ease;
  -ms-transition: transform .2s ease;
  -o-transition: transform .2s ease;
  transition: transform .2s ease;
}

/* line 64, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item .blog-item-thumb:after {
  content: '+';
  display: block;
  width: 36px;
  height: 36px;
  padding-right: 1px;
  background: #fff;
  font-size: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  margin: auto;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/* line 93, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item .blog-item-thumb:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(30, 145, 140, 0.2);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -moz-transition: opacity .2s ease;
  -ms-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

/* line 110, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #272727;
  line-height: 25px;
  padding: 3px;
}

/* line 118, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item .blog-item-date {
  font-size: 14px;
  color: #8b8b8b;
  padding: 3px;
}

/* line 123, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item:hover {
  text-decoration: none;
}

/* line 126, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item:hover .blog-item-thumb:before {
  opacity: 1;
}

/* line 129, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item:hover .blog-item-thumb:after {
  opacity: 1;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

/* line 138, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item:hover h2 {
  color: #1e918c;
  /*font-weight:500;*/
}

/* line 142, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
.blog-slide-item:hover .blog-item-thumb img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 150, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control {
  position: absolute;
  top: -65px;
  width: 45px !important;
  height: 30px !important;
  z-index: 100;
  color: #000;
  background: none;
  font-size: 40px;
  text-shadow: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

/* line 166, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control:hover {
  color: #bae2e2;
}

/* line 169, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control.left {
  left: 240px;
}

/* line 172, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control.left:active {
  left: 230px;
}

/* line 175, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control.right {
  left: 300px;
}

/* line 178, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
#blog-slider .carousel-control.right:active {
  left: 310px;
}

@media (max-width: 1199px) {
  /* line 183, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
  .blog-slide-item .blog-item-thumb {
    height: 160px;
  }

  /* line 186, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/blog-item.scss */
  .blog-slide-item h2 {
    font-size: 16px;
    line-height: 20px;
    padding: 2px;
  }
}
