/* line 2, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel {
  background: #e5dcc6 url(/assets/promo-item-bg-495c8430ba74286fc5e156aa5aecc6bcbb833b16de8f907c3a110fcfa9564b22.jpg);
  overflow: hidden;
}

/* line 6, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel .container {
  background: #fff;
  margin: 25px auto;
  padding: 0;
}

/* line 11, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs {
  display: table;
  width: 100%;
}

/* line 15, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs li {
  display: table-cell;
  position: relative;
  width: 33.3333%;
  border: 3px solid #fff;
  text-align: center;
  background: #9dc0e0;
}

/* line 23, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs li + li {
  border-left: none;
}

/* line 26, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs li.active {
  background: #7694b0;
}

/* line 29, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs li.active:after {
  content: '';
  border: 10px solid transparent;
  border-top: 5px solid #7694b0;
  position: absolute;
  left: 49%;
  left: calc(50% - 10px);
  bottom: -15px;
}

/* line 38, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a {
  color: #fff;
  background: transparent !important;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

/* line 44, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a span {
  color: #ccc;
}

/* line 47, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a:before {
  content: '';
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 57, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a[href="#info"]:before {
  background-image: url(/assets/hotel-info-8c2c06f8ce2a013d78022c7f369a8cb0a5a5a3bfe67436dc07a7c54d8fa83147.png);
}

/* line 60, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a[href="#comments"]:before {
  background-image: url(/assets/hotel-comments-ecfab163f4f01eae126630df2624a0239011aec0052c30efc4187c17e755c81c.png);
}

/* line 63, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tabs a[href="#map"]:before {
  background-image: url(/assets/hotel-map-b2aaabb333e0264b8a2338414650755f57cb94e1face7376169ae66e7dd5b974.png);
}

/* line 66, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments,
#hotel #info {
  padding: 40px 60px 65px;
  font-family: 'Roboto', sans-serif;
}

/* line 71, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel h2 {
  margin: 0 0 20px;
  min-height: 30px;
  font-size: 30px;
  font-weight: 900;
  font-family: "Museo Sans",sans-serif;
}

/* line 78, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .btn {
  margin: 0 0 20px;
  height: 35px;
  background: #ede6aa;
  color: #737059;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 700;
  padding: 0 25px;
}

/* line 91, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #e0d8c5;
  border-radius: 3px;
  margin-bottom: 17px;
  padding: 25px 55px 25px 45px;
  font-size: 13px;
}

/* line 99, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .name {
  font-size: 18px;
  color: #965738;
  font-weight: 500;
}

/* line 104, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .date {
  font-size: 12px;
}

/* line 107, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .photos {
  font-weight: 700;
  display: block;
  color: #9db3c8;
  margin: 15px 0 0;
  padding: 7px 0 3px 35px;
  background: url(/assets/photo-report-27792b0652b0c9534d0bdcb1b620560d3518ad286e7d0aff516fa5e81f5695a7.png) no-repeat left center;
}

/* line 117, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .gray {
  color: #aaa;
}

/* line 120, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .rating {
  color: #5f81a0;
  font-weight: 300;
  font-size: 18px;
}

/* line 125, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #comments .comment .rating b {
  font-size: 30px;
  font-weight: 700;
}

/* line 130, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel #map {
  padding: 0 5px 5px;
}

/* line 134, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options {
  margin-top: 10px;
}

/* line 137, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .nav li {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}

/* line 143, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .nav li.active {
  border-bottom-color: #000;
}

/* line 146, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .nav li a {
  padding: 0;
  color: #a06949;
  text-decoration: underline;
  background: none !important;
}

/* line 152, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .nav li.active a {
  color: #000;
  text-decoration: none;
}

/* line 156, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .tab-pane {
  padding: 10px 0 0;
}

/* line 159, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .h-opt {
  display: inline-block;
  width: 120px;
}

/* line 163, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .h-opt-icon {
  display: block;
  margin: 15px auto;
  border: 1px solid #aaa;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
}

/* line 173, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .h-opt-icon img {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}

/* line 184, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-options .h-opt-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
  color: #828282;
  font-weight: 700;
}

/* line 192, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotel-tours-info {
  background: url(/assets/hotel-tours-info-5941261b6dd4b9b3a6e80d74bac7c11a311d9074e136780c567cd005a7f0ba74.png) left center no-repeat;
  padding: 0 0 0 50px;
  font-size: 13px;
  color: #959595;
}

@media (max-width: 991px) {
  /* line 202, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel #comments,
  #hotel #info {
    padding: 40px;
  }

  /* line 206, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel #comments .comment {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  /* line 211, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel #comments,
  #hotel #info {
    padding: 0;
  }

  /* line 215, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel .container {
    margin: 0;
  }
}
@media (max-width: 500px) {
  /* line 220, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel-tabs a {
    padding: 10px 5px;
  }

  /* line 223, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel-tabs a:before {
    display: block;
    margin: 0 auto;
  }

  /* line 227, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel-options .nav {
    border: 1px solid;
    margin: 0 auto;
    width: 260px;
  }

  /* line 232, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel-options .nav li {
    display: block;
    text-align: center;
  }

  /* line 236, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
  #hotel-options .nav li.active {
    border: none !important;
  }
}
/* line 240, /Users/administrator/Desktop/poedemvtur/poedemvtur/app/assets/stylesheets/hotel.scss */
#hotelDescriptionID {
  border: 0;
}
