/* CSS Document */
/* line 3, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-sprite, .icons-aircraft, .icons-arrow-down_grey, .tour-page-slider .slick-next, .icons-arrow-down_small_orange, .icons-arrow-down_white, .icons-arrow-left, .hotel-slider .slick-prev, .icons-arrow-left_border, .icons-arrow-leftbig_white, .icons-arrow-right, .hotel-slider .slick-next, .icons-arrow-right_border, .icons-arrow-rightbig_white, .icons-arrow-up_grey, .tour-page-slider .slick-prev, .icons-arrow-up_small_blue, .icons-arrow-up_white, .icons-calendar_orange, .icons-close_grey, .icons-close_orange, .icons-filter-beach, .icons-filter-class, .icons-filter-eat, .icons-filter-price, .icons-home, .icons-hotel-beach, .icons-hotel-info, .icons-hotel-pool, .icons-icons-left, .icons-location, .icons-location_orange, .icons-people-adult_orange, .icons-people-adult_white, .icons-people-adult_yellow, .icons-people-adultsm_orange, .icons-people-adultsm_white, .icons-people-adultsm_yellow, .icons-people-children_orange, .icons-people-children_white, .icons-people-children_yellow, .icons-people-childrensm_orange, .icons-people-childrensm_white, .icons-people-childrensm_yellow, .icons-plus_orange, .icons-plus_yellow, .icons-search, .icons-search_white, .icons-slider-filter, .icons-slider, .icons-tour-med, .icons-tour-money, .tour-page_2-price--price:before, .icons-tour-night, .icons-tour-stage_success, .tour-page--stage_success:after, .icons-tour-transport, .icons-tourtab-1, .icons-tourtab-1_lg, .icons-tourtab-2, .icons-tourtab-2_lg, .icons-tourtab-3, .icons-tourtab-3_lg {
  background-image: url(/assets/icons-s9a30cb0cd6-f311bf3b5893a7b37d17b25248b9bd6a6c400a6be9e2573036a4ba7d4ba28d73.png);
  background-repeat: no-repeat;
}

/* line 8, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-aircraft {
  background-position: 0 0;
  height: 14px;
  width: 13px;
}

/* line 14, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-down_grey, .tour-page-slider .slick-next {
  background-position: 0 -14px;
  height: 31px;
  width: 18px;
}

/* line 20, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-down_small_orange {
  background-position: 0 -45px;
  height: 11px;
  width: 7px;
}

/* line 26, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-down_white {
  background-position: 0 -56px;
  height: 18px;
  width: 10px;
}

/* line 32, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-left, .hotel-slider .slick-prev {
  background-position: 0 -74px;
  height: 17px;
  width: 30px;
}

/* line 38, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-left_border {
  background-position: 0 -91px;
  height: 19px;
  width: 19px;
}

/* line 44, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-leftbig_white {
  background-position: 0 -110px;
  height: 93px;
  width: 21px;
}

/* line 50, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-right, .hotel-slider .slick-next {
  background-position: 0 -203px;
  height: 17px;
  width: 30px;
}

/* line 56, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-right_border {
  background-position: 0 -220px;
  height: 19px;
  width: 19px;
}

/* line 62, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-rightbig_white {
  background-position: 0 -239px;
  height: 93px;
  width: 21px;
}

/* line 68, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-up_grey, .tour-page-slider .slick-prev {
  background-position: 0 -332px;
  height: 31px;
  width: 18px;
}

/* line 74, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-up_small_blue {
  background-position: 0 -363px;
  height: 11px;
  width: 7px;
}

/* line 80, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-arrow-up_white {
  background-position: 0 -374px;
  height: 24px;
  width: 16px;
}

/* line 86, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-calendar_orange {
  background-position: 0 -398px;
  height: 20px;
  width: 20px;
}

/* line 92, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-close_grey {
  background-position: 0 -418px;
  height: 22px;
  width: 22px;
}

/* line 98, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-close_orange {
  background-position: 0 -440px;
  height: 13px;
  width: 13px;
}

/* line 104, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-filter-beach {
  background-position: 0 -453px;
  height: 13px;
  width: 24px;
}

/* line 110, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-filter-class {
  background-position: 0 -466px;
  height: 20px;
  width: 14px;
}

/* line 116, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-filter-eat {
  background-position: 0 -486px;
  height: 21px;
  width: 25px;
}

/* line 122, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-filter-price {
  background-position: 0 -507px;
  height: 15px;
  width: 13px;
}

/* line 128, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-home {
  background-position: 0 -522px;
  height: 14px;
  width: 16px;
}

/* line 134, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-hotel-beach {
  background-position: 0 -536px;
  height: 45px;
  width: 46px;
}

/* line 140, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-hotel-info {
  background-position: 0 -581px;
  height: 43px;
  width: 39px;
}

/* line 146, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-hotel-pool {
  background-position: 0 -624px;
  height: 44px;
  width: 45px;
}

/* line 152, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-icons-left {
  background-position: 0 -668px;
  height: 24px;
  width: 14px;
}

/* line 158, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-location {
  background-position: 0 -692px;
  height: 13px;
  width: 10px;
}

/* line 164, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-location_orange {
  background-position: 0 -705px;
  height: 17px;
  width: 17px;
}

/* line 170, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adult_orange {
  background-position: 0 -722px;
  height: 31px;
  width: 14px;
}

/* line 176, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adult_white {
  background-position: 0 -753px;
  height: 31px;
  width: 14px;
}

/* line 182, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adult_yellow {
  background-position: 0 -784px;
  height: 31px;
  width: 14px;
}

/* line 188, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adultsm_orange {
  background-position: 0 -815px;
  height: 37px;
  width: 16px;
}

/* line 194, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adultsm_white {
  background-position: 0 -852px;
  height: 36px;
  width: 16px;
}

/* line 200, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-adultsm_yellow {
  background-position: 0 -888px;
  height: 37px;
  width: 16px;
}

/* line 206, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-children_orange {
  background-position: 0 -925px;
  height: 21px;
  width: 10px;
}

/* line 212, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-children_white {
  background-position: 0 -946px;
  height: 21px;
  width: 10px;
}

/* line 218, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-children_yellow {
  background-position: 0 -967px;
  height: 21px;
  width: 10px;
}

/* line 224, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-childrensm_orange {
  background-position: 0 -988px;
  height: 25px;
  width: 13px;
}

/* line 230, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-childrensm_white {
  background-position: 0 -1013px;
  height: 26px;
  width: 13px;
}

/* line 236, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-people-childrensm_yellow {
  background-position: 0 -1039px;
  height: 25px;
  width: 13px;
}

/* line 242, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-plus_orange {
  background-position: 0 -1064px;
  height: 10px;
  width: 10px;
}

/* line 248, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-plus_yellow {
  background-position: 0 -1074px;
  height: 10px;
  width: 10px;
}

/* line 254, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-search {
  background-position: 0 -1084px;
  height: 28px;
  width: 30px;
}

/* line 260, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-search_white {
  background-position: 0 -1112px;
  height: 23px;
  width: 22px;
}

/* line 266, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-slider-filter {
  background-position: 0 -1135px;
  height: 31px;
  width: 31px;
}

/* line 272, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-slider {
  background-position: 0 -1166px;
  height: 33px;
  width: 33px;
}

/* line 278, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tour-med {
  background-position: 0 -1199px;
  height: 11px;
  width: 15px;
}

/* line 284, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tour-money, .tour-page_2-price--price:before {
  background-position: 0 -1210px;
  height: 15px;
  width: 15px;
}

/* line 290, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tour-night {
  background-position: 0 -1225px;
  height: 14px;
  width: 14px;
}

/* line 296, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tour-stage_success, .tour-page--stage_success:after {
  background-position: 0 -1239px;
  height: 11px;
  width: 13px;
}

/* line 302, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tour-transport {
  background-position: 0 -1250px;
  height: 22px;
  width: 9px;
}

/* line 308, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-1 {
  background-position: 0 -1272px;
  height: 33px;
  width: 50px;
}

/* line 314, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-1_lg {
  background-position: 0 -1305px;
  height: 40px;
  width: 60px;
}

/* line 320, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-2 {
  background-position: 0 -1345px;
  height: 39px;
  width: 35px;
}

/* line 326, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-2_lg {
  background-position: 0 -1384px;
  height: 47px;
  width: 41px;
}

/* line 332, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-3 {
  background-position: 0 -1431px;
  height: 34px;
  width: 50px;
}

/* line 338, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-tourtab-3_lg {
  background-position: 0 -1465px;
  height: 40px;
  width: 60px;
}

/* line 344, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.icons-sprite, .icons-aircraft, .icons-arrow-down_grey, .tour-page-slider .slick-next, .icons-arrow-down_small_orange, .icons-arrow-down_white, .icons-arrow-left, .hotel-slider .slick-prev, .icons-arrow-left_border, .icons-arrow-leftbig_white, .icons-arrow-right, .hotel-slider .slick-next, .icons-arrow-right_border, .icons-arrow-rightbig_white, .icons-arrow-up_grey, .tour-page-slider .slick-prev, .icons-arrow-up_small_blue, .icons-arrow-up_white, .icons-calendar_orange, .icons-close_grey, .icons-close_orange, .icons-filter-beach, .icons-filter-class, .icons-filter-eat, .icons-filter-price, .icons-home, .icons-hotel-beach, .icons-hotel-info, .icons-hotel-pool, .icons-icons-left, .icons-location, .icons-location_orange, .icons-people-adult_orange, .icons-people-adult_white, .icons-people-adult_yellow, .icons-people-adultsm_orange, .icons-people-adultsm_white, .icons-people-adultsm_yellow, .icons-people-children_orange, .icons-people-children_white, .icons-people-children_yellow, .icons-people-childrensm_orange, .icons-people-childrensm_white, .icons-people-childrensm_yellow, .icons-plus_orange, .icons-plus_yellow, .icons-search, .icons-search_white, .icons-slider-filter, .icons-slider, .icons-tour-med, .icons-tour-money, .tour-page_2-price--price:before, .icons-tour-night, .icons-tour-stage_success, .tour-page--stage_success:after, .icons-tour-transport, .icons-tourtab-1, .icons-tourtab-1_lg, .icons-tourtab-2, .icons-tourtab-2_lg, .icons-tourtab-3, .icons-tourtab-3_lg {
  display: inline-block;
}

/* line 348, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.design {
  background: url(/images/design-tour.jpg) top center no-repeat;
  top: -12px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1670px;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  z-index: 2;
}

/* line 361, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page {
  padding-top: 22px;
}

@media (min-width: 992px) and (max-width: 1439px) {
  /* line 365, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page .container {
    width: 970px;
  }
}
/* line 369, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--title {
  color: #323232;
  font-size: 30px;
  font-family: "Museo Sans";
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 10px 0 0;
}

/* line 378, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--location {
  margin: 2px 0;
  font-size: 14px;
  line-height: 120%;
  font-family: "Roboto";
}

/* line 384, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--rating {
  display: inline-block;
}

/* line 387, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--rating .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

/* line 393, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--rating .stars li {
  float: left;
  list-style-type: none;
  font-size: 16px;
  color: #f7e187;
  margin: 0 2px 0 5px;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/* line 404, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--rating .number {
  color: #626262;
  font-family: "Roboto";
  font-size: 19px;
  line-height: 100%;
  margin: 0 10px;
  display: inline-block;
}

/* line 412, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--rating:hover .stars li {
  color: #f99f12;
}

/* line 415, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--infoafter {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 419, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stages {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* line 424, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stages li {
  float: left;
  list-style-type: none;
}

/* line 428, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage {
  display: inline-block;
  width: 31px;
  height: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e0d8c5;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  text-align: center;
  line-height: 31px;
  color: #cdc6b2;
  font-family: "Museo Sans";
  font-size: 14px;
  background: #fff;
  margin-right: 18px;
  position: relative;
}

/* line 448, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage:last-child {
  margin-right: 0;
}

/* line 451, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage:before {
  content: '';
  width: 18px;
  height: 1px;
  background: #e0d8c5;
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin: -1px 1px 0 0;
}

/* line 462, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage:first-child:before {
  display: none;
}

/* line 465, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage_current {
  width: auto;
  background: #ebe5d6;
  border-color: #ebe5d6;
  color: #8f8c83;
  font-weight: 700;
  padding: 0 20px;
}

/* line 473, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage_success {
  border-color: #6abd97;
}

/* line 476, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--stage_success:after {
  content: '';
  display: inline-block;
}

/* line 480, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price {
  margin: 15px 0;
  font-family: "Roboto";
  display: inline-block;
  width: 100%;
}

/* line 486, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price--header {
  font-size: 14px;
  color: #7694b0;
  margin-bottom: 5px;
}

/* line 491, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price--info {
  overflow: hidden;
  width: 100%;
}

/* line 495, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price--info-content {
  float: left;
  max-width: 350px;
  width: 100%;
  margin-right: 18px;
}

/* line 501, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price--info-button {
  overflow: hidden;
  padding-top: 7px;
}

/* line 505, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price .price {
  font-size: 61px;
  color: #7694b0;
  font-weight: 700;
  line-height: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 513, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-price .price .fa {
  font-size: 56px;
  float: right;
  margin: 6px 0 0 13px;
}

/* line 518, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--textincludes {
  position: relative;
  color: #9f977f;
  font-size: 14px;
  line-height: 120%;
  padding-left: 55px;
  margin: 5px 0 0;
  min-height: 39px;
}

/* line 527, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page--textincludes:before {
  content: '';
  display: inline-block;
  background: url(/assets/hotel-tours-info-5941261b6dd4b9b3a6e80d74bac7c11a311d9074e136780c567cd005a7f0ba74.png);
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 537, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-buy {
  font-family: "Museo Sans";
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 12px 26px 10px;
}

/* line 544, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider {
  margin: 10px 0 -150px 12px;
}

/* line 547, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider .slide {
  border: none;
  height: 145px;
}

/* line 551, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider a {
  display: block;
  border: 2px solid #fff;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* line 558, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider img {
  height: 100%;
  min-width: 100%;
  display: block;
}

/* line 563, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider .slick-arrow {
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 122px;
  text-indent: -9999px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 33px;
  outline: none;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 579, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider .slick-arrow:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* line 583, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-slider .slick-next {
  top: 222px;
}

/* line 586, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-partheader {
  font-size: 18px;
  font-weight: 900;
  color: #434343;
  font-family: "Museo Sans";
  text-transform: uppercase;
  line-height: 120%;
  margin: 16px 0 27px;
}

/* line 595, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header {
  background: #3e5870;
}

/* line 598, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header {
  margin: 0 0 -6px;
  padding: 0;
  font-family: "Museo Sans";
  font-weight: 900;
  font-size: 15px;
  display: inline-block;
  width: 100%;
}

/* line 607, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header li {
  float: left;
  list-style-type: none;
  position: relative;
  margin: 0;
}

/* line 613, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #7b93aa;
  text-transform: uppercase;
  padding: 15px 39px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 115px;
  -moz-transition: background, color 0.3s ease;
  -o-transition: background, color 0.3s ease;
  -webkit-transition: background, color 0.3s ease;
  transition: background, color 0.3s ease;
}

/* line 629, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header a:hover {
  color: #fff;
}

/* line 632, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header a:hover .icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69);
  opacity: 0.69;
}

/* line 636, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header .icon {
  line-height: 40px;
  margin-bottom: 15px;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=29);
  opacity: 0.29;
}

/* line 646, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header .icon span {
  vertical-align: bottom;
}

/* line 649, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header .icon-lg {
  display: none;
}

/* line 652, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header .text {
  display: block;
  line-height: 120%;
}

/* line 656, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header--active a {
  background: #2f465b;
  color: #fff;
  cursor: default;
}

/* line 661, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header--active .icon {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=69);
  opacity: 0.69;
}

/* line 665, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header--active:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  height: 20px;
  background: #2f465b;
  z-index: 5;
  margin-top: -14px;
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -webkit-transform: skewY(-10deg);
  transform: skewY(-10deg);
}

/* line 681, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--header .tab-header--active:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  height: 20px;
  background: #2f465b;
  z-index: 5;
  margin-top: -14px;
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -webkit-transform: skewY(10deg);
  transform: skewY(10deg);
}

/* line 697, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--content {
  background: #f1eac8;
  padding: 35px 0 26px;
  font-family: "Roboto";
  min-height: 170px;
}

/* line 703, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--content .tab-item:not(:first-child) {
  display: none;
}

/* line 706, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes--content h5 {
  font-size: 15px;
  font-weight: normal;
  line-height: 120%;
}

/* line 711, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list {
  margin: 0;
  padding: 0 0 0 2%;
}

/* line 715, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list li {
  list-style-type: none;
  overflow: hidden;
  margin: 10px 0;
}

/* line 720, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list .icon {
  float: left;
  margin-right: 12px;
}

/* line 724, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list .content {
  overflow: hidden;
}

/* line 727, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list h5 {
  margin: 0 0 5px;
  font-weight: 700;
}

/* line 731, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-includes-air--list p {
  margin: 0;
  line-height: 120%;
  font-weight: 300;
}

/* line 736, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-more {
  padding: 25px 0 60px;
  background: #fff;
}

/* line 740, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-more-checkboxs {
  overflow: hidden;
  margin: 0 0 42px;
  padding: 0;
}

/* line 745, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page-more-checkboxs li {
  float: left;
  width: 50%;
  list-style-type: none;
  color: #448869;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
}

/* line 754, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2 {
  padding-top: 0;
  background: url(/assets/promo-item-bg-495c8430ba74286fc5e156aa5aecc6bcbb833b16de8f907c3a110fcfa9564b22.jpg);
  position: relative;
}

/* line 759, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  right: 50%;
  margin-right: -225px;
  background: #fff;
}

@media (max-width: 1199px) {
  /* line 771, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2:before {
    margin-right: -160px;
  }
}
@media (max-width: 991px) {
  /* line 776, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2:before {
    margin-right: 0;
    right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 782, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2 .container {
    width: 1170px;
  }
}
@media (max-width: 767px) {
  /* line 787, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2 .xs-nopadding {
    padding: 0;
  }
}
/* line 791, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-container {
  margin: 0 20px;
  padding: 22px 0;
}

@media screen and (max-width: 767px) {
  /* line 796, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2-container {
    margin: 0;
    padding: 0;
  }
}
/* line 801, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-info {
  margin-top: 20px;
}

/* line 804, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-info .tour-page--rating {
  margin-top: 4px;
}

@media (max-width: 767px) {
  /* line 808, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page_2-info {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
/* line 813, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price {
  display: inline-block;
  max-width: 230px;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

/* line 820, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price_fixed {
  position: fixed;
  top: 50px;
}

/* line 824, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price .tour-page-buy {
  width: 100%;
  font-size: 17px !important;
}

/* line 828, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price:before {
  content: '';
  width: 107%;
  padding: 0 10px;
  background: #d2c9b6;
  height: 12px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: absolute;
  top: 0;
  left: -3%;
  z-index: 1;
  margin-top: -5px;
}

/* line 844, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--info {
  position: relative;
  z-index: 2;
  background: #fff;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 0 0 0;
  text-align: left;
  padding: 10px 20px;
  margin-bottom: 35px;
}

/* line 855, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--info:after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background: url(/images/tour-info_after.png) center center repeat-x;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 865, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--info h5 {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #494e4c;
  font-family: "Roboto";
  margin-bottom: 20px;
}

/* line 873, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--list {
  margin: 0 0 35px;
  padding: 0;
}

/* line 877, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--list li {
  list-style-type: none;
  overflow: hidden;
  margin: 10px 0;
}

/* line 882, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--list li .icon {
  float: left;
  width: 20px;
  text-align: center;
  margin-right: 10px;
  padding-top: 5px;
}

/* line 889, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--list li .content {
  overflow: hidden;
  font-size: 12px;
  font-family: "Roboto";
  color: #616365;
  line-height: 130%;
}

/* line 896, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--price {
  display: inline-block;
  width: 100%;
  position: relative;
  padding-left: 30px;
  color: #616365;
  font-weight: 700;
  font-size: 12px;
  font-family: "Roboto";
  line-height: 22px;
  margin-bottom: 15px;
}

/* line 908, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--price:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
}

/* line 915, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.tour-page_2-price--price span {
  float: right;
  font-size: 22px;
}

/* line 920, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_big {
  display: table;
  width: 100%;
  min-height: 35px;
}

/* line 925, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_big input {
  display: none;
}

/* line 928, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_big span {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
  line-height: 120%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

/* line 940, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_big span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border: 1px solid #448869;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: url(/assets/custom-checkbox_big-ba983edecb042b3ac4e3e91dc4597fe7bd7f321e3bcc51d830928b9823039e99.png) center -200% no-repeat #fff;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* line 961, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_big input:checked + span:before {
  background-position: center center;
}

/* line 965, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey input {
  display: none;
}

/* line 968, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #bababa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  background: url(/images/check_grey.png) -200% center no-repeat #fff;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  float: left;
  margin-right: 20px;
}

/* line 985, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey input:checked + span {
  background-position: center center;
}

/* line 988, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey div {
  overflow: hidden;
  font-size: 12px;
  line-height: 120%;
  color: #919191;
  font-weight: 400;
}

/* line 995, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey div a {
  font-weight: 700;
  color: #919191;
  text-decoration: underline;
}

/* line 1000, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.custom-checkbox_grey div a:hover {
  text-decoration: none;
}

/* line 1004, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage {
  padding-top: 50px;
}

@media (max-width: 991px) {
  /* line 1008, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .form-tourpage {
    padding-top: 0;
  }

  /* line 1011, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .form-tourpage .tour-page-buy {
    margin: 40px 0 30px;
  }
}
/* line 1015, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage--header {
  background: #f1eac8;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  height: 46px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0;
  line-height: 120%;
  color: #8f8a72;
}

@media (max-width: 767px) {
  /* line 1031, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .form-tourpage--header {
    margin-right: -15px;
  }
}
/* line 1035, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage--header:before {
  content: '';
  width: 2000px;
  right: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: #f1eac8;
  top: 0;
  top: 0;
}

/* line 1046, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage--header_hide .form-tourpage--header-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 1052, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage--header-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 100%;
  background: #e6dfbe;
  width: 45px;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
}

/* line 1070, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .inputs-container {
  padding: 20px 0;
}

@media (max-width: 767px) {
  /* line 1074, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .form-tourpage .inputs-container {
    padding: 5px 0;
  }

  /* line 1077, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .form-tourpage .inputs-container > span {
    display: block;
    color: #8c8973;
    font-family: "Roboto";
    font-size: 14px;
    margin-bottom: 15px;
  }
}
/* line 1085, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-group {
  margin-top: 10px;
  margin-bottom: 18px;
}

/* line 1089, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .control-label {
  font-family: "Roboto";
  color: #919191;
  font-size: 15px;
  line-height: 27px;
}

/* line 1095, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-control {
  border-color: #dddddd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}

/* line 1104, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-control:-moz-placeholder {
  color: #c2c2c2;
}

/* line 1107, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-control::-moz-placeholder {
  color: #c2c2c2;
}

/* line 1110, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-control:-ms-input-placeholder {
  color: #c2c2c2;
}

/* line 1113, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
.form-tourpage .form-control::-webkit-input-placeholder {
  color: #c2c2c2;
}

@media (min-width: 1440px) {
  /* line 1118, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--title {
    font-size: 36px;
    margin-top: 13px;
  }

  /* line 1122, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--location {
    font-size: 17px;
  }

  /* line 1125, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating .stars li {
    font-size: 20px;
  }

  /* line 1128, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating .number {
    font-size: 23px;
    margin: 0 17px;
  }

  /* line 1132, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--infoafter {
    margin-top: 20px;
  }

  /* line 1135, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage {
    font-size: 17px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    -moz-border-radius: 36px;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    margin-right: 20px;
  }

  /* line 1145, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage:before {
    width: 20px;
  }

  /* line 1148, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage_current {
    width: auto;
    padding: 0 26px;
  }

  /* line 1152, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price {
    margin: 24px 0;
  }

  /* line 1155, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--header {
    font-size: 17px;
  }

  /* line 1158, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--info-content {
    max-width: 425px;
  }

  /* line 1161, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price .price {
    font-size: 73px;
    margin-bottom: 13px;
  }

  /* line 1165, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price .price .fa {
    font-size: 65px;
    margin-left: 20px;
  }

  /* line 1169, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--textincludes {
    padding-left: 68px;
    font-size: 17px;
  }

  /* line 1173, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-buy {
    font-size: 22px;
    padding: 16px 30px 12px;
  }

  /* line 1177, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-slider .slick-arrow {
    top: 152px;
    margin-right: 43px;
  }

  /* line 1181, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-slider .slick-next {
    top: 274px;
  }

  /* line 1184, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-partheader {
    margin: 0 0 27px;
    font-size: 22px;
  }

  /* line 1188, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--header .tab-header {
    font-size: 18px;
  }

  /* line 1191, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--header .tab-header a {
    height: 138px;
    padding: 15px 46px;
  }

  /* line 1195, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--header .tab-header .icon {
    line-height: 50px;
    margin-bottom: 19px;
  }

  /* line 1199, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--header .tab-header .icon-md {
    display: none;
  }

  /* line 1202, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--header .tab-header .icon-lg {
    display: block;
  }

  /* line 1205, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--content {
    padding: 46px 0 17px;
  }

  /* line 1208, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--content h5 {
    font-size: 18px;
  }

  /* line 1211, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes--content p {
    font-size: 17px;
  }

  /* line 1214, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes-air--list li {
    margin: 10px 0 15px;
  }

  /* line 1217, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes-air--list .icon {
    margin-right: 17px;
  }

  /* line 1220, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more {
    padding: 57px 0 60px;
  }

  /* line 1223, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more-checkboxs {
    margin-top: 33px;
  }

  /* line 1226, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more-checkboxs li {
    font-size: 22px;
  }

  /* line 1230, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .custom-checkbox_big span {
    padding-left: 63px;
    line-height: 40px;
    height: 40px;
  }

  /* line 1235, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .custom-checkbox_big span:before {
    width: 40px;
    height: 40px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
  }
}
@media (max-width: 991px) {
  /* line 1244, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating {
    margin: 17px 0 36px;
  }

  /* line 1247, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--info-content {
    max-width: 285px;
  }

  /* line 1250, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-partheader {
    margin: 30px 0;
  }

  /* line 1253, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more {
    padding: 10px 0;
  }

  /* line 1256, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more-checkboxs {
    margin-bottom: 15px;
  }

  /* line 1259, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more-checkboxs li {
    float: none;
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  /* line 1266, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page {
    padding: 0;
  }

  /* line 1269, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--title {
    font-size: 24px;
    margin: 15px 0;
  }

  /* line 1273, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--location {
    font-size: 12px;
    margin: 0;
  }

  /* line 1277, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating {
    display: block;
    text-align: left;
    margin: 7px 0;
  }

  /* line 1282, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating .stars li {
    margin: 0 5px 0 0;
    font-size: 14px;
  }

  /* line 1286, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--rating .number {
    font-size: 16px;
  }

  /* line 1289, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--infoafter {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* line 1293, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage {
    font-size: 12px;
    font-family: "Roboto";
    width: 28px;
    height: 28px;
    line-height: 26px;
    margin-right: 15px;
  }

  /* line 1301, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage:before {
    width: 15px;
  }

  /* line 1304, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--stage_current {
    padding: 0 15px;
    width: auto;
    font-weight: 500;
  }

  /* line 1309, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--header {
    font-weight: 400;
  }

  /* line 1312, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price .price {
    font-size: 48px;
  }

  /* line 1315, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price .price .fa {
    font-size: 42px;
  }

  /* line 1318, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--textincludes {
    font-size: 13px;
  }

  /* line 1321, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page--textincludes:before {
    top: 6px;
  }

  /* line 1324, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-partheader {
    margin: 15px 0;
  }

  /* line 1327, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--item {
    border-bottom: 1px solid #fff;
    overflow: hidden;
  }

  /* line 1331, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--header {
    background: #a7bede;
    padding: 15px;
    display: block;
    color: #fff;
    line-height: 100%;
    font-size: 16px;
    font-family: "Roboto";
  }

  /* line 1340, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--header:hover {
    text-decoration: none;
    color: #fff;
  }

  /* line 1344, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--header .icon {
    float: right;
    font-size: 18px;
    -moz-transition: -moz-transform 0.3s ease;
    -o-transition: -o-transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
  }

  /* line 1352, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--header .fa:before {
    content: '\f107';
  }

  /* line 1355, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--content {
    margin-bottom: 10px;
    background: #f1eac8;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 1366, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--heading {
    font-family: "Roboto";
    margin: 20px 0;
    font-size: 15px;
    font-weight: 400;
  }

  /* line 1372, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--item_active .tour-page-includesxs--header .icon {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 1378, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includesxs--item_active .tour-page-includesxs--content {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 1383, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes-air--list li {
    margin-bottom: 25px;
  }

  /* line 1386, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-includes-air--list p {
    font-size: 14px;
  }

  /* line 1389, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-more-checkboxs {
    margin-bottom: 0;
  }

  /* line 1392, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--info-content {
    float: none;
    max-width: 100%;
  }

  /* line 1396, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-price--info-button {
    overflow: visible;
    margin-top: 15px;
  }

  /* line 1400, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .tour-page-buy {
    display: block;
    width: 100%;
  }

  /* line 1405, /home/kabashnikov/Desktop/tours/poedemvtur/app/assets/stylesheets/tour-page.scss */
  .custom-checkbox_big span {
    font-size: 16px;
  }
}
