@charset "utf-8";
/* CSS Document */

@mixin box-sizing{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

@mixin border-radius($rad){
  -webkit-border-radius:$rad;
  -moz-border-radius:$rad;
  border-radius:$rad;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

@mixin linear-gradient($bottomColor,$topColor){
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $topColor, endColorstr = $bottomColor);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = $topColor, endColorstr = $bottomColor)";
background-image: -moz-linear-gradient(top, $topColor, $bottomColor);
background-image: -ms-linear-gradient(top, $topColor, $bottomColor);
background-image: -o-linear-gradient(top, $topColor, $bottomColor);
background-image: -webkit-gradient(linear, center top, center bottom, from($topColor), to($bottomColor));
background-image: -webkit-linear-gradient(top, $topColor, $bottomColor);
background-image: linear-gradient(top, $topColor, $bottomColor);
}

