// fonts
$font-museo:'Museo Sans';
$font-roboto:'Roboto';
$font-helvetica:'helveticaneuecyr';

// colors
$color-dark:#323232;
$color-grey_light:#f4f4f4;
$white:#ffffff;
$yellow:#f3c81a;
$blue:#0073e5;

$wideM:1440px;
$wide:1439px;
$tabletM:992px;
$tablet:991px;
$mobileM:768px;
$mobile:767px