html, body{font-family:'Museo Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;min-width:320px;margin:0 auto;color:#3b3b3b;}
h1{font-family:'Museo Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;color:#555;font-size:30px;font-weight:900;}
h1 small{display:block;font-size:14px;font-weight:500;color:#444;}
p{font-family:'Roboto', sans-serif;}
.more a{display:block;position:relative;z-index:2;text-align:center;background:#e2dbc6;padding:18px 0;text-transform:uppercase;font-size:18px;font-weight:900;color:#737373;-webkit-transition:background .2s ease-in;-moz-transition:background .2s ease-in;-ms-transition:background .2s ease-in;-o-transition:background .2s ease-in;transition:background .2s ease-in;}
.more a:hover{text-decoration:none;background:#eec;}
.btn-outline{font-size:16px;font-weight:900;text-transform:uppercase;text-align:center;color:#fff;border:2px solid #fff;border-radius:3px;padding:13px 40px;-webkit-transition:all .4s ease-in;-moz-transition:all .4s ease-in;-ms-transition:all .4s ease-in;-o-transition:all .4s ease-in;transition:all .4s ease-in;}
.btn-outline:hover{color:#333;background:#fff;}
.btn-white{font-size:16px;font-weight:900;text-transform:uppercase;text-align:center;color:#000;background:#fff;border:2px solid #fff;border-radius:3px;padding:13px 40px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-white:hover{background:#ddd;border-color:#ddd;}
.btn-green{background:#487;border-bottom:#376a53 3px solid;border-radius:3px;color:#fff;font-family:'Roboto', sans-serif;font-weight:500;font-size:18px;padding:8px 12px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-green:hover{background:#376a53;border-color:#487;color:#fff;}
.btn-orange{background:#b65;border-bottom:#935739 3px solid;border-radius:3px;color:#fff;font-family:'Roboto', sans-serif;font-weight:700;font-size:13px;text-transform:uppercase;padding:8px 12px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-orange:hover{background:#935739;border-color:#b65;color:#fff;}
.btn-blue{display:inline-block;background:#3e5870;border-bottom:#233b50 3px solid;border-radius:3px;color:#fff;font-family:'Museo Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:900;font-size:17px;text-transform:uppercase;padding:8px 12px;width:220px;line-height:40px;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-blue:hover{background:#233b50;border-color:#3e5870;color:#fff;}
.btn-black{display:inline-block;background:#242424;border-bottom:#000 3px solid;border-radius:3px;color:#fff;font-family:'Museo Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:900;font-size:16px;text-transform:uppercase;padding:15px 20px 10px;line-height:1;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-black:hover{background:#000;border-color:#242424;color:#fff;}
.btn-cyan{display:inline-block;background:#10706d;border-bottom:#105f5d 3px solid;border-radius:3px;color:#fff;font-family:'Museo Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;font-weight:900;font-size:16px;text-transform:uppercase;padding:15px 20px 10px;line-height:1;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-cyan:hover{background:#105f5d;border-color:#10706d;color:#fff;}
.btn-more{border:1px solid #eee;border-radius:3px;margin:20px 0 50px;padding:10px 35px 8px;background:none;font-size:14px;font-weight:900;text-transform:uppercase;color:#4c4c4c;-webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-ms-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in;}
.btn-more:hover{background:#eee;}
.like{display:block;width:41px;height:36px;background:url("../img/icon-like.png") center no-repeat;opacity:.5;-webkit-transition:opacity .2s ease-in;-moz-transition:opacity .2s ease-in;-ms-transition:opacity .2s ease-in;-o-transition:opacity .2s ease-in;transition:opacity .2s ease-in;}
.like:hover{opacity:1;}
.visible-xxs{display:none;}
@media (min-width:1200px){h1{font-size:39px;}
}
@media (max-width:767px){.xs-pull-left{float:left !important;}
.xs-pull-right{float:right !important;}
.xs-padding{padding:20px;}
}
@media (max-width:400px){.visible-xxs{display:inherit;}
.hidden-xxs{display:none;}
}
a.pluso-logo, a.pluso-go, a.pluso-market, a.pluso-promo{display:none !important;}
.pluso-list{padding-bottom:10px;}
.flex-1{order:1}
.flex-2{order:2}
.flex-3{order:3}
.flex-4{order:4}
.flex-5{order:5}
.flex-6{order:6}
.flex-7{order:7}
.flex-8{order:8}
.flex-9{order:9}