<div class="container-fluid footer-container">
  <footer class="row">
          <div class="footer-main-top"><%=image_tag('footer-main-top.png')%></div>
          <a href="tel:88005005316" class="col-xs-12 footer-phone visible-xs">8 800 500-53-16</a>
    <div class="clearfix visible-xs"></div>
    <div class="col-md-5 col-md-offset-1 col-sm-12">
      <div class="row">
        <div class="footer-out-pages col-sm-2 col-xs-2 pull-right visible-sm visible-xs">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-youtube"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-vk"></a>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-10">
          <ul class="nav-footer">
            <li><a href="/about">О компании</a></li>
            <li><a href="/about#footer-map">Точки оформления</a></li>
            <li><a href="/operators">Туроператоры</a></li>
            <li><a href="/countries">Отели по странам</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-10">
          <ul class="nav-footer">
            <li><a href="/countries">Туры по странам</a></li>
            <li><a href="/about#about-comments">Отзывы клиентов</a></li>
            <li><a href="/about#faq">Частные вопросы</a></li>
            <li><a href="/blog">Блог</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix visible-sm"></div>
    <div class="col-md-5">
      <hr class="visible-xs">
    <div class="copyright">
        <p>© 2016 PoedemVtur</p>
        <p>Вся информация, размещенная на сайте, носит исключительно информационный характер и не является рекламой и публичной офертой</p>
  <p>ООО "ЕВРОФАНТАЗИЯ", ОГРН 1057747284319<br>
<a style="text-decoration: none;
        color: #938765;" href="/about#footer-map">г. Москва, ул. Пятницкая, д. 43, стр. 3, офис 5</a></p>
      </div>
    
    
      <a href="tel:88005005316" class="footer-phone hidden-xs">8 800 500-53-16</a>
      <div class="footer-out-pages hidden-sm hidden-xs">
        <a href="#" class="fa fa-facebook">

          <svg width="140%" height="140%">
            <circle class="path" r="22" cx="25" cy="24" fill="transparent" stroke-width="3"></circle>
          </svg>

        </a>
        <a href="#" class="fa fa-youtube">
          <svg width="140%" height="140%">
            <circle class="path" r="22" cx="25" cy="24" fill="transparent" stroke-width="3"></circle>
          </svg>
        </a>
        <a href="#" class="fa fa-instagram">
          <svg width="140%" height="140%">
            <circle class="path" r="22" cx="25" cy="24" fill="transparent" stroke-width="3"></circle>
          </svg>
        </a>
        <a href="#" class="fa fa-vk">
          <svg width="140%" height="140%">
            <circle class="path" r="22" cx="25" cy="24" fill="transparent" stroke-width="3"></circle>
          </svg>
        </a>
      </div>
    </div>
    <div id="design-copy" class="hidden-xs">Дизайн сайта - OPENPIXEL</div>
    <div id="stt"></div>
  </footer>
</div>
</div>
