<nav id="site-menu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
	<ul class="nav navmenu-nav">
		<li><a class="active" href="/">Главная</a></li><li class="visible-xs"><a href="/about#footer-map">Контакты</a></li><li><a href="/blog">Блог</a></li><li><a href="/countries">Туры по странам</a></li><li><a href="/operators">Туроператоры</a></li><li><a href="/about">О нас</a></li>	<li><a>&nbsp;</a></li>
	</ul>
	<input type="search" placeholder="">
</nav>
<a href="/" id="login-link" class="fa fa-lock">
	<svg width="40px" height="40px">
		<circle class="path" r="17" cx="20" cy="20" fill="transparent"  stroke-width="3"></circle>
	</svg>
</a>
<button type="button" id="nav-toggle" data-recalc="false" data-toggle="offcanvas" data-target="#site-menu" data-canvas="#site-wrap">
	<span class="icon-bar top"></span>
	<span class="icon-bar middle"></span>
	<span class="icon-bar bottom"></span>
</button>
<header class="container-fluid" id="all-header">
	<div class="row">
		<div class="hidden-xs col-md-4 col-sm-4 text-right">
			
			<span class="header-phone header-phone_main">8 800 500-53-16</span>
		</div>
		<div class="col-xs-8 col-md-4 col-sm-4 text-center" id="logo">
			<a href="/">ПОЕДЕМ В ТУР</a>
			<em>мобильный туроператор</em>
		</div>
		<div class="hidden-xs col-md-4 col-sm-4 text-left">
			<a class="header-link" href="/about">Контакты</a>
		</div>
	</div>
</header>