.design{
  background-position:top center;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  @include opacity(0.2);
}
.design.design-country{
  background-image:url('../DEMO/design-country_desktop.jpg');
  height:5642px;
}