#header-slider .carousel-control{font-family:'Roboto', cursive;width:51px !important;height:30px !important;position:absolute;top:50%;font-size:60px;line-height:30px;margin-top:-15px;z-index:100;}
#header-slider .carousel-control.left{left:60px;background:url(../img/arr-left.png) center no-repeat !important;-webkit-transition:left .2s ease;-moz-transition:left .2s ease;-ms-transition:left .2s ease;-o-transition:left .2s ease;transition:left .2s ease;}
#header-slider .carousel-control.left:active{left:50px;}
#header-slider .carousel-control.right{right:60px;background:url(../img/arr-right.png) center no-repeat !important;-webkit-transition:right .2s ease;-moz-transition:right .2s ease;-ms-transition:right .2s ease;-o-transition:right .2s ease;transition:right .2s ease;}
#header-slider .carousel-control.right:active{right:50px;}
#header-slider .carousel-indicators li{background:#fff !important;width:12px;height:12px;opacity:.5;margin:0 3px !important;}
#header-slider .carousel-indicators li.active{opacity:1;}
#header-slider .item{background-position:center;background-repeat:no-repeat;background-size:cover;overflow:hidden;width:100%;height:530px;-webkit-transition:all 1.7s cubic-bezier(.75,0,.25,1) .2s;-moz-transition:all 1.7s cubic-bezier(.75,0,.25,1) .2s;-ms-transition:all 1.7s cubic-bezier(.75,0,.25,1) .2s;-o-transition:all 1.7s cubic-bezier(.75,0,.25,1) .2s;transition:all 1.7s cubic-bezier(.75,0,.25,1) .2s;}
#header-slider .item .carousel-caption{margin-bottom:20px;right:0;left:0;}
#header-slider .carousel-caption h3{font-weight:900;font-size:52px;margin-bottom:0;text-shadow:none;position:relative;}
#header-slider .carousel-caption h3 span{text-transform:uppercase;}
#header-slider .carousel-caption h3 .price{font-weight:500;white-space:nowrap;}
#header-slider .carousel-caption h3 .price i{font-size:85%;}
#header-slider .carousel-caption h3 small{font-size:18px;font-weight:300;color:#fff;}
#header-slider .carousel-caption em{font-family:"Georgia", "Times New Roman", Times, serif;text-transform:lowercase;font-size:24px;position:relative;white-space:nowrap;}
#header-slider .carousel-caption .btnset{margin-top:60px;margin-bottom:60px;position:relative;}
#header-slider .carousel-caption .btn{margin:0 10px;padding-left:0;padding-right:0;width:210px;}
#header-slider .carousel-caption .stars i{font-size:33px;color:#000;opacity:.5;line-height:50px;}
#header-slider .carousel-caption .stars i.active{opacity:1;color:#f6de7d;}
#header-slider .carousel-caption .rating{font-family:'Roboto', sans-serif;font-size:36px;position:relative;white-space:nowrap;margin:0 0 120px;}
#header-slider > .carousel-caption{bottom:100px;}
#header-slider .thumbs{margin:0;position:relative;text-align:center;top:-102px;margin-bottom:-100px;z-index:10;}
#header-slider .thumbs .th-wrap{overflow:hidden;height:100px;word-spacing:0;letter-spacing:0;}
#header-slider .thumbs .th-wrap div{cursor:pointer;display:inline-block;position:relative;overflow:hidden;width:200px;height:100px;background-position:center;background-repeat:no-repeat;background-size:cover;border:1px solid rgba(255,255,255,.7);}
#header-slider .thumbs .th-wrap div:not(.selected){opacity:.5;}
@media (max-width:991px){#header-slider .item{height:430px;}
#header-slider .carousel-caption .btnset{margin-top:30px;margin-bottom:30px;}
#header-slider .carousel-caption h3{font-size:43px;}
#header-slider .carousel-caption .btn{width:180px;}
#header-slider .carousel-caption .rating{margin:0 0 50px;}
#header-slider > .carousel-caption{bottom:0;height:360px !important;}
}
@media (max-width:595px){#header-slider .item{height:460px;}
#header-slider .carousel-caption .btnset{margin-top:10px;margin-bottom:0;}
#header-slider .carousel-caption h3{font-size:36px;}
#header-slider .carousel-caption em{font-size:18px;}
#header-slider .carousel-caption .btn{display:block;margin:0 auto 10px;width:180px;padding:8px 0;font-size:14px;}
#header-slider .carousel-caption .rating{margin:0 0 30px;}
}