.tour-search-preload{
	width:100%;
	padding:20px 0;
	text-align: center;
	&--spinner{
		margin:20px 0;
		line-height: 44px;
		display: inline-block;
		.icon{
			display: inline-block;
			background:url('../img/spinner.gif') center center no-repeat;
			width:44px;
			height:44px;
			margin-right:20px;
			float: left;
		}
		.text{
			font-size:16px;
			font-family:'Roboto';
		}
	}
	&--advertising{
		display: inline-block;
		margin:15px 0 0;
		width:100%;
		img{
			max-width:100%;
			height:auto;
		}
		iframe{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		&.video{
			position: relative;
			height:0;
			padding-bottom:56.25%;
			overflow: hidden;
		}
	}
}