.tour-filter{
	display: block;
	width:100%;
	min-height:42px;
	background:#fff;
	&-height{
		display: none;
		height:226px;
	}
	&_fixed{
		position: fixed;
		top:53px;
		left:0;
		z-index:4;
	}
	@media (min-width:1200px) and (max-width:1440px){
		.container{
			width:970px;
		}
	}
	&--show{
		text-align: center;
		background:#178a87;
		color:#fff;
		text-decoration: none;
		display: block;
		width:100%;
		font-size:16px;
		font-style: italic;
		line-height: 18px;
		font-family: Georgia, 'Times New Roman', Times, serif;
		vertical-align: middle;
		padding:12px 0;
		position: absolute;
		z-index:1;
		height:42px;
		@include box-sizing;
		@include opacity(0);
		span{
			display: inline-block;
		}
		i{
			margin-left:10px;
			display: inline-block;
			float:right;
		}
		&:hover{
			color:#fff;
			text-decoration: none;
		}
	}
	&--container{
		position: relative;
		z-index:2;
		width:100%;
		box-shadow:0 1px 5px rgba(0,0,0,0.16);
		background:#fff;
		padding:15px 0;
		@media (max-width:767px){
			padding-bottom:30px;
		}
	}
	&--line{
		display: block;
		width:100%;
		text-align: center;
		position: absolute;
		top:100%;
		left:0;
		margin-top:-9px;
		@media (max-width:767px){
			margin-top:-13px;
		}
	}
	&--hide{
		background:#fff;
		@include border-radius(50%);
		width:19px;
		height:19px;
		border:1px solid #d6d6d6;
		display: inline-block;
		text-align: center;
		line-height:17px;
		font-size:14px;
		color:#adadad;
		@include transition(background .3s ease);
		&:hover{
			background:#f4f4f4;
			color:#adadad;
		}
		@media (max-width:767px){
			width:32px;
			height:32px;
			font-size:16px;
			line-height:29px;
		}
	}
	&--header{
		color:#c0714b;
		font-size:16px;
		font-weight:700;
		font-family: 'Roboto';
		display: inline-block;
		vertical-align: middle;
		margin-bottom:20px;
		width: 100%;
		line-height:100%;
		.icon{
			float:left;
			display: inline-block;
		}
		.icons-filter-eat{
			margin-top:-5px;
		}
		.icons-filter-class{
			margin-top:-2px;
		}
		.icons-filter-price{
			margin-top:1px;
		}
		.icons-filter-beach{
			margin-top:2px;
		}
		.text{
			margin-left:15px;
			display: inline-block;

		}
	}
	&--checkboxs{
		margin:0;
		padding:0;
		li{
			list-style-type: none;
			margin:0;
		}
	}
	&--price{
		position: relative;
		.form-control{
			font-size:14px;
			border-color:#d1d1d1;
			outline: none;
			box-shadow:none;
			color:#3b3b3b;
			height:30px;
			line-height: 30px;
			font-family: 'Roboto';
		}
		.sep{
			background:#aaaaaa;
			display: inline-block;
			width:100%;
			height:1px;
			position: relative;
			top:50%;
			margin-top:-1px;
		}
	}
}
.custom-checkbox{
	position: relative;
	overflow: hidden;
	font-weight:normal;
	font-family: 'Roboto';
	font-size:14px;
	input{
		display: none;
	}
	span{
		display: block;
		position: relative;
		cursor: pointer;
		padding-left:33px;
		line-height: 19px;
	}
	span:before{
		content:'';
		background:url('../img/custom-checkbox.png') -1px -1px no-repeat;
		display: inline-block;
		width:18px;
		height:18px;
		position: absolute;
		left:0;
		top:0;
		@include transition(background .3s ease);
		border:1px solid #a3a3a3;
		@include box-sizing;
		@include border-radius(4px);
		overflow: hidden;
	}
	input:checked + span:before{
		background-position:-1px  -19px ;
		border-color:#178a87;
	}

}
.filter-checkbox_class{
	color:#dbdbdb;
	font-size:18px;
	span{
		@include transition(color .3s ease);
	}
	input:checked + span{
		color:#178a87;
	}
	i{
		margin-right:2px;
	}
}
//slider-price
.tour-filter--price-slider{
	position: relative;
	margin:20px 0;
	.irs {
	    height: 20px;
	}
	.irs-with-grid {
	    height: 20px;
	}
	.irs-line {
	    height: 1px;
	    top: 15px;
	    background:#696969;
	}
	    .irs-line-left {
	        height: 1px;
	        background-position: 0 -30px;
	    }
	    .irs-line-mid {
	        height: 1px;
	        background-position: 0 0;
	    }
	    .irs-line-right {
	        height: 1px;
	        background-position: 100% -30px;
	    }

	.irs-bar {
	    height: 12px; top: 25px;
	    background-position: 0 -60px;
	}
	    .irs-bar-edge {
	        top: 25px;
	        height: 12px; width: 9px;
	        background-position: 0 -90px;
	    }

	.irs-shadow {
	    height: 3px; top: 34px;
	    background: #000;
	    opacity: 0.25;
	}
	.lt-ie9 .irs-shadow {
	    filter: alpha(opacity=25);
	}

	.irs-slider {
	    //background:#252525;
	    @include border-radius(50%);
	    //width:29px;
	    //height:29px;
	    //border:2px solid #f3a91a;
	    top:0px;
	    cursor:pointer;
	    @extend .icons-slider-filter;
	}
	.irs-slider.state_hover, .irs-slider:hover {

	}

	.irs-min, .irs-max {
	    display: none;
	}

	.irs-from, .irs-to, .irs-single {
	    background:#252525;
	    @include border-radius(3px);
	    font-size:18px;
	    color:#f3c81a;
	    font-weight:400;
	    line-height:100%;
	    padding:5px 10px;
	    .fa{
	      margin-left:5px;
	      font-size:16px;
	    }

	}
	.irs-from:after, .irs-to:after, .irs-single:after {
	    position: absolute; display: block; content: "";
	    bottom: -12px; left: 50%;
	    width: 0; height: 0;
	    margin-left: -6px;
	    overflow: hidden;
	    border: 6px solid transparent;
	    border-top-color: #252525;
	}


	.irs-grid-pol {
	    background: #e1e4e9;
	}
	.irs-grid-text {
	    color: #999;
	}

	.irs-disabled {
	}
}