  <!-- country chart begin -->
  <div class="country-chart">
    <div class="container">
      <h3 class="country-part-header">ГОРЯЩИЕ ТУРЫ И ПУТЕВКИ <%= @country.case_1 %></h3>
      <h5 class="country-part-desc">
        <a href="#" class="country-chart-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        График цен по месяцам
        <a href="#" class="country-chart-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </h5>
      <div class="country-chart-slider">
        <div class="country-chart-list">
          <div class="row">
            <div class="col-xs-1">
              <a href="#" class="country-chart-list_active">
                <span class="line">
                  <em class="percent" style="height:66%;"></em>
                </span>
                <span class="text">Май</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:80%;"></em>
                </span>
                <span class="text">Июнь</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:90%;"></em>
                </span>
                <span class="text">Июль</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:100%;"></em>
                </span>
                <span class="text">Авг</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:75%;"></em>
                </span>
                <span class="text">Сент.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:65%;"></em>
                </span>
                <span class="text">Окт.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:50%;"></em>
                </span>
                <span class="text">Нояб.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:10%;"></em>
                </span>
                <span class="text">Дек.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:10%;"></em>
                </span>
                <span class="text">Янв.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:10%;"></em>
                </span>
                <span class="text">Февр.</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:20%;"></em>
                </span>
                <span class="text">Март</span>
              </a>
            </div>
            <div class="col-xs-1">
              <a href="#">
                <span class="line">
                  <em class="percent" style="height:30%;"></em>
                </span>
                <span class="text">Апр.</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- country chart end -->