#login-link{display:block;position:fixed;left:49px;top:30px;width:40px;height:40px;z-index:1031;color:#fff;text-align:center;line-height:40px;font-size:24px;}
#login-link svg{position:absolute;left:0;top:0;}
#login-link:hover{text-decoration:none;-webkit-transform:scale(.8);-moz-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);transform:scale(.8);}
#login-link circle{stroke:#fff;stroke-dasharray:200;stroke-dashoffset:200;animation:login-border-back .2s linear alternate;}
#login-link:hover circle{stroke-dasharray:320;animation:login-border .5s linear alternate;}
@keyframes login-border{from{stroke-dasharray:200;}
to{stroke-dasharray:320;}
}
@keyframes login-border-back{from{stroke-dasharray:320;}
to{stroke-dasharray:200;}
}
@media (max-width:991px){#login-link{left:38px;top:28px;}
}
#nav-toggle{display:block;position:fixed;right:45px;top:39px;z-index:1031;background:none;border:none;-webkit-transform:translateZ(1px);-moz-transform:translateZ(1px);-ms-transform:translateZ(1px);-o-transform:translateZ(1px);transform:translateZ(1px);-webkit-backface-visibility:visible !important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
#nav-toggle .icon-bar{-webkit-transition:-webkit-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);-moz-transition:-moz-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);-ms-transition:-ms-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);-o-transition:-o-transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);transition:transform 200ms cubic-bezier(0.63, 0.62, 0.48, 1.64);background:#fff;display:block;width:26px;height:3px;margin-bottom:4px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-backface-visibility:hidden;-webkit-transform:translateZ(0) scale(1.0, 1.0);}
#nav-toggle.active{right:300px !important;}
#nav-toggle.active *{background:#fff;}
#nav-toggle.active .bottom,
#nav-toggle.activeFilter .bottom{-webkit-transform:rotateZ(-45deg) translateX(5px) translateY(-5px) !important;-moz-transform:rotateZ(-45deg) translateX(5px) translateY(-5px) !important;-ms-transform:rotateZ(-45deg) translateX(5px) translateY(-5px) !important;-o-transform:rotateZ(-45deg) translateX(5px) translateY(-5px) !important;transform:rotateZ(-45deg) translateX(5px) translateY(-5px) !important;}
#nav-toggle.active .middle,
#nav-toggle.activeFilter .middle{opacity:0;}
#nav-toggle.active .top,
#nav-toggle.activeFilter .top{-webkit-transform:rotateZ(45deg) translateX(5px) translateY(5px) !important;-moz-transform:rotateZ(45deg) translateX(5px) translateY(5px) !important;-ms-transform:rotateZ(45deg) translateX(5px) translateY(5px) !important;-o-transform:rotateZ(45deg) translateX(5px) translateY(5px) !important;transform:rotateZ(45deg) translateX(5px) translateY(5px) !important;}
#nav-toggle:hover .top{-webkit-transform:rotateZ(0deg) translateX(0px) translateY(-3px);-moz-transform:rotateZ(0deg) translateX(0px) translateY(-3px);-ms-transform:rotateZ(0deg) translateX(0px) translateY(-3px);-o-transform:rotateZ(0deg) translateX(0px) translateY(-3px);transform:rotateZ(0deg) translateX(0px) translateY(-3px);}
#nav-toggle:hover .bottom{-webkit-transform:rotateZ(0deg) translateX(0px) translateY(3px);-moz-transform:rotateZ(0deg) translateX(0px) translateY(3px);-ms-transform:rotateZ(0deg) translateX(0px) translateY(3px);-o-transform:rotateZ(0deg) translateX(0px) translateY(3px);transform:rotateZ(0deg) translateX(0px) translateY(3px);}
#nav-toggle:focus{outline:none;}
@media (max-width:991px){#nav-toggle{right:38px;top:39px;}
}
@media (max-width:400px){#nav-toggle.active{right:230px !important;top:30px;}
#nav-toggle.active .icon-bar{background:#333 !important;}
}
#site-overlay{display:none;position:absolute;left:0;right:0;top:0;bottom:0;z-index:1030;width:100%;height:100%;background:rgba(0,0,0,.7);}
.canvas-slid #site-overlay{display:block;}
#all-header{position:fixed;width:100%;color:#fff;padding-top:33px;z-index:500;min-width:320px;}
#all-header .header-link{display:inline-block;color:inherit;font-size:16px;text-transform:uppercase;margin:0 30px;position:relative;}
#all-header .header-link:after{content:'';width:0;height:2px;position:absolute;left:0;right:0;margin:auto;bottom:-2px;border-radius:2px;background:#fff;-webkit-transition:width .3s, background .3s;-moz-transition:width .3s, background .3s;-ms-transition:width .3s, background .3s;-o-transition:width .3s, background .3s;transition:width .3s, background .3s;}
#all-header .header-link:hover{color:#fff;text-decoration:none;}
#all-header .header-link:hover:after{width:50%;}
#logo{color:inherit;text-decoration:none;}
#logo a{display:block;color:inherit;text-decoration:none !important;font-size:28px;font-weight:900;line-height:31px;}
#logo a:before,
#logo a:after{content:'';display:inline-block;height:3px;width:15px;background:#fff;vertical-align:middle;margin:0 7px 3px;-webkit-transition:width 0.3s, background .3s;-moz-transition:width 0.3s, background .3s;-ms-transition:width 0.3s, background .3s;-o-transition:width 0.3s, background .3s;transition:width 0.3s, background .3s;}
#logo a:hover:before,
#logo a:hover:after{width:30px;}
#logo em{font-family:Georgia, "Times New Roman", Times, serif;font-size:14px;}
@media (min-width:1400px){#all-header .header-link{font-size:21px;}
#logo a{font-size:36px;}
#logo em{font-size:18px;}
}
@media (max-width:991px){#all-header .header-link{font-size:14px;}
#logo a{display:block;max-width:400px;margin:0 auto;}
#logo a:before,
#logo a:after{width:0;margin:0;}
#logo a:hover:before,
#logo a:hover:after{width:3px;}
}
@media (max-width:400px){#logo{margin-top:48px;}
}
#all-header.fixed-theme{padding-top:15px;padding-bottom:7px;background:#fff;color:#333;border-bottom:1px solid #eee;}
#all-header.fixed-theme .header-link{color:inherit;font-size:13px;}
#all-header.fixed-theme .header-link:after,
#all-header.fixed-theme div:before,
#all-header.fixed-theme div:after{background:#333;}
#all-header.fixed-theme #logo{margin-top:0 !important;}
#all-header.fixed-theme #logo a{font-size:20px;line-height:10px;}
#all-header.fixed-theme #logo a:before,
#all-header.fixed-theme #logo a:after{background:#333;}
#all-header.fixed-theme #logo em{font-size:10px;font-weight:100;}
#nav-toggle.fixed-theme{right:5px;top:15px;}
#nav-toggle.fixed-theme *{background:#333;}
#nav-toggle.fixed-theme.active{top:10px;}
#nav-toggle.fixed-theme.active *{background:#fff;}
#login-link.fixed-theme{left:5px;top:5px;color:#333;}
#login-link.fixed-theme circle{stroke:#333;}
#all-header,
#nav-toggle,
#login-link{-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
#all-header *{-webkit-transition:font 0.3s ease 0s;-moz-transition:font 0.3s ease 0s;-ms-transition:font 0.3s ease 0s;-o-transition:font 0.3s ease 0s;transition:font 0.3s ease 0s;}
#site-menu{background:#fff;padding:40px 0 0 40px;border-left:0;}
#site-menu .nav{max-height:80%;max-height:calc(100% - 45px);overflow:auto;padding-bottom:20px;margin-bottom:0;}
#site-menu .nav li a{font-size:18px;font-weight:700;margin:8px 0;padding:0;color:#333;background:none;position:relative;display:inline-block;}
#site-menu .nav li.active a{color:#178a87;}
#site-menu .nav li a:after{content:'';width:0;height:3px;position:absolute;left:0;bottom:-2px;border-radius:1px;background:#333;-webkit-transition:width .3s, background .3s;-moz-transition:width .3s, background .3s;-ms-transition:width .3s, background .3s;-o-transition:width .3s, background .3s;transition:width .3s, background .3s;}
#site-menu .nav li.active a:after{background:#178a87;}
#site-menu .nav li a:hover{}
#site-menu .nav li a:hover:after{width:50%;}
#site-menu .nav li span{display:inline-block;font-size:14px;font-weight:500;margin-left:15px;text-align:center;width:35px;height:35px;line-height:35px;border:1px solid #aaa;border-radius:50%;}
#site-menu input{background-color:#111;background-image:url(/img/main-menu-search.png);background-position:left 13px center;background-repeat:no-repeat;color:#fff;position:absolute;bottom:0;left:0;right:0;width:100%;border:0;padding:10px 15px 10px 45px;font-size:18px;}
@media (max-width:400px){#site-menu{padding-top:75px;}
}