.icons-sprite,.icons-aircraft,.icons-arrow-left,.hotel-slider .slick-prev,.icons-arrow-left_border,.prev-month,.icons-arrow-leftbig_white,.main-offer-slider .slick-prev,.icons-arrow-right,.hotel-slider .slick-next,.icons-arrow-right_border,.next-month,.icons-arrow-rightbig_white,.main-offer-slider .slick-next,.icons-calendar_orange,.icons-close_grey,.icons-close_orange,.icons-home,.icons-hotel-beach,.icons-hotel-info,.icons-hotel-pool,.icons-location,.icons-location_orange,.icons-people-adult_orange,.icons-people-adult_white,.icons-people-adultsm_orange,.icons-people-adultsm_white,.icons-people-children_orange,.icons-people-children_white,.icons-people-childrensm_orange,.icons-people-childrensm_white,.icons-plus_orange,.icons-search,.icons-search_white,.icons-slider,.irs-slider
{
	background-image: image-url('icons-s564e51ba49.png');
	background-repeat: no-repeat;
}
.icons-aircraft
{
	background-position: 0 0;
	height: 14px;
	width: 13px;
}
.icons-arrow-left,.hotel-slider .slick-prev
{
	background-position: 0 -14px;
	height: 17px;
	width: 30px;
}
.icons-arrow-left_border,.prev-month
{
	background-position: 0 -31px;
	height: 19px;
	width: 19px;
}
.icons-arrow-leftbig_white,.main-offer-slider .slick-prev
{
	background-position: 0 -50px;
	height: 93px;
	width: 21px;
}
.icons-arrow-right,.hotel-slider .slick-next
{
	background-position: 0 -143px;
	height: 17px;
	width: 30px;
}
.icons-arrow-right_border,.next-month
{
	background-position: 0 -160px;
	height: 19px;
	width: 19px;
}
.icons-arrow-rightbig_white,.main-offer-slider .slick-next
{
	background-position: 0 -179px;
	height: 93px;
	width: 21px;
}
.icons-calendar_orange
{
	background-position: 0 -272px;
	height: 20px;
	width: 20px;
}
.icons-close_grey
{
	background-position: 0 -292px;
	height: 22px;
	width: 22px;
}
.icons-close_orange
{
	background-position: 0 -314px;
	height: 13px;
	width: 13px;
}
.icons-home
{
	background-position: 0 -327px;
	height: 14px;
	width: 16px;
}
.icons-hotel-beach
{
	background-position: 0 -341px;
	height: 45px;
	width: 46px;
}
.icons-hotel-info
{
	background-position: 0 -386px;
	height: 43px;
	width: 39px;
}
.icons-hotel-pool
{
	background-position: 0 -429px;
	height: 44px;
	width: 45px;
}
.icons-location
{
	background-position: 0 -473px;
	height: 13px;
	width: 10px;
}
.icons-location_orange
{
	background-position: 0 -486px;
	height: 17px;
	width: 17px;
}
.icons-people-adult_orange
{
	background-position: 0 -503px;
	height: 31px;
	width: 14px;
}
.icons-people-adult_white
{
	background-position: 0 -534px;
	height: 31px;
	width: 14px;
}
.icons-people-adultsm_orange
{
	background-position: 0 -565px;
	height: 37px;
	width: 16px;
}
.icons-people-adultsm_white
{
	background-position: 0 -602px;
	height: 36px;
	width: 16px;
}
.icons-people-children_orange
{
	background-position: 0 -638px;
	height: 21px;
	width: 10px;
}
.icons-people-children_white
{
	background-position: 0 -659px;
	height: 21px;
	width: 10px;
}
.icons-people-childrensm_orange
{
	background-position: 0 -680px;
	height: 25px;
	width: 13px;
}
.icons-people-childrensm_white
{
	background-position: 0 -705px;
	height: 26px;
	width: 13px;
}
.icons-plus_orange
{
	background-position: 0 -731px;
	height: 10px;
	width: 10px;
}
.icons-search
{
	background-position: 0 -741px;
	height: 28px;
	width: 30px;
}
.icons-search_white
{
	background-position: 0 -769px;
	height: 23px;
	width: 22px;
}
.icons-slider,.irs-slider
{
	background-position: 0 -792px;
	height: 33px;
	width: 33px;
}
.icons-sprite,.icons-aircraft,.icons-arrow-left,.hotel-slider .slick-prev,.icons-arrow-left_border,.prev-month,.icons-arrow-leftbig_white,.main-offer-slider .slick-prev,.icons-arrow-right,.hotel-slider .slick-next,.icons-arrow-right_border,.next-month,.icons-arrow-rightbig_white,.main-offer-slider .slick-next,.icons-calendar_orange,.icons-close_grey,.icons-close_orange,.icons-home,.icons-hotel-beach,.icons-hotel-info,.icons-hotel-pool,.icons-location,.icons-location_orange,.icons-people-adult_orange,.icons-people-adult_white,.icons-people-adultsm_orange,.icons-people-adultsm_white,.icons-people-children_orange,.icons-people-children_white,.icons-people-childrensm_orange,.icons-people-childrensm_white,.icons-plus_orange,.icons-search,.icons-search_white,.icons-slider,.irs-slider
{
	display: inline-block;
}
.scroll-wrapper
{
	overflow: hidden !important;
	padding: 0 !important;
	position: relative;
}
.scroll-wrapper>.scroll-content
{
	border: none !important;
	box-sizing: content-box !important;
	height: auto;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none !important;
	overflow: scroll !important;
	padding: 0;
	position: relative !important;
	top: 0;
	width: auto !important;
}
.scroll-wrapper>.scroll-content::-webkit-scrollbar
{
	height: 0;
	width: 0;
}
.scroll-element
{
	display: none;
}
.scroll-element,.scroll-element div
{
	box-sizing: content-box;
}
.scroll-element.scroll-x.scroll-scrollx_visible,.scroll-element.scroll-y.scroll-scrolly_visible
{
	display: block;
}
.scroll-element .scroll-bar,.scroll-element .scroll-arrow
{
	cursor: default;
}
.scroll-textarea
{
	border: 1px solid #cccccc;
	border-top-color: #999999;
}
.scroll-textarea>.scroll-content
{
	overflow: hidden !important;
}
.scroll-textarea>.scroll-content>textarea
{
	border: none !important;
	box-sizing: border-box;
	height: 100% !important;
	margin: 0;
	max-height: none !important;
	max-width: none !important;
	outline: none;
	overflow: scroll !important;
	padding: 2px;
	position: relative !important;
	top: 0;
	width: 100% !important;
}
.scroll-textarea>.scroll-content>textarea::-webkit-scrollbar
{
	height: 0;
	width: 0;
}
.scrollbar-inner>.scroll-element,.scrollbar-inner>.scroll-element div
{
	border: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 10;
}
.scrollbar-inner>.scroll-element div
{
	display: block;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
}
.scrollbar-inner>.scroll-element.scroll-x
{
	bottom: 2px;
	height: 8px;
	left: 0;
	width: 100%;
}
.scrollbar-inner>.scroll-element.scroll-y
{
	height: 90%;
	margin-top: 5%;
	right: 10px;
	top: 0;
	width: 4px;
}
.scrollbar-inner>.scroll-element .scroll-element_outer
{
	overflow: hidden;
}
.scrollbar-inner>.scroll-element .scroll-element_outer,.scrollbar-inner>.scroll-element .scroll-element_track,.scrollbar-inner>.scroll-element .scroll-bar
{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
.scrollbar-inner>.scroll-element .scroll-element_track
{
	background-color: #bababa;
	margin-left: 2px;
	width: 1px;
}
.scrollbar-inner>.scroll-element .scroll-bar
{
	background-color: #383838;
}
.scrollbar-inner>.scroll-element:hover .scroll-bar
{
	background-color: #383838;
}
.scrollbar-inner>.scroll-element.scroll-draggable .scroll-bar
{
	background-color: #383838;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track
{
	left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track
{
	top: -12px;
}
.scrollbar-inner>.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size
{
	left: -12px;
}
.scrollbar-inner>.scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size
{
	top: -12px;
}
.body-main
{
	margin-bottom: 0 !important;
}
.body-main #all-header
{
	background: rgba(0,0,0,0.61);
	height: 80px;
	padding-top: 14px;
}
.body-main #all-header .header-link
{
	margin-top: 15px;
}
.body-main #all-header.fixed-theme
{
	border-bottom: none;
	color: #fff;
	height: auto;
}
.body-main #all-header.fixed-theme .header-link
{
	margin-top: 0;
}
.body-main #all-header.fixed-theme .header-link:after
{
	background: #fff;
}
.body-main #all-header.fixed-theme #logo a:before,.body-main #all-header.fixed-theme #logo a:after
{
	background: #fff;
}
.body-main #login-link
{
	top: 20px;
}
.body-main #login-link.fixed-theme
{
	color: #fff;
	top: 5px;
}
.body-main #login-link.fixed-theme circle
{
	stroke: #fff;
}
.body-main #nav-toggle
{
	top: 29px;
}
.body-main #nav-toggle.fixed-theme
{
	color: #fff;
	top: 15px;
}
.body-main #nav-toggle.fixed-theme *
{
	background: #fff;
}
.body-main .footer-container
{
	margin-top: -287px;
}
.body-main footer
{
	background: rgba(20,20,20,0.94);
}
.body-main footer .nav-footer li
{
	border-bottom: none;
}
.body-main footer .copyright p
{
	font-family: 'Museo Sans';
	font-weight: 300;
}
.body-main footer.fixed
{
	left: auto;
	position: absolute;
	right: auto;
	visibility: visible;
	width: 100%;
}
.footer-main-top
{
	bottom: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
.footer-main-top img
{
	display: block;
	height: auto;
	width: 100%;
}
.header-main-bg
{
	background: rgba(0,0,0,0.61);
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.main-slider
{
	position: relative;
	width: 100%;
}
.main-slider .slide
{
	background-position: center center;
	background-size: cover;
	height: 100%;
	height: 1366px;
	position: relative;
}
.main-slider .slick-dots
{
	margin: 0 -585px 0 0;
	padding: 0;
	position: absolute;
	right: 50%;
	top: 200px;
	z-index: 3;
}
.main-slider .slick-dots li
{
	border-radius: 50%;
	cursor: pointer;
	list-style-type: none;
	margin: 5px 0;
	-moz-border-radius: 50%;
	overflow: hidden;
	padding: 10px;
	position: relative;
	-webkit-border-radius: 50%;
}
.main-slider .slick-dots li:after
{
	border: 1px solid transparent;
	border-radius: 50%;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	-moz-border-radius: 50%;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	position: absolute;
	top: -100%;
	transition: all .3s ease;
	-webkit-border-radius: 50%;
	-webkit-transition: all .3s ease;
	width: 100%;
}
.main-slider .slick-dots .slick-active:after
{
	border-color: #fff;
	top: 0;
}
.main-slider .slick-dots button
{
	background: #fff;
	border: none;
	border-radius: 50%;
	box-shadow: none;
	display: block;
	height: 8px;
	-moz-border-radius: 50%;
	outline: none;
	padding: 0;
	position: relative;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	width: 8px;
}
.hidden
{
	display: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
.slide-content
{
	background: image-url('main-lines.png') center center repeat;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.slide-text
{
	color: #fff;
	font-family: 'helveticaneuecyr';
	font-size: 50px;
	font-weight: 500;
	line-height: 120%;
	margin: 165px 0 0 -15px;
}
.main-content
{
	left: 0;
	position: absolute;
	top: 80px;
	width: 100%;
	z-index: 2;
}
.main-roundtour
{
	color: #212121;
	font-family: 'helveticaneuecyr';
	margin: 70px 0 0;
	position: relative;
	z-index: 4;
}
.main-roundtour h2
{
	font-weight: 700;
	text-align: center;
}
.main-roundtour:before
{
	background-image: linear-gradient(to bottom, #f3c81a,#f39f1a);
	background-image: -moz-linear-gradient(top, #f3c81a, #f39f1a);
	background-image: -ms-linear-gradient(top, #f3c81a, #f39f1a);
	background-image: -o-linear-gradient(top, #f3c81a, #f39f1a);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#f3c81a), to(#f39f1a));
	background-image: -webkit-linear-gradient(top, #f3c81a, #f39f1a);
	border-radius: 5px;
	content: '';
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $topColor, endColorstr = $bottomColor);
	height: 100%;
	left: 0;
	-moz-border-radius: 5px;
	-moz-transform: skewY(5deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = $topColor, endColorstr = $bottomColor)";
	-ms-transform: skewY(5deg);
	position: absolute;
	top: 0;
	transform: skewY(5deg);
	-webkit-border-radius: 5px;
	-webkit-transform: skewY(5deg);
	width: 100%;
	z-index: 1;
}
.main-roundtour:after
{
	background: image-url('roundtour-bg.png');
	-moz-transform:skewY(5deg);
	content: '';
	display: block;
	height: 100%;
	left: 0;
	-ms-transform: skewY(5deg);
	position: absolute;
	top: 0;
	transform: skewY(5deg);
	-webkit-transform: skewY(5deg);
	width: 100%;
	z-index: 2;
}
.main-roundtour-content
{
	height: 100%;
	padding: 10px 40px 65px;
}
.main-roundtour-text
{
	position: relative;
	z-index: 3;
}
.roundtour-radio
{
	display: inline-block;
	height: 30px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.roundtour-radio li
{
	float: left;
	list-style-type: none;
	width: 50%;
}
.roundtour-radio .custom-radio
{
	float: left;
	margin-right: 10px;
}
.roundtour-radio label
{
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}
.custom-radio
{
	appearance: none;
	background-color: #fff;
	background-image: -webkit-radial-gradient(#212121 0%, #212121 15%, rgba(51,187,255,0) 28%, rgba(0,102,153,0) 70%);
	background-repeat: no-repeat;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	height: 18px;
	margin: 10px;
	-moz-appearance: none;
	outline: none !important;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),-webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
	width: 18px;
}
.custom-radio:checked
{
	-webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1);
}
.custom-radio:active
{
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.custom-radio,.custom-radio:active
{
	background-position: 0 18px;
}
.custom-radio:checked
{
	background-position: 0 0;
}
.custom-radio:checked ~ .custom-radio,.custom-radio:checked ~ .custom-radio:active
{
	background-position: 0 -18px;
}
.custom-radio1
{
	display: none;
}
.custom-radio1+label
{
	overflow: hidden;
	position: relative;
}
.custom-radio1+label:before
{
	background: #fff;
	border: 6px solid #fff;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 18px;
	margin: 0 10px -3px 0;
	-moz-border-radius: 50%;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-border-radius: 50%;
	-webkit-transition: all .3s ease;
	width: 18px;
}
.custom-radio1+label:after
{
	background: #000;
	border-radius: 50%;
	box-shadow: 0 0 1px rgba(0,0,0,0.3);
	content: '';
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	height: 6px;
	left: 6px;
	-moz-border-radius: 50%;
	-moz-transition: all .3s ease;
	opacity: 0;
	-o-transition: all .3s ease;
	position: absolute;
	top: -10px;
	transition: all .3s ease;
	-webkit-border-radius: 50%;
	-webkit-transition: all .3s ease;
	width: 6px;
}
.custom-radio1:checked+label:after
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	top: 10px;
}
.roundtour-city
{
	font-size: 16px;
	line-height: 100%;
	margin: 10px 0 15px;
	position: relative;
}
.roundtour-city a
{
	border-bottom: 1px dotted #a73107;
	color: #a73107;
	-moz-transition: border .3s ease;
	-o-transition: border .3s ease;
	text-decoration: none;
	transition: border .3s ease;
	-webkit-transition: border .3s ease;
}
.roundtour-city a:hover
{
	border-bottom-color: transparent;
}
.roundtour-city--submenu
{
	background: #f2f2f2;
	box-shadow: 0 0 5px rgba(0,0,0,0.16);
	display: none;
	font-family: 'helveticaneuecyr';
	left: 112px;
	position: absolute;
	top: -12px;
	z-index: 3;
}
.roundtour-city--search
{
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	color: #212121;
	font-family: 'helveticaneuecyr';
	font-size: 16px;
	font-weight: 500;
	height: 40px;
	line-height: 40px;
	-moz-border-radius: 0;
	padding: 0 15px;
	-webkit-border-radius: 0;
}
.roundtour-city--search:-moz-placeholder
{
	color: #212121;
}
.roundtour-city--search::-moz-placeholder
{
	color: #212121;
}
.roundtour-city--search:-ms-input-placeholder
{
	color: #212121;
}
.roundtour-city--search::-webkit-input-placeholder
{
	color: #212121;
}
.roundtour-city--close
{
	border: none !important;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 13px;
}
.roundtour-city--wrapper
{
	height: 200px;
	overflow: auto;
}
.roundtour-city--list
{
	font-weight: 300;
	margin: 0 20px 0 0;
	padding: 0;
}
.roundtour-city--list li
{
	cursor: pointer;
	list-style-type: none;
	padding: 10px 15px;
}
.roundtour-city--list li:hover
{
	background: #f5c448;
}
.roundtour-place--container
{
	position: relative;
}
.roundtour-place
{
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	color: #121212;
	display: block;
	font-size: 18px;
	height: 43px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	padding: 9px 12px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}
.roundtour-place .icon
{
	float: left;
	margin: 4px 15px 0 0;
}
.roundtour-place .text{
	overflow: hidden;
	max-width:calc(100%-32px);
}
.roundtour-place:hover
{
	color: #121212;
	text-decoration: none;
}
.roundtour-place--submenu
{
	background: #f2f2f2;
	border-radius: 3px;
	display: none;
	left: 0;
	-moz-border-radius: 3px;
	overflow: hidden;
	position: absolute;
	top: 0;
	-webkit-border-radius: 3px;
	width: 100%;
	z-index: 3;
}
.roundtour-place--search
{
	border: none;
	border-radius: 0;
	box-shadow: none !important;
	color: #121212;
	font-size: 18px;
	font-weight: 500;
	height: 43px;
	line-height: 43px;
	-moz-border-radius: 0;
	padding: 0 15px 0 40px;
	-webkit-border-radius: 0;
}
.roundtour-place--search:-moz-placeholder
{
	color: #121212;
}
.roundtour-place--search::-moz-placeholder
{
	color: #121212;
}
.roundtour-place--search:-ms-input-placeholder
{
	color: #121212;
}
.roundtour-place--search::-webkit-input-placeholder
{
	color: #121212;
}
.roundtour-place--searchicon
{
	display: inline-block;
	left: 12px;
	position: absolute;
	top: 13px;
}
.roundtour-place--wrapper
{
	height: 300px;
}
.roundtour-place--list
{
	margin: 0 20px 0 0;
	padding: 0;
}
.roundtour-place--list li
{
	cursor: pointer;
	list-style-type: none;
	overflow: hidden;
	padding: 10px 15px;
}
.roundtour-place--list li:hover
{
	background: #f5c448;
	color: #fff !important;
}
.roundtour-place--list li:hover .roundtour-place--country
{
	color: #fff;
}
.roundtour-place--icon
{
	float: left;
	margin-right: 11px;
	text-align: center;
	width: 15px;
}
.roundtour-place--info
{
	float: left;
	font-family: 'helveticaneuecyr';
	font-weight: 300;
	max-width:145px;
}
.roundtour-place--curort
{
	font-weight: 300;
	margin: 0;
}
.roundtour-place--country
{
	color: #a49e9e;
	font-size: 12px;
	line-height: 90%;
}
.roundtour-place--img
{
	float: right;
}
.roundtour-date
{
	background: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	color: #121212;
	display: block;
	font-size: 14px;
	height: 43px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	padding: 9px 12px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
}
.roundtour-date .icon
{
	float: left;
	margin: 2px 15px 0 0;
}
.roundtour-date:hover
{
	color: #121212;
	text-decoration: none;
}
.roundtour-date .text
{
	display: inline-block;
	padding-top: 3px;
}
.form-roundtour .form-group
{
	margin-bottom: 10px;
}
.roundtour-people
{
	display: inline-block;
	padding: 5px 0;
	width: 100%;
}
.roundtour-people--active
{
	border: 1px solid #fff;
	border-radius: 5px;
	box-sizing: border-box;
	float: left;
	height: 53px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	padding: 7px 15px;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
}
.roundtour-people--adults
{
	float: left;
	margin: 0;
	padding: 0;
}
.roundtour-people--adults li
{
	float: left;
	list-style-type: none;
	margin: 0 2px;
	position: relative;
	text-align: center;
}
.roundtour-people--adults li:first-of-type:hover span
{
	margin-top: 0 !important;
}
.roundtour-people--adults li:first-of-type .roundtour-people--remove
{
	display: none;
}
.roundtour-people--adults li:hover .roundtour-people--remove
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-people--adults li:hover span
{
	margin-top: 7px;
}
.roundtour-people--adults li span
{
	-moz-transition: margin .3s ease;
	-o-transition: margin .3s ease;
	transition: margin .3s ease;
	-webkit-transition: margin .3s ease;
}
.roundtour-people--remove
{
	color: #fff;
	display: block;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	font-size: 10px;
	opacity: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: -5px;
	width: 100%;
}
.roundtour-people--remove:hover
{
	color: #fff;
	text-decoration: none;
}
.roundtour-people--childrens
{
	float: right;
	margin: 0 0 0 20px;
	padding: 0;
}
.roundtour-people--childrens li
{
	float: left;
	list-style-type: none;
	margin: 0 2px;
	position: relative;
	text-align: center;
}
.roundtour-people--childrens li:hover .roundtour-people--remove
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-people--childrens li:hover span
{
	margin-top: 7px;
}
.roundtour-people--childrens li span
{
	-moz-transition: margin .3s ease;
	-o-transition: margin .3s ease;
	transition: margin .3s ease;
	-webkit-transition: margin .3s ease;
}
.roundtour-people--year
{
	color: #fff;
	font-size: 9px;
	line-height: 100%;
	text-align: center;
}
.roundtour-people--addadults
{
	border: 1px solid #cb6f10;
	border-radius: 5px;
	box-sizing: border-box;
	color: #cb6f10;
	display: inline-block;
	font-size: 20px;
	height: 53px;
	line-height: 53px;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	padding: 0 10px;
	text-align: center;
	transition: opacity .3s ease;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	-webkit-transition: opacity .3s ease;
}
.roundtour-people--addadults .text
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
	float: left;
	margin: 20px 10px 0 0;
	-moz-transition: all .3s ease;
	opacity: .52;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.roundtour-people--addadults .icon
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
	float: right;
	margin-top: 10px;
	-moz-transition: all .3s ease;
	opacity: .52;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.roundtour-people--addadults:hover
{
	border-color: #a73107;
}
.roundtour-people--addadults:hover .text,.roundtour-people--addadults:hover .icon
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-people--addchildrens-wrapper
{
	display: inline-block;
	position: relative;
}
.roundtour-people--addchildrens
{
	border: 1px solid #cb6f10;
	border-radius: 5px;
	box-sizing: border-box;
	color: #cb6f10;
	display: inline-block;
	font-size: 20px;
	height: 53px;
	line-height: 53px;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	-moz-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	padding: 0 10px;
	text-align: center;
	transition: opacity .3s ease;
	vertical-align: middle;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	-webkit-transition: opacity .3s ease;
}
.roundtour-people--addchildrens .text
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
	float: left;
	margin: 20px 10px 0 0;
	-moz-transition: all .3s ease;
	opacity: .52;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.roundtour-people--addchildrens .icon
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=52);
	float: right;
	margin-top: 14px;
	-moz-transition: all .3s ease;
	opacity: .52;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.roundtour-people--addchildrens:hover
{
	border-color: #a73107;
}
.roundtour-people--addchildrens:hover .text,.roundtour-people--addchildrens:hover .icon
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-people--addchildrens.active
{
	background: #f2f2f2;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px;
}
.roundtour-people--addchildrens.active .text,.roundtour-people--addchildrens.active .icon
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-people--years
{
	background: #f2f2f2;
	border-radius: 3px;
	display: none;
	height: 150px;
	left: 0;
	-moz-border-radius: 3px;
	position: absolute;
	top: 100%;
	-webkit-border-radius: 3px;
	width: 100px;
	z-index: 3;
}
.roundtour-people--years ul
{
	margin: 0 20px 0 0;
	padding: 0;
}
.roundtour-people--years li
{
	color: #212121;
	cursor: pointer;
	list-style-type: none;
	padding: 5px;
}
.roundtour-people--years li:hover
{
	background: #f5c448;
	color: #fff;
}
.roundtour-button .btn
{
	font-family: 'helveticaneuecyr';
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	padding: 10px;
}
.roundtour-button .btn .icon
{
	bottom: -4px;
	display: inline-block;
	margin-left: 20px;
	position: relative;
}
.roundtour-price--wrapper
{
	height: 70px;
	margin: 15px 0;
}
.irs
{
	height: 40px;
}
.irs-with-grid
{
	height: 60px;
}
.irs-line
{
	background: #000;
	height: 1px;
	top: 52px;
}
.irs-line-left
{
	background-position: 0 -30px;
	height: 1px;
}
.irs-line-mid
{
	background-position: 0 0;
	height: 1px;
}
.irs-line-right
{
	background-position: 100% -30px;
	height: 1px;
}
.irs-bar
{
	background-position: 0 -60px;
	height: 12px;
	top: 25px;
}
.irs-bar-edge
{
	background-position: 0 -90px;
	height: 12px;
	top: 25px;
	width: 9px;
}
.irs-shadow
{
	background: #000;
	height: 3px;
	opacity: 0.25;
	top: 34px;
}
.lt-ie9 .irs-shadow
{
	filter: alpha(opacity=25);
}
.irs-slider
{
	border-radius: 50%;
	cursor: pointer;
	-moz-border-radius: 50%;
	top: 36px;
	-webkit-border-radius: 50%;
}
.irs-min,.irs-max
{
	display: none;
}
.irs-from,.irs-to,.irs-single
{
	background: #252525;
	border-radius: 3px;
	color: #f3c81a;
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	-moz-border-radius: 3px;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
}
.irs-from .fa,.irs-to .fa,.irs-single .fa
{
	font-size: 16px;
	margin-left: 5px;
}
.irs-from:after,.irs-to:after,.irs-single:after
{
	border: 6px solid transparent;
	border-top-color: #252525;
	bottom: -12px;
	content: "";
	display: block;
	height: 0;
	left: 50%;
	margin-left: -6px;
	overflow: hidden;
	position: absolute;
	width: 0;
}
.irs-grid-pol
{
	background: #e1e4e9;
}
.irs-grid-text
{
	color: #999;
}
.main-offer-wrapper
{
	margin-left: -15px;
	margin-top: 450px;
	position: relative;
	z-index: 1;
}
.main-offer-slider
{
	background: rgba(0,0,0,0.41);
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 10px 5px;
	-webkit-border-radius: 5px;
}
.main-offer-slider .slick-arrow
{
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-top: -46px;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
}
.main-offer-slider .slick-prev
{
	margin-right: 20px;
	right: 100%;
}
.main-offer-slider .slick-next
{
	left: 100%;
	margin-left: 20px;
}
.main-offer-slider .slide
{
	outline: none;
}
.ready-offer
{
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0,0,0,0.28);
	display: block;
	margin: 5px 5px 10px;
	-moz-border-radius: 4px;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	overflow: hidden;
	position: relative;
	transition: all .3s ease;
	-webkit-border-radius: 4px;
	-webkit-transition: all .3s ease;
}
.ready-offer:hover .ready-offer--img img
{
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.ready-offer--img
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	overflow: hidden;
	transition: all .3s ease;
	-webkit-border-radius: 5px;
	-webkit-transition: all .3s ease;
	width: 100%;
}
.ready-offer--img img
{
	display: block;
	height: auto;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: 100%;
}
.ready-offer--content
{
	color: #fff;
	font-family: 'helveticaneuecyr';
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}
.ready-offer--sale
{
	background: #f3be1a;
	box-sizing: border-box;
	color: #0d0d0d;
	font-size: 13px;
	font-weight: 500;
	-moz-box-sizing: border-box;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	padding: 20px 0 2px;
	position: absolute;
	right: -30px;
	text-align: center;
	top: -10px;
	transform: rotate(45deg);
	-webkit-box-sizing: border-box;
	-webkit-transform: rotate(45deg);
	width: 80px;
}
.ready-offer--title
{
	font-size: 18px;
	font-weight: 700;
	margin: 20px 10px 5px 20px;
	text-shadow: 0 1px 5px rgba(0,0,0,0.5);
}
.ready-offer--price
{
	background: #212121;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	line-height: 100%;
	margin-left: 20px;
	-moz-border-radius: 3px;
	padding: 3px 10px;
	-webkit-border-radius: 3px;
}
.ready-offer--price .fa
{
	font-size: 16px;
}
.ready-offer--price_red
{
	background: #dd2220;
}
.ready-offer--price_green
{
	background: #438206;
}
.ready-offer--price_pink
{
	background: #d62c81;
}
.ready-offer--price_dark
{
	background: #212121;
}
.ready-offer--price_blue
{
	background: #254888;
}
.ready-offer--price_orange
{
	background: #dd4d20;
}
.blur
{
	filter: blur(5px);
	-moz-filter: blur(5px);
	-webkit-filter: blur(5px);
}
.roundtour-date--wrapper
{
	background: rgba(0,0,0,0.81);
	display: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	height: 100%;
	height: 1366px;
	left: 0;
	margin-top: -80px;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}
@media screen and (max-width: 1440px)
{
	.roundtour-date--wrapper
	{
		height: 1093px;
	}
}
.roundtour-date--content
{
	font-family: 'helveticaneuecyr';
	padding: 80px 0 0;
	position: relative;
	top: 80px;
}
.roundtour-date--content h4
{
	color: #f6d965;
	font-size: 18px;
	font-weight: 300;
	margin: 20px 0;
}
.roundtour-date--content hr
{
	border: none;
	border-top: 1px dotted #515558;
	display: block;
	margin: 20px 0 50px;
	width: 106%;
}
.roundtour-date--close
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	left: 100%;
	margin: 0 0 0 20px;
	-moz-transition: opacity .3s ease;
	opacity: .8;
	-o-transition: opacity .3s ease;
	position: absolute;
	top: 60px;
	transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
}
.roundtour-date--close:hover
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.roundtour-date--night
{
	margin: 0 0 0 -11px;
	-moz-user-select: none;
	overflow: hidden;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
	width: 110%;
}
.roundtour-date--night li
{
	border: 2px solid transparent;
	border-radius: 32px;
	box-sizing: border-box;
	color: #cdcdcd;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: 300;
	height: 32px;
	line-height: 29px;
	list-style-type: none;
	-moz-border-radius: 32px;
	-moz-box-sizing: border-box;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	padding: 0 5px;
	text-align: center;
	transition: all .3s ease;
	-webkit-border-radius: 32px;
	-webkit-box-sizing: border-box;
	-webkit-transition: all .3s ease;
	width: 32px;
}
.roundtour-date--night li:last-of-type
{
	width: auto;
}
.roundtour-date--night li.hover,.roundtour-date--night li:hover
{
	border-color: #e4e4e4;
}
.roundtour-date--night .active
{
	background: #f3c81a !important;
	border-color: #f3c81a !important;
	color: #141414;
	font-weight: 700;
}
.roundtour-date--night .noborder
{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.roundtour-date--night .first
{
	border-radius: 32px 0 0 32px;
	-moz-border-radius: 32px 0 0 32px;
	-webkit-border-radius: 32px;
}
.roundtour-date--night .last
{
	border-radius: 0 32px 32px 0;
	-moz-border-radius: 0 32px 32px 0;
	-webkit-border-radius: 0;
}
.roundtour-date--month
{
	height: 282px;
}
.datepickerViewDays
{
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.datepickerSelected a
{
	background: #f3c81a !important;
	color: #141414 !important;
	font-weight: 700 !important;
}
.prev-month,.next-month
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-transition: opacity .3s ease;
	opacity: .3;
	-o-transition: opacity .3s ease;
	text-decoration: none;
	transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
}
.prev-month:hover,.next-month:hover
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.prev-month span,.next-month span
{
	display: none;
}
.roundtour-date--save
{
	border-color: #313131;
}
.design
{
	background: url(../DEMO/design-hotel.jpg) top center no-repeat;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	height: 3620px;
	left: 0;
	opacity: .3;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.sub-header_hotel
{
	height: 111px !important;
}
.hotel-header
{
	padding: 47px 0 27px;
}
.hotel-name
{
	color: #383838;
}
.hotel-name
{
	line-height: 100%;
	margin: 0 0 5px;
}
.hotel-breadcrumbs
{
	color: #5a5a5a;
	font-family: 'Roboto';
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.hotel-breadcrumbs li
{
	float: left;
	list-style-type: none;
	margin-right: 10px;
}
.hotel-breadcrumbs a
{
	color: #5a5a5a;
	text-decoration: underline;
}
.hotel-breadcrumbs a:hover
{
	text-decoration: none;
}
.hotel-breadcrumbs .sep
{
	color: #adadad;
}
.hotel-rating
{
	display: block;
	margin-bottom: 10px;
}
.hotel-rating--star
{
	display: inline-block;
	position: relative;
	top: -3px;
}
.hotel-rating--number
{
	color: #363636;
	font-family: 'Roboto';
	font-size: 24px;
	line-height: 120%;
	margin-left: 20px;
}
.btn-yellow
{
	background: #ede6aa;
	border-radius: 3px;
	color: #737059;
	font-family: 'Roboto';
	font-size: 13px;
	font-weight: 900;
	line-height: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.hotel-addcomment
{
	padding: 10px 25px;
	text-transform: uppercase;
}
.hotel-slider
{
	padding-bottom: 55px;
}
.hotel-slider .slick-dots
{
	bottom: 10px;
	left: 0;
	margin-bottom: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}
.hotel-slider .slick-dots li
{
	display: inline;
	margin: 0 4px;
}
.hotel-slider .slick-dots button
{
	background: #d2d2d2;
	border: none;
	border-radius: 50%;
	box-shadow: none;
	display: inline-block;
	height: 10px;
	-moz-border-radius: 50%;
	padding: 0;
	text-indent: -9999px;
	-webkit-border-radius: 50%;
	width: 10px;
}
.hotel-slider .slick-dots .slick-active button,.hotel-slider .slick-dots button:hover
{
	background: #858585;
}
.hotel-slider .slick-arrow
{
	background-color: transparent;
	border: none;
	bottom: 16px;
	box-shadow: none;
	cursor: pointer;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	z-index: 2;
}
.hotel-slider .slick-prev
{
	right: 50%;
}
.hotel-slider .slick-next
{
	left: 50%;
}
.hotel-slide
{
	margin: 0 2px;
}
.hotel-slide a
{
	display: block;
	overflow: hidden;
	position: relative;
}
.hotel-slide a:hover .hotel-slide--zoom
{
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	top: 15px;
}
.hotel-slide img
{
	height: auto;
	width: 100%;
}
.hotel-slide--zoom
{
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	left: 15px;
	-moz-transition: all .3s ease;
	opacity: 0;
	-o-transition: all .3s ease;
	position: absolute;
	top: -15px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
}
.hotel-info--item
{
	overflow: hidden;
	padding: 20px 0;
}
.hotel-info--img
{
	float: left;
	margin-right: 25px;
	width: 50px;
}
.hotel-info--content
{
	font-family: 'Roboto';
	font-size: 12px;
	overflow: hidden;
}
.hotel-info--content p
{
	margin-bottom: 15px;
}
.hotel-info--header
{
	color: #363636;
	font-family: 'Roboto';
	font-weight: 700;
	margin: 2px 0 15px;
}
.search-hotel--header .x-text
{
	color: #c77750;
}
.search-hotel--filter
{
	border: 3px solid #448869;
	box-sizing: border-box;
	display: inline-block;
	margin-bottom: 15px;
	-moz-box-sizing: border-box;
	padding: 15px 30px 20px;
	-webkit-box-sizing: border-box;
	width: 100%;
}
.search-hotel--filter .x-input-dd
{
	color: #95a5b4;
	font-family: 'Museo Sans';
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}
.search-hotel--filter .input-group.date
{
	margin-bottom: 5px;
}
.search-hotel--filter .form-control
{
	border-color: #dadada !important;
	border-right: none;
	box-shadow: none !important;
	color: #4f4f4f;
	font-family: 'Museo Sans';
	font-size: 18px;
	font-weight: 900;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}
.search-hotel--filter .input-group-addon
{
	background: none;
	border-left: none;
	color: #939393;
	font-size: 24px;
}
.search-hotel--filter .input-group-addon:hover
{
	color: #4f4f4f;
}
.search-hotel--filter .count-input
{
	border-radius: 4px;
	color: #4f4f4f;
	font-family: 'Museo Sans';
	font-size: 18px;
	font-weight: 900;
	height: 40px;
	margin-bottom: 0;
	margin-left: 0;
	-moz-border-radius: 4px;
	overflow: hidden;
	-webkit-border-radius: 4px;
	width: 120px;
}
.search-hotel--filter .count-input input
{
	width: 48px;
}
.search-hotel--filter .count-input .plus,.search-hotel--filter .count-input .minus
{
	font-size: 30px;
	line-height: 35px;
	width: 35px;
}
.search-hotel--filter .x-input-check
{
	color: #939393;
	font-family: 'Museo Sans';
	font-size: 16px;
	font-weight: 500;
}
.search-hotel--filter .btn-green
{
	margin-top: 33px;
}
.search-hotel--titlefield
{
	color: #95a5b4;
	font-family: 'Museo Sans';
	font-weight: 900;
	margin: 0;
	margin-bottom: 15px;
}
.search-hotel--children
{
	margin-top: 43px;
}
#hotel-tours-info.hotel-tours-info
{
	font-size: 13px;
	line-height: 100%;
	min-height: 32px;
	padding-top: 5px;
}
.hotel-hr
{
	background: #727272;
	border: none;
	display: block;
	height: 4px;
	margin-bottom: 15px;
	width: 100%;
}
.hotel-table--header
{
	color: #ababab;
	font-family: 'Roboto';
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 20px;
}
.hotel-table
{
	margin-bottom: 30px;
}
.hotel-table .btn-orange
{
	float: right;
	min-width: 120px;
}
.hotel-comment--item
{
	font-family: 'Roboto';
	margin: 20px 0 40px;
	overflow: hidden;
}
.hotel-comment--author
{
	color: #965738;
	font-weight: 500;
	margin: 0;
}
.hotel-comment--date
{
	color: #434343;
	display: block;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 10px;
}
.hotel-comment--rating
{
	color: #4a4a4a;
	font-size: 16px;
	font-weight: 700;
}
.hotel-comment--text
{
	color: #585858;
	font-size: 13px;
}
.hotel-comment--text p
{
	margin-bottom: 15px;
}
.hotel-comment--fulllink
{
	color: #178a87;
	font-size: 13px;
	text-decoration: underline;
}
.hotel-comment--fulllink:hover
{
	text-decoration: none;
}
#hotel .container
{
	position: relative;
	z-index: 2;
}
.block-hotel-comments
{
	background: image-url('block-hotel-comments.jpg') bottom center no-repeat;
	background-size: cover;
	margin-top: -60px;
	padding-top: 30px;
	position: relative;
	z-index: 1;
}
.block-hotel-comments .container
{
	background: transparent !important;
	margin-bottom: 0 !important;
}
.block-hotel-comments h3
{
	color: #3b3b3b;
	font-family: 'Museo Sans';
	font-weight: 500;
	margin: 40px 0;
}
.block-hotel-comments--item
{
	font-family: 'Roboto';
	margin-bottom: 60px;
}
.block-hotel-comments--header
{
	font-size: 18px;
}
.block-hotel-comments--author
{
	color: #2a2a2a;
	font-weight: 700;
	margin-right: 30px;
}
.block-hotel-comments--rating
{
	color: #965738;
	font-weight: 500;
}
.block-hotel-comments--place
{
	color: #4d4d4d;
	font-size: 11px;
}
.block-hotel-comments--content
{
	font-size: 13px;
	font-weight: 300;
	margin: 20px 0;
}
.block-hotel-comments--fulllink
{
	color: #296462;
	font-weight: 500;
	text-decoration: underline;
}
.block-hotel-comments--fulllink:hover
{
	text-decoration: none;
}
.hotel-bottom
{
	background: #fff;
	padding: 40px 0 30px;
}
.hotel-photos
{
	margin-bottom: 70px;
	overflow: hidden;
}
.hotel-photos a
{
	display: inline-block;
	float: left;
	margin-right: .22%;
	width: 12.3%;
}
.hotel-photos a:nth-child(8n)
{
	margin-right: 0;
}
.hotel-photos img
{
	height: auto;
	max-width: 100%;
}
.hotel-beside
{
	color: #3b3b3b;
	margin-bottom: 30px;
}
.hotel-beside h3
{
	font-family: 'Museo Sans';
	font-weight: 500;
	margin: 0;
	margin-bottom: 20px;
}
.hotel-beside--list
{
	margin: 0;
	padding: 0;
}
.hotel-beside--list li
{
	font-size: 16px;
	font-weight: 300;
	list-style-type: none;
	margin: 7px 0;
}
.hotel-beside--list a
{
	color: #3b3b3b;
	text-decoration: underline;
}
.hotel-beside--list a:hover
{
	text-decoration: none;
}
#hotel-comment
{
	width: 360px;
}
.hotel-addcomment-bar
{
	padding: 20px 5%;
}
.hotel-addcomment-bar h3
{
	font-size: 26px;
	font-weight: 900;
	margin: 0px 0 20px;
	text-transform: none;
}
.hotel-addcomment-form .form-control
{
	border: 1px solid #c4c4c4;
	border-radius: 0;
	box-shadow: none;
	color: #646464;
	-moz-border-radius: 0;
	padding: 0 15px;
	-webkit-border-radius: 0;
}
.hotel-addcomment-form .form-control:-moz-placeholder
{
	color: #878787;
}
.hotel-addcomment-form .form-control::-moz-placeholder
{
	color: #878787;
}
.hotel-addcomment-form .form-control:-ms-input-placeholder
{
	color: #878787;
}
.hotel-addcomment-form .form-control::-webkit-input-placeholder
{
	color: #878787;
}
.hotel-addcomment-form .form-control:focus
{
	box-shadow: none;
}
.hotel-addcomment-form textarea.form-control
{
	padding-bottom: 10px;
	padding-top: 10px;
}
.hotel-addcomment-form textarea.form-control:-moz-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form textarea.form-control::-moz-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form textarea.form-control:-ms-input-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form textarea.form-control::-webkit-input-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form select.form-control:-moz-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form select.form-control::-moz-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form select.form-control:-ms-input-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form select.form-control::-webkit-input-placeholder
{
	font-style: italic;
}
.hotel-addcomment-form select.form-control,.hotel-addcomment-form input.form-control
{
	font-size: 18px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
}
.hotel-addcomment-form .input-group-addon
{
	background: #fff;
	border-left: none;
	border-radius: 0;
	color: #7a7a7a;
	font-size: 20px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.hotel-addcomment-form .date .form-control
{
	border-right: none;
}
.hotel-addcomment-form .input-group--checkboxs
{
	margin: 15px 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.hotel-addcomment-form .input-group--checkboxs li
{
	color: #8d8d8d;
	float: left;
	font-family: 'Roboto';
	font-size: 17px;
	font-weight: 700;
	list-style-type: none;
	width: 50%;
}
.hotel-addcomment-form h4
{
	color: #494949;
	font-family: 'Roboto';
	font-weight: 500;
}
.hotel-addcomment-form .x-input-dd
{
	color: #965738;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 700;
}
.hotel-addcomment-form .x-input-dd sub
{
	display: block;
	height: 100%;
	line-height: 100%;
	overflow: visible;
	width: 100%;
}
.hotel-addcomment-item
{
	float: left;
	margin-bottom: 3%;
	width: 31.3%;
}
.hotel-addcomment-item:nth-child(2)
{
	margin-left: 3%;
	margin-right: 3%;
}
.hotel-addcomment-photo
{
	border: 1px dotted #a7a39a;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	height: 53px;
	-moz-border-radius: 5px;
	-moz-box-sizing: border-box;
	text-align: center;
	-webkit-border-radius: 5px;
	-webkit-box-sizing: border-box;
	width: 100%;
}
.hotel-addcomment-photo span
{
	background: url(../img/camera.png) center 5px no-repeat;
	color: #44413d;
	display: block;
	font-family: 'Roboto';
	font-size: 10px;
	line-height: 100%;
	padding-top: 28px;
}
.hotel-addcomment-addphoto
{
	border-bottom: 1px dotted #965738;
	color: #965738;
	display: inline-block;
	font-size: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.hotel-addcomment-addphoto:hover,.hotel-addcomment-addphoto:focus
{
	border-color: transparent;
	color: #965738;
	text-decoration: none;
}
.hotel-addcomment-btn .btn
{
	color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
}
.tour-block
{
	max-width: 480px !important;
}
.tour-block-new
{
	margin-bottom: 20px;
}
.tour-header
{
	min-height: 42px;
}
.tour-header h2
{
	color: #292929;
	font-size: 18px;
	font-weight: 900;
	margin: 0;
}
.tour-rating
{
	text-align: right;
}
.tour-rating--star
{
	display: inline-block;
}
.tour-rating--num
{
	color: #e4a332;
	display: inline-block;
	float: right;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 500;
	line-height: 100%;
	margin-left: 5px;
	margin-top: 2px;
}
.tour-desc
{
	color: #434343;
	font-size: 13px;
}
.tour-footer
{
	background: #fff;
	border: 1px solid #cecece;
	border-top: none;
	overflow: hidden;
	padding: 15px 0;
}
.tour-eat
{
	font-size: 13px;
}
.tour-eat span
{
	color: #508986;
	display: block;
}
.tour-commentlink
{
	color: #e39f2c;
	display: inline-block;
	font-size: 13px;
	margin-bottom: 5px;
	text-decoration: underline;
}
.tour-commentlink:hover
{
	color: #e39f2c;
	text-decoration: underline;
}
.tour-price
{
	background: #158a87;
	border-radius: 5px;
	color: #fff;
	font-size: 22px;
	font-weight: 900;
	line-height: 100%;
	-moz-border-radius: 5px;
	padding: 5px 10px;
	text-align: center;
	-webkit-border-radius: 5px;
}
.hotel-options-list
{
	margin: 40px 0 0;
}
.thumb .like-left
{
	left: 20px;
	right: auto;
}
.roboto,.roboto-light
{
	font-family: 'Roboto';
}
.roboto-light
{
	font-weight: 300;
}
@media screen and (max-width: 1440px)
{
	.slide-text
	{
		font-size: 40px;
	}
	.main-offer-wrapper
	{
		margin-top: 370px;
	}
	.body-main footer
	{
		padding-top: 0;
	}
	.ready-offer
	{
		height: 118px;
	}
	.main-slider .slide
	{
		height: 1115px;
	}
}
@media screen and (max-width: 1200px)
{
	.main-slider .slick-dots
	{
		margin-right: 15px;
		right: 0;
	}
}
@media screen and (max-width: 991px)
{
	.hotel-slider--wrapper .container
	{
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		width: 100%;
	}
	.hotel-slider .slick-arrow
	{
		display: none;
	}
	.hotel-slider .slick-dots li
	{
		margin: 0 10px;
	}
	.hotel-slider .slick-dots button
	{
		height: 20px;
		width: 20px;
	}
	#hotel>.container
	{
		margin: 0 !important;
		width: 100%;
	}
	.search-hotel--filter
	{
		border: none;
		padding-left: 0;
		padding-right: 0;
	}
	.hotel-hr
	{
		background: transparent;
	}
	.block-hotel-comments .container
	{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	#hotel #info
	{
		margin: 0 auto;
		max-width: 750px;
		padding-left: 15px !important;
		padding-right: 15px !important;
		width: 100%;
	}
	.hotel-photos a
	{
		width: 16%;
	}
	.tour-rating
	{
		display: inline-block;
		text-align: left;
	}
	.slide-text
	{
		font-size: 30px;
		margin-left: 0;
		margin-top: 125px;
		overflow-wrap: break-word;
		padding-right: 30px;
	}
	.main-offer-wrapper
	{
		margin: 280px 0 0;
	}
	.ready-offer
	{
		height: auto;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px)
{
	.ready-offer--title
	{
		font-size: 12px;
		margin-left: 15px;
		margin-top: 15px;
	}
	.ready-offer--price
	{
		font-size: 12px;
		margin-left: 15px;
	}
	.ready-offer--price .fa
	{
		font-size: 10px;
	}
	.ready-offer--sale
	{
		font-size: 10px;
		right: -35px;
		top: -12px;
	}
}
@media screen and (max-width: 991px)
{
	.main-roundtour
	{
		margin-top: 50px;
		z-index: 3;
	}
	.main-roundtour-content
	{
		margin-top: -45px;
		padding-bottom: 80px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.main-roundtour-content h2
	{
		font-size: 24px;
	}
	.irs-from,.irs-to,.irs-single
	{
		font-size: 14px;
	}
	.irs-from .fa,.irs-to .fa,.irs-single .fa
	{
		font-size: 12px;
	}
	.roundtour-button .btn
	{
		font-size: 13px;
		padding: 5px;
	}
	.roundtour-button .btn .icon
	{
		bottom: -6px;
	}
	.roundtour-place--wrapper
	{
		height: 271px;
	}
	.roundtour-people--active
	{
		float: left;
		margin-bottom: 10px;
	}
	.roundtour-people--addadults
	{
		float: left;
		margin-bottom: 10px;
	}
	.roundtour-people--addchildrens-wrapper
	{
		float: left;
		margin-bottom: 10px;
	}
	.roundtour-price--wrapper
	{
		margin: 0 0 15px;
	}
	.main-slider .slick-dots
	{
		top: 130px;
	}
	.roundtour-people--active
	{
		height: 63px;
		padding-top: 11px;
	}
	.roundtour-people--adults li
	{
		margin: 0 5px;
	}
	.roundtour-people--adults li:hover span
	{
		margin-top: 10px;
	}
	.roundtour-people--childrens li:hover span
	{
		margin-top: 10px;
	}
	.roundtour-people--remove
	{
		font-size: 12px;
	}
	.roundtour-people--year
	{
		font-size: 10px;
	}
	.roundtour-people--addadults
	{
		height: 63px;
		padding: 0 15px;
	}
	.roundtour-people--addadults .text
	{
		margin-top: 25px;
	}
	.roundtour-people--addadults .icon
	{
		margin-top: 12px;
	}
	.roundtour-people--addchildrens
	{
		height: 63px;
		padding: 0 15px;
	}
	.roundtour-people--addchildrens .text
	{
		margin-top: 25px;
	}
	.roundtour-people--addchildrens .icon
	{
		margin-top: 17px;
	}
	.main-slider .slick-dots li
	{
		padding: 7px;
	}
	.main-slider .slick-dots button
	{
		height: 6px;
		width: 6px;
	}
	.body-main #all-header
	{
		height: 60px;
		padding-top: 8px;
	}
	.body-main #login-link
	{
		left: 15px;
		top: 10px;
	}
	.body-main #nav-toggle
	{
		right: 15px;
		top: 20px;
	}
	#logo
	{
		margin-top: 0;
	}
	#logo a
	{
		font-size: 22px;
		line-height: 100%;
	}
	#logo em
	{
		font-size: 11px;
	}
	.body-main #all-header.fixed-theme .header-link
	{
		margin-top: 5px;
	}
	#all-header.fixed-theme #logo
	{
		margin-top: 3px !important;
	}
	.main-roundtour
	{
		max-width: 360px;
	}
}
@media screen and (max-width: 767px)
{
	.main-roundtour
	{
		max-width: 100%;
	}
	.hotel-header
	{
		padding: 25px 0;
	}
	.hotel-name
	{
		line-height: 120%;
	}
	.hotel-breadcrumbs
	{
		margin: 10px 0;
	}
	.text-right-no-xs
	{
		text-align: left;
	}
	.hotel-slider
	{
		margin-bottom: 10px;
		padding-bottom: 0;
	}
	.hotel-slider .slick-dots
	{
		bottom: 15px;
	}
	.hotel-slider .slick-dots button
	{
		background: transparent;
		border: 1px solid #0e0d0d;
	}
	.hotel-slider .slick-dots .slick-active button,.hotel-slider .slick-dots button:hover
	{
		background: #3f3f3f;
		border-color: #3f3f3f;
	}
	.sub-header_hotel
	{
		height: 160px !important;
	}
	#hotel-tabs
	{
		display: none !important;
	}
	.tab-xs-header
	{
		background: #a6bfde;
		color: #fff;
		display: block;
		font-family: 'Roboto';
		font-size: 16px;
		overflow: hidden;
		padding: 15px;
		text-decoration: none;
	}
	.tab-xs-header .icon
	{
		display: inline-block;
		float: right;
		font-size: 22px;
		height: 16px;
		margin-top: -6px;
	}
	.tab-xs-header:hover
	{
		color: #fff;
		text-decoration: none;
	}
	.tab-xs-header_active
	{
		background: #7e93ad;
		font-weight: 700;
	}
	#hotel .tab-pane
	{
		padding: 0;
	}
	#hotel .tab-pane h2
	{
		font-size: 24px;
		font-weight: 700;
		margin: 20px 0;
		padding: 0 15px;
	}
	#hotel #info
	{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.hotel-xs-city
	{
		width: 100%;
	}
	.hotel-xs-city sub
	{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	.search-hotel--filter
	{
		padding: 0;
	}
	.search-hotel--filter .row>div
	{
		padding: 0;
	}
	.search-hotel--filter .input-group.date
	{
		margin-bottom: 0;
		padding: 0 15px;
	}
	.search-hotel--filter .x-input-dd
	{
		border-top: none;
		color: #b37653;
		margin-top: 0;
		width: 100%;
	}
	.search-hotel--filter .search-hotel--filter_time
	{
		padding: 0 15px;
	}
	.search-hotel--filter .x-input-dd.x-text sub
	{
		padding: 0 35px 0 15px;
	}
	.search-hotel--filter .count-input
	{
		margin: 10px 0;
	}
	.search-hotel--filter .form-control
	{
		border-top: none;
		color: #b37653;
	}
	.search-hotel--filter .form-control:-moz-placeholder
	{
		color: #b37653;
	}
	.search-hotel--filter .form-control::-moz-placeholder
	{
		color: #b37653;
	}
	.search-hotel--filter .form-control:-ms-input-placeholder
	{
		color: #b37653;
	}
	.search-hotel--filter .form-control::-webkit-input-placeholder
	{
		color: #b37653;
	}
	.search-hotel--filter .input-group-addon
	{
		border-radius: 0;
		border-top: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.search-hotel--filter .btn-green
	{
		margin: 0;
	}
	.search-hotel--filter .xs-padding
	{
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 0 30px !important;
		-webkit-box-sizing: border-box;
		width: 100%;
	}
	.hotel-table
	{
		margin-bottom: 3px;
	}
	.hotel-table .info
	{
		color: #a39d8f;
		font-family: Georgia, serif;
		font-style: italic;
	}
	.hotel-comment--text
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hotel-comment--item
	{
		border-top: 1px solid #e0d8c5;
		margin: 0;
		padding: 15px 0 0;
	}
	.hotel-comment--item:last-of-type
	{
		border-bottom: 1px solid #e0d8c5;
	}
	.hotel-xs-padding
	{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hotel-options-xs-select--wrapper
	{
		position: relative;
		z-index: 2;
	}
	.hotel-options-xs-select
	{
		border: 1px solid #e2e2e2;
		color: #424242;
		display: block;
		font-family: 'Roboto';
		font-size: 14px;
		font-weight: 700;
		overflow: hidden;
		padding: 10px 20px;
	}
	.hotel-options-xs-select .icon
	{
		float: right;
	}
	.hotel-options-xs-select:hover
	{
		background: #e2e2e2;
		color: #424242;
		text-decoration: none;
	}
	.hotel-options-xs-select--submenu
	{
		background: #fff;
		border-color: #e2e2e2 !important;
		display: none;
		position: absolute;
		top: 42px;
		width: 100% !important;
	}
	.hotel-options-xs-select--submenu li
	{
		margin-right: 0 !important;
		padding-bottom: 0 !important;
		text-align: left !important;
	}
	.hotel-options-xs-select--submenu a
	{
		color: #616161 !important;
		padding: 10px 15px !important;
		text-decoration: none !important;
	}
	#hotel-options .tab-pane
	{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	#hotel-options .h-opt
	{
		width: 49% !important;
	}
	.block-hotel-comments
	{
		margin-top: 0;
		padding-bottom: 20px;
		padding-top: 0;
	}
	.block-hotel-comments h3
	{
		margin: 20px 0;
	}
	.block-hotel-comments--item
	{
		margin-bottom: 0;
	}
	.hotel-photos
	{
		margin-bottom: 40px;
	}
	.hotel-photos a
	{
		margin-bottom: 1%;
		margin-right: 1%;
		width: 49%;
	}
	.hotel-photos a:nth-child(2n)
	{
		margin-right: 0;
	}
	.hotel-beside h3
	{
		font-size: 20px;
	}
	#hotel-comment
	{
		width: 300px;
	}
	.hotel-addcomment-form .input-group--checkboxs li
	{
		float: none;
		width: 100%;
	}
	.hotel-addcomment-form .x-input-dd
	{
		width: 100%;
	}
	.body-main #all-header
	{
		background: #141414;
		height: 60px;
		padding-top: 8px;
	}
	#login-link
	{
		left: 15px;
		top: 10px !important;
	}
	#nav-toggle
	{
		right: 15px;
		top: 20px !important;
	}
	#logo
	{
		margin-left: 16.66666667%;
		margin-top: 0;
	}
	#logo a
	{
		font-size: 22px;
		line-height: 100%;
	}
	#logo em
	{
		font-size: 11px;
	}
	.main-slider
	{
		display: none;
	}
	.main-content
	{
		position: relative;
	}
	.main-content
	{
		overflow: hidden;
		padding-top: 60px;
		top: 0;
	}
	.main-content .container
	{
		padding: 0;
	}
	.main-roundtour
	{
		border-radius: 0;
		margin-top: 0;
		-moz-border-radius: 0;
		-moz-transform: skewY(0);
		-ms-transform: skewY(0);
		transform: skewY(0);
		-webkit-border-radius: 0;
		-webkit-transform: skewY(0);
	}
	.main-roundtour:before,.main-roundtour:after
	{
		-moz-transform: skewY(0);
		-ms-transform: skewY(0);
		transform: skewY(0);
		-webkit-transform: skewY(0);
	}
	.main-roundtour-content
	{
		margin: 0;
		padding: 15px 15px 30px;
		position: relative;
		z-index: 3;
	}
	.main-roundtour-content h2
	{
		margin: 10px 0 15px;
		text-align: left;
	}
	.roundtour-date
	{
		font-size: 13px;
	}
	.main-offer-wrapper
	{
		margin-top: 0;
	}
	.main-offer-wrapper h3
	{
		padding-left: 15px;
	}
	.main-offer-slider
	{
		background: #000;
		border-radius: 0;
		-moz-border-radius: 0;
		padding: 0;
		-webkit-border-radius: 0;
	}
	.ready-offer
	{
		border-radius: 0;
		margin: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.ready-offer--img
	{
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}
	.body-main footer
	{
		padding-top: 30px;
	}
	.roundtour-place--info{
		max-width:140px;
	}
	.roundtour-date--wrapper
	{
		background: #151515;
	}
	.roundtour-date--night
	{
		margin-left: 0;
		width: 100%;
	}
	.roundtour-date--content hr
	{
		margin: 15px 0;
		width: 100%;
	}
	.footer-main-top
	{
		display: none;
	}
	.body-main footer.fixed
	{
		position: relative;
	}
	.body-main .footer-container
	{
		height: 100%;
		position: relative;
	}
}
.ready-offer
{
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.28);
	display: block;
	height: 118px !important;
	margin: 5px 5px 10px;
	-moz-border-radius: 4px;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	overflow: hidden;
	position: relative;
	transition: all .3s ease;
	-webkit-border-radius: 4px;
	-webkit-transition: all .3s ease;
}
.ready-offer--img img
{
	display: block;
	height: auto;
	min-height: 100%;
	min-width: 100%;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	width: auto;
}