/*
 * This is a manifest file that'll be compiled into application, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require bootstrap.scss
*= require jasny-bootstrap.min.css
*= require bootstrap-datetimepicker.css
*= require selectize.bootstrap3.css
*= require fonts
*= require header
*= require footer
*= require x-input
*= require site
*= require slick
*= require jquery.fancybox
*= require new


 */

@import 'font-awesome';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
.hotel-slide a {
  display: block;
  position: relative;
  overflow: hidden;
  height:280px;
}

.hotel-slide img {
  min-width: 100%;
  min-height: 100%;
  width:auto;
  height:auto;
}

.hotel-photos a {
  display: inline-block;
  width: 12.3%;
  float: left;
  margin-right: .22%;
  overflow:hidden;
  height:100px;
  margin-bottom:2px
}

.hotel-photos img {
  min-width: 100%;
  min-height: 100%;
}



.hotel-options-list {
  margin: 40px 0 0;
  overflow: hidden;
}
