/* CSS Document */
.icons-sprite, .icons-aircraft, .icons-arrow-down_white, .icons-arrow-left, .hotel-slider .slick-prev, .icons-arrow-left_border, .icons-arrow-leftbig_white, .icons-arrow-right, .hotel-slider .slick-next, .icons-arrow-right_border, .icons-arrow-rightbig_white, .icons-calendar_orange, .icons-close_grey, .icons-close_orange, .icons-filter-beach, .icons-filter-class, .icons-filter-eat, .icons-filter-price, .icons-home, .icons-hotel-beach, .icons-hotel-info, .icons-hotel-pool, .icons-icons-left, .icons-location, .icons-location_orange, .icons-people-adult_orange, .icons-people-adult_white, .icons-people-adult_yellow, .icons-people-adultsm_orange, .icons-people-adultsm_white, .icons-people-adultsm_yellow, .icons-people-children_orange, .icons-people-children_white, .icons-people-children_yellow, .icons-people-childrensm_orange, .icons-people-childrensm_white, .icons-people-childrensm_yellow, .icons-plus_orange, .icons-plus_yellow, .icons-search, .icons-search_white, .icons-slider-filter, .icons-slider {
  background-image: image-url('icons-s305dd81baf.png');
  background-repeat: no-repeat;
}

.icons-aircraft {
  background-position: 0 0;
  height: 14px;
  width: 13px;
}

.icons-arrow-down_white {
  background-position: 0 -14px;
  height: 18px;
  width: 10px;
}

.icons-arrow-left, .hotel-slider .slick-prev {
  background-position: 0 -32px;
  height: 17px;
  width: 30px;
}

.icons-arrow-left_border {
  background-position: 0 -49px;
  height: 19px;
  width: 19px;
}

.icons-arrow-leftbig_white {
  background-position: 0 -68px;
  height: 93px;
  width: 21px;
}

.icons-arrow-right, .hotel-slider .slick-next {
  background-position: 0 -161px;
  height: 17px;
  width: 30px;
}

.icons-arrow-right_border {
  background-position: 0 -178px;
  height: 19px;
  width: 19px;
}

.icons-arrow-rightbig_white {
  background-position: 0 -197px;
  height: 93px;
  width: 21px;
}

.icons-calendar_orange {
  background-position: 0 -290px;
  height: 20px;
  width: 20px;
}

.icons-close_grey {
  background-position: 0 -310px;
  height: 22px;
  width: 22px;
}

.icons-close_orange {
  background-position: 0 -332px;
  height: 13px;
  width: 13px;
}

.icons-filter-beach {
  background-position: 0 -345px;
  height: 13px;
  width: 24px;
}

.icons-filter-class {
  background-position: 0 -358px;
  height: 20px;
  width: 14px;
}

.icons-filter-eat {
  background-position: 0 -378px;
  height: 21px;
  width: 25px;
}

.icons-filter-price {
  background-position: 0 -399px;
  height: 15px;
  width: 13px;
}

.icons-home {
  background-position: 0 -414px;
  height: 14px;
  width: 16px;
}

.icons-hotel-beach {
  background-position: 0 -428px;
  height: 45px;
  width: 46px;
}

.icons-hotel-info {
  background-position: 0 -473px;
  height: 43px;
  width: 39px;
}

.icons-hotel-pool {
  background-position: 0 -516px;
  height: 44px;
  width: 45px;
}

.icons-icons-left {
  background-position: 0 -560px;
  height: 24px;
  width: 14px;
}

.icons-location {
  background-position: 0 -584px;
  height: 13px;
  width: 10px;
}

.icons-location_orange {
  background-position: 0 -597px;
  height: 17px;
  width: 17px;
}

.icons-people-adult_orange {
  background-position: 0 -614px;
  height: 31px;
  width: 14px;
}

.icons-people-adult_white {
  background-position: 0 -645px;
  height: 31px;
  width: 14px;
}

.icons-people-adult_yellow {
  background-position: 0 -676px;
  height: 31px;
  width: 14px;
}

.icons-people-adultsm_orange {
  background-position: 0 -707px;
  height: 37px;
  width: 16px;
}

.icons-people-adultsm_white {
  background-position: 0 -744px;
  height: 36px;
  width: 16px;
}

.icons-people-adultsm_yellow {
  background-position: 0 -780px;
  height: 37px;
  width: 16px;
}

.icons-people-children_orange {
  background-position: 0 -817px;
  height: 21px;
  width: 10px;
}

.icons-people-children_white {
  background-position: 0 -838px;
  height: 21px;
  width: 10px;
}

.icons-people-children_yellow {
  background-position: 0 -859px;
  height: 21px;
  width: 10px;
}

.icons-people-childrensm_orange {
  background-position: 0 -880px;
  height: 25px;
  width: 13px;
}

.icons-people-childrensm_white {
  background-position: 0 -905px;
  height: 26px;
  width: 13px;
}

.icons-people-childrensm_yellow {
  background-position: 0 -931px;
  height: 25px;
  width: 13px;
}

.icons-plus_orange {
  background-position: 0 -956px;
  height: 10px;
  width: 10px;
}

.icons-plus_yellow {
  background-position: 0 -966px;
  height: 10px;
  width: 10px;
}

.icons-search {
  background-position: 0 -976px;
  height: 28px;
  width: 30px;
}

.icons-search_white {
  background-position: 0 -1004px;
  height: 23px;
  width: 22px;
}

.icons-slider-filter {
  background-position: 0 -1027px;
  height: 31px;
  width: 31px;
}

.icons-slider {
  background-position: 0 -1058px;
  height: 33px;
  width: 33px;
}

.icons-sprite, .icons-aircraft, .icons-arrow-down_white, .icons-arrow-left, .hotel-slider .slick-prev, .icons-arrow-left_border, .icons-arrow-leftbig_white, .icons-arrow-right, .hotel-slider .slick-next, .icons-arrow-right_border, .icons-arrow-rightbig_white, .icons-calendar_orange, .icons-close_grey, .icons-close_orange, .icons-filter-beach, .icons-filter-class, .icons-filter-eat, .icons-filter-price, .icons-home, .icons-hotel-beach, .icons-hotel-info, .icons-hotel-pool, .icons-icons-left, .icons-location, .icons-location_orange, .icons-people-adult_orange, .icons-people-adult_white, .icons-people-adult_yellow, .icons-people-adultsm_orange, .icons-people-adultsm_white, .icons-people-adultsm_yellow, .icons-people-children_orange, .icons-people-children_white, .icons-people-children_yellow, .icons-people-childrensm_orange, .icons-people-childrensm_white, .icons-people-childrensm_yellow, .icons-plus_orange, .icons-plus_yellow, .icons-search, .icons-search_white, .icons-slider-filter, .icons-slider {
  display: inline-block;
}

.design {
  background: image-url("design-tour.jpg") top center no-repeat;
  top: -12px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1670px;
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  z-index: 2;
}

.tour-page {
  padding: 22px 0 0;
}
@media (min-width: 992px) and (max-width: 1440px) {
  .tour-page .container {
    width: 970px;
  }
}
.tour-page--title {
  color: #323232;
  font-size: 30px;
  font-family: "Museo Sans";
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  margin: 10px 0 0;
}
.tour-page--location {
  margin: 2px 0;
  font-size: 14px;
  line-height: 120%;
  font-family: "Roboto";
}
.tour-page--rating {
  display: inline-block;
}
.tour-page--rating .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
.tour-page--rating .stars li {
  float: left;
  list-style-type: none;
  font-size: 16px;
  color: #f7e187;
  margin: 0 2px 0 5px;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.tour-page--rating .number {
  color: #626262;
  font-family: "Roboto";
  font-size: 19px;
  line-height: 100%;
  margin: 0 10px;
  display: inline-block;
}
.tour-page--rating:hover .stars li {
  color: #f99f12;
}
.tour-page--infoafter {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tour-page--stages {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tour-page--stages li {
  float: left;
  list-style-type: none;
}
.tour-page--stage {
  display: inline-block;
  width: 31px;
  height: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e0d8c5;
  -moz-border-radius: 31px;
  -webkit-border-radius: 31px;
  border-radius: 31px;
  text-align: center;
  line-height: 31px;
  color: #cdc6b2;
  font-family: "Museo Sans";
  font-size: 14px;
  background: #fff;
  margin-right: 18px;
  position: relative;
}
.tour-page--stage:last-child {
  margin-right: 0;
}
.tour-page--stage:before {
  content: '';
  width: 18px;
  height: 1px;
  background: #e0d8c5;
  display: inline-block;
  position: absolute;
  right: 100%;
  top: 50%;
  margin: -1px 1px 0 0;
}
.tour-page--stage:first-child:before {
  display: none;
}
.tour-page--stage_current {
  width: auto;
  background: #ebe5d6;
  border-color: #ebe5d6;
  color: #8f8c83;
  font-weight: 700;
  padding: 0 20px;
}
.tour-page-price {
  margin: 15px 0;
  font-family: "Roboto";
  display: inline-block;
  width: 100%;
}
.tour-page-price--header {
  font-size: 14px;
  color: #7694b0;
  margin-bottom: 5px;
}
.tour-page-price--info {
  overflow: hidden;
  width: 100%;
}
.tour-page-price--info-content {
  float: left;
  max-width: 350px;
  width: 100%;
  margin-right: 18px;
}
.tour-page-price--info-button {
  overflow: hidden;
  padding-top: 7px;
}
.tour-page-price .price {
  font-size: 61px;
  color: #7694b0;
  font-weight: 700;
  line-height: 100%;
  display: inline-block;
  margin-bottom: 10px;
}
.tour-page-price .price .fa {
  font-size: 56px;
  float: right;
  margin: 6px 0 0 13px;
}
.tour-page--includes {
  position: relative;
  color: #9f977f;
  font-size: 14px;
  line-height: 120%;
  padding-left: 55px;
  margin: 5px 0 0;
}
.tour-page--includes:before {
  content: '';
  display: inline-block;
  background: image-url("hotel-tours-info.png");
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}
.tour-page-buy {
  font-family: "Museo Sans";
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}