<!DOCTYPE html>
<html>
<head>
<title>Письмо</title>
<meta name="name" charset="utf-8" content="content">
<link rel="stylesheet" href="https://poedemvtour.ru/stylesheets/master.css" media="screen" title="no title" charset="utf-8">

</head>

<body>


<div class="container">
  <div class="header">
    <div class="title">
      <h2><span class="defis"></span>ПОЕДЕМ В ТУР<span class="defis"></span></h2>
    </div>
    <h4 class="subtitle">Мобильный туроператор</h4>
  </div>

  <div class="mainBody">
    <div class="top">
      <div class="white">

      </div>
    </div>
    <div class="mailContent">
      <div class="inside">
        <h3>Завершите оплату заказа</h3>
        <p class="textContent">
          <%= yield %>
        </p>
      </div>
    </div>

    <div class="backBlue">

    </div>

    <div class="frontleftBlue">
      <div class="leftInfo">
        <p class="leftInfoText">
          С уважением
        </p>
        <p class="leftInfoText">
          администрация
        </p>
        <p class="leftInfoText">
          poedimvtour.ru
        </p>
      </div>

    </div>
    <div class="frontrightBlue">
      <div class="rightInfo">
        <p class="rightInfoTextEmail">
          zakaz@poedimvtour.ru
        </p>
        <p class="rightInfoTextNumber">
            <span class="iconwhatsapp"></span>8 800 555 35 35
        </p>
        <ul class="rightInfoText">
          <li style="background:url(https://poedemvtour.ru/img/fb.png);background-size:100% 100%;
          background-repeat:no-repeat;text-align:center;
          width:12px;
          "></li>
          <li style="background:url(https://poedemvtour.ru/img/yt.png);background-size:100% 100%;
          background-repeat:no-repeat;text-align:center;
          width:30px;
          "></li>
          <li style="background:url(https://poedemvtour.ru/img/insta.png);background-size:contain;
          background-repeat:no-repeat;text-align:center;
          "></li>
          <li style="background:url(https://poedemvtour.ru/img/vk.png);background-size:contain;
          background-repeat:no-repeat;text-align:center;
          "></li>
        </ul>
      </div>

    </div>

    <div class="mailFooter">
    </div>

</div>
<p class="lastText">
  Это письмо было сгенерировано автоматически
</p>

<div class="back">

</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter37331565 = new Ya.Metrika({
                    id:37331565,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/37331565" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>
